<!--  首页底部 -->
<div class="homepagebottom phbordert">
<a href="/carts.jspx" id="carts-number" class="unline" 
style="display:block; height:12px; background:#ff4b54; line-height:12px; z-index:5; width:16px;border-radius: 8px;
           position:absolute; left: 63%;top:3px;color:#ffffff; text-align:center; font-weight:normal;font-size:7px">0</a>
  <a class="unline phimg hpbtab1" href="/index.jspx"></a>
  <a class="unline phimg hpbtab4" href="/category.jspx"></a>
  <a class="unline phimg hpbtab2" href="/carts.jspx"></a>
  <a class="unline phimg hpbtab3" href="/orders.jspx"></a>
</div>
 <script type="text/javascript">
        $("#carts-number").html(Blsm.Obj.cart.productsCount());
</script>