
<style type="text/css" media="screen">
.hpbtab1{ float:left; width:25%; text-align: center; height:40px; background:url(http://h5.4007060700.com/assets/home_n-dc48f325ad8b148f6ec53391f3e8b8d6.png) no-repeat;background-size:auto 32px;background-position: center}
.hpbtab2{ float:left; width:25%; text-align: center; height:40px;background:url(http://h5.4007060700.com/assets/cart_n-cc1a54c648c175a0891a5933a94f3af1.png) no-repeat;background-size:auto 32px;background-position: center}
.hpbtab3{ float:left; width:25%; text-align: center; height:40px;background:url(http://h5.4007060700.com/assets/list_p-4d66d1e31c37411376534381e6a25499.png )no-repeat;background-size:auto 32px;background-position: center}
</style>
<nav id="shop_nav">
  <div class="shop_navlogo" style="background-color:#FF7F00;">
      <div class="div_navlogo" onclick="window.location.href='/index.jspx'">
		<img class="navlogo" src="/r/imgs/lianmenglogo-66dc2255b52c37a5b2a69e5fac122bb4.png" alt="Lianmenglogo">
      </div>
      <div onclick="window.location.href='/index.jspx'" class="shop_nav_name">桔色春雪</div>
      <div onclick="window.location.href='/index.jspx'" style="float: right; margin-right: 18px;">进入店铺</div>
    	<div onclick="window.location.href='/index.jspx'" style="clear: both"></div>
  </div>
</nav>