<DIV class="clear homepagebanner phbordert phborderb">
<DIV class="swiper-container">
<DIV class="swiper-wrapper">
<#list ads as ad>
	<#if ad.bind_flag == 1>
		<DIV class="swiper-slide" data-href="/detail.jspx?item_id=${ad.bind_id}">
			<IMG alt="${ad.remark}" src="${ad.pic_url}">             
		</DIV>
	<#else>
		<DIV class="swiper-slide" data-href="/article.jspx?articleid=${ad.bind_id}">
			<IMG alt="${ad.remark}" src="${ad.pic_url!}">             
		</DIV>
	</#if>          
</#list>
</DIV>
<DIV class="swiper-pagination"></DIV>
</DIV>
</DIV>