
<DIV class="hp_logo" style="background-color:#FF7F00">

<DIV class="hp_logoicon">
	<DIV class="phimgborder_df" onclick="window.location.href='/index.jspx'"><IMG 
	alt="Lianmenglogo" src="/r/imgs/lianmenglogo-66dc2255b52c37a5b2a69e5fac122bb4.png"> 
	 </DIV>
 </DIV>
 
<DIV class="hp_logotext" >
<P class="hp_logotitle"><SPAN class="hp_logotl">桔色春雪</SPAN><SPAN 
class="hp_logotr">
<BUTTON class="button small"  id="contact-shopkeeper-btn" style="display:none;">联系店主</BUTTON></SPAN></P>
<P class="clear hp_logocontent" >严选品牌正品，7天无理由退换货，全国支持货到付款，守望幸福，桔色更懂您！</P>
</DIV>

</DIV>