/*----------------------------------------
Name: global.css
Developed by: jskj
Date Created: 2010-05-02
Last Updated: 2010-05-28
Copyright: jskj
----------------------------------------*/

@charset "utf-8";
/* Elements
----------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,lable,textarea,p,blockquote,img{margin:0;padding:0;}
img{border:none; float:none;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
body{color:#848484;margin:0 auto; padding:0; font:12px/1.5 Tahoma,"hiragino sans gb",Helvetica,Arial;line-height:1.6;}
select,input{vertical-align:middle; padding:1px 0;}
label {cursor:hand;}
img{ border: none;}
ul,li{  list-style-type:none;}
hr{ display:none;}
table{border-collapse:collapse;}

/* Link Styles
----------------------------------------*/
a{color: #848484; text-decoration: none;}
a:visited{color: #848484; text-decoration: none;}
a:hover{color: #a51c30; text-decoration: underline;}
a:active{color: #848484; text-decoration: none;}
.red,a.red:link,a.red:visited{color:#f54100;}/*内页桔红色字体*/
.black,a.black:link,a.black:visited{color:#000;}
.white,a.white:link,a.white:visited{color:#fff; text-decoration:none;}
a.white:hover{color:#ff0;}
.blue,a.blue:link,a.blue:visited{color:#004b8b; font-weight:bold; font-size:12px;}


/* Standard Definitions
----------------------------------------*/
.center{margin:0 auto;}
.g_t_l{text-align:left;}
.g_t_c{text-align:center;}
.g_t_r{text-align:right;}
.g_t_j{text-align:justify;}
.g_v_t{vertical-align:top;}
.g_v_m{vertical-align:middle;}
.g_v_b{vertical-align:bottom;}
.relative{position:relative; z-index:1;}
.absolute{position:absolute;}

.fl{float:left;}
.fr{float:right;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.pr10{padding-right:10px;}
.mr10{margin-right:10px;}
.box:after{content:"\0020";display:block;height:0;clear:both;}
.mr5{margin-right:5px;}
.hide{display:none;}
.block{display:block;}
.mb10{margin-bottom:10px;}

/* fonts Styles
----------------------------------------*/
.gray{color:#ccc;}
.red{color:#ff0000;}

.clear{clear:both; height:0; overflow:hidden;}
.inline{display:inline;}
.pagination{height:30px; line-height:30px;; text-align:center; clear:both; margin-top:10px;}
.u-input{background:url(../img/guestbook/input-bg.gif) repeat-x; height:25px; border:1px solid #babdbd;}