@charset "utf-8";
/* CSS Document */

/***************************************

	Theme Name: Remal

	Description: wine
	Author: jiuxf
	Author URI: http://q.jiuxf.cn/
	Version: V 2.0

	Tags: two-columns, fixed-width, custom-background, threaded-comments, translation-ready, custom-menu
***************************************/

*{
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
	border: 0 none;
}
body {
	background:url(../imgs/body-bg1.png);
	color: #767676;
    font: 13px Arial,Helvetica,sans-serif;
	line-height:20px;


}

h1, h2, h3,h4, h5, h6 { font-weight:normal;}

.alignright {float: right;}
.alignleft {float: left;}
.aligncenter{
	clear:both;
	margin-left:auto;
	margin-right:auto;
}
a {
	color: #646466;
	text-decoration: none;
}
a:hover {
  color: #1780e2;
}
.clear {clear: both;}

textarea, input[type=text], input[type=password], input[type=email], select {
	border: 1px solid #ccc;
	font-size: inherit;
}
input, select {
	cursor: pointer;
}
input[type=text], input[type=password], input[type=email] {
	cursor: text;
}
textarea {
	overflow:auto;
}
textarea, input {
	padding: 5px;
	outline: none;
}
select {
	padding: 2px;
}
option {
	padding: 0 4px;
}
input[type=button], button {
	padding: 4px;
	cursor: pointer;
	vertical-align: middle;
}
input.text_input,textarea.textarea {
	border: 1px solid #ccc;
     -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
          border-radius: 1px;
}
input.text_input:focus,textarea.textarea:focus {
	border: 1px solid #999;	
}

::-moz-selection , ::selection{ background: #ffa37f; color: #fff; text-shadow: none; }


/* ---------------------------------------------
 Main Wrapper Style
------------------------------------------------ */

.wrapper {
	position:relative;
	z-index:1;
}
.container{
	margin:0 auto;
}


/* ---------------------------------------------
 Header
------------------------------------------------ */

.header {
	background:url(../imgs/bg_header.png) repeat-x top left;
	height:52px;		
	z-index:99;
	position:relative;

}
.header-content{
	margin:0px auto;
	padding:0px 0px 0px 0px;
	position:relative;
}
.logo{
	float:left;
}
#main-nav{
	float:left;
	margin:0px 0px 0px 30px;
}
.menu{
	list-style:none;
}
.menu a{
	float:left;
	display:block;
	margin:0px 20px 0px 0px;
	height:44px;
	color:#d4d4d4;
	font-size:18px;
	font-weight:bold;
	line-height:44px;
	font-family:'Microsoft YaHei';
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);

}
.menu .current-menu{
	color:#FFF;
}
#searchform {
	width:120px;
}
#txtKey{
	float:left;
	background:none;
	border:none;
	width:86px;
	color:#787878;
	font-size:12px;
	line-height:14px;
	padding:7px 0px 0px 0px;
}

#search-btn{
	float:left;
	background-position:-18px 0px;
	border:none;
	position:absolute;
	top:6px;
	right:10px;
}
/* ---------------------------------------------
 Button
------------------------------------------------ */
.button_left,.button_right,.button_balk_left,.button_balk_right{
	position:relative;
	height:32px;
}
.button_left{
	float:left;
	padding-left:16px;
	background:url(../imgs/button_left.png) no-repeat 0px -1px;
}
.button_right{
	float:right;
	padding-right:16px;
	background:url(../imgs/button_right.png) no-repeat  right -1px;
}
.button_balk_left{
	float:left;
	padding-left:16px;
	background:url(../imgs/button_left.png) no-repeat 0px -37px;
}
.button_balk_right{
	float:right;
	padding-right:16px;
	background:url(../imgs/button_right.png) no-repeat  right -37px;
}
.button_Orange_left,.button_Orange_right{
	position:relative;
	background:url(../imgs/input.png) no-repeat;
	height:34px;
}
.button_Orange_left{
	display:block;
	float:left;
	padding-left:25px;
	background-position:0px -109px;
}
.button_Orange_right{
	float:right;
	padding-right:25px;
	background-position:right -109px;
	font-size:16px;
	color:#FFF;
	font-weight:bold;
	line-height:34px;
}
.nav_button_bule{
	position:relative;
	padding:12px 0px 12px 20px;
}
.button_bule a{

    background-color: #2596E6;
    background-image: -moz-linear-gradient(center top , #2F9EEC, #1988D6);
    border-color: #2F9EEC #1988D6 #1988D6;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
	font-size:18px;
	height:18px;
	font-weight:bold;
	padding:6px 40px;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.1s ease-out 0s;
}
#button_bule{
	font-family:'Microsoft YaHei';

    background-color: #2596E6;
    background-image: -moz-linear-gradient(center top , #2F9EEC, #1988D6);
    border-color: #2F9EEC #1988D6 #1988D6;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
	font-size:18px;
	height:40px;
	font-weight:bold;
	padding:6px 20px;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.1s ease-out 0s;
}
#nav_box .button_bule a{
	clear:both;
	font-family:'Microsoft YaHei';
}
/* ---------------------------------------------
icon
------------------------------------------------ */
.icon18{
	background:url(../imgs/icon_18.png) no-repeat;
	display:block;
	height:18px;
	width:18px;
}
.login{
	background-position:0px 0px;
	position:absolute;
	top:5px;
	right:7px;
	z-index:2;
}
.register{
	background-position:0px -36px;
	position:absolute;
	top:5px;
	right:7px;
	z-index:2;
}
.member_out{
	background-position:-18px -36px;
	position:absolute;
	top:5px;
	right:7px;
	z-index:2;
}
.member_center{
	background-position:0px -18px;
	position:absolute;
	top:5px;
	right:7px;
	z-index:2;
}
.entry-visits{
	background-position:-54px 0px;
}
.entry-comments{
	background-position:-72px 0px;
}
.follow{
	background-position:-36px 0px;
}
.favorite{
	background-position:-90px -36px;
}
.comments{
	background-position:-72px -36px;
}
.visits{
	background-position:-54px -36px;
}
.share_weibo{
	background-position:-108px -36px;
}
/* ---------------------------------------------
distance
------------------------------------------------ */
.r_3{
	margin-right:3px
}
.r_6{
	margin-right:6px
}
.r_12{
	margin-right:12px
}
.b_15{
	margin-bottom:12px;
}
.lr{
	margin:0px 45px 0px 160px
}
.t_28{
	margin:24px 0px 0px 0px
}
.t_8{
	margin:8px 0px 0px 0px
}
.lrt_22{
	margin:11px 22px 2px 22px
}
/* ---------------------------------------------
font
------------------------------------------------ */
.font12{
	font-size:12px;
	color:#b8b8b8;
	line-height:18px;
	font-family:"宋体"
}
.font15{
	font-family:'Microsoft YaHei';
	font-size:16px;
	font-weight:bold;
	color:#666666;
	line-height:20px;
}
.font13{
	font-size:13px;
	color:#b8b8b8;
	line-height:18px;
	font-family:"宋体";
	text-align:center;
}
/* ---------------------------------------------
container
------------------------------------------------ */

#container{
	position:relative;
	margin:0px auto;
}

.item, #nav_box{
	float:left;
	width:256px;
	border: 1px solid #d9d9d9;
	border-radius: 2px 2px 2px 2px;
	margin:0px 3px 6px 3px;	
	
}
.item{
	background:#FFF;
}
#nav_box{

}
	
.item-list{
	box-shadow: 0 0px 0px 0px #dfdfdf;
}
.post-inner{
	padding:15px;
}
.post-inner p{
	font-family:"宋体";
	margin:0px 0px 18px 0px;
	max-height:82px;
	overflow:hidden;
}
.post-inner img{
	height:auto !important;
	max-width:100%;
}
.thumb_img{
	margin:0px 0px 16px 0px;
	display:block;
}
.entry-title{
	font-size:16px;
	color:#747577;
	font-weight:bold;
	line-height:20px;
	font-family:'Microsoft YaHei';
}
.entry{
	margin:16px 0px 6px 0px;
	text-align: justify;
	height:auto;
	overflow:hidden;
}
.post-footer{
    border-top: 1px solid #eaeaea;
	background:#f7f7f7;
    color: #999999;
    font-size: 12px;
    overflow: hidden;
    padding: 12px 11px;
    transition: all 0.4s ease 0s;
}
.avatar-30 img{
	width:32px;
	height:32px;
	border-radius: 3px 3px 3px 3px;
}
.author{
	width:180px;
	height:14px;
	line-height:14px;
	overflow:hidden;
	font-family:"宋体";
	margin:0px 0px 3px 0px;
}
.Switcher{
	position:absolute;
	right: 0px;
	top:100px;
	padding:12px;
	height:18px;
	z-index:999;

	
}
.Switcher a{
	font-size:15px;
	line-height:18px;
	color:#7d7d7d;
	font-weight:bold;
}
.Switcher span{
	float:left;
}

.tags a{
	float:left;
	font-size:13px;
	line-height:22px;
	text-align:center;
	padding:4px 8px;
	margin:0px 5px 6px 0px;
	border:1px solid #E7E7E7;
	border-radius: 2px 2px 2px 2px;
	color:#767676;
	
}
.tags a:hover{
	background-color: #2596E6;
    background-image: -moz-linear-gradient(center top , #2F9EEC, #1988D6);
    border-color: #2F9EEC #1988D6 #1988D6;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.1s ease-out 0s;
}
.banner{
	background:#FFF;
	margin:20px auto 30px auto;
	width:1056px;
	height:72px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	font-size:22px;
	font-weight:bold;
	font-family:'Microsoft YaHei';
	line-height:72px;
	text-align:center;
	color:#2594e2;
	border-radius: 2px 2px 2px 2px;
}
.load{
	background:#FFF;
	margin:15px auto 10px auto;
	width:1078px;
	height:32px;
	line-height:32px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	font-size:12px;
	line-height:32px;
	text-align:center;
	font-family:"宋体";
}
.footer{
	border-top:1px solid #d9d9d9;
	background:#FFF;
	width:100%;
	padding:25px 0px 25px 0px;
	text-align:center;
	line-height:22px;
	font-size:12px;
	font-family:"宋体";
	color:#7b7b7b;
}
.footer a{
	color:#7b7b7b;
	
}
	
#goTop {
	background:url(../imgs/jiuxf.png) 0px 0px no-repeat;
    bottom: 0;
    cursor: pointer;
    display: none;
    height: 47px;
    position: fixed;
    right: 0;
    width: 47px;
    z-index: 100;
}

.detailed{
	float:left;
	width:770px;
	border: 1px solid #d9d9d9;
	border-radius: 2px 2px 2px 2px;
	margin:0px 5px 10px 5px;	
	background:#FFF;
    box-shadow: 0 1px 2px 1px #E0E0E0;
	padding:0px 15px;
}

	
.detailed_tool div{
	float:left;
	border-right:1px solid #dedede;
	width:62px;
	height:60px;
	font-size:12px;
	font-family:"宋体";
	text-align:center;
	color:#666666;
}
	
.detailed_tool div span{
	margin:11px 22px 2px 22px;
}
	

.Ranking li{
	height:26px;
}
.Ranking li a{
	font-family:"宋体";
	line-height:24px;

}
.Ranking li a:hover{
	color:#1780e2
}
.Rlsuser{
	margin:0px 20px 15px 20px;
	border-bottom:1px solid #dedede;
	padding:0px 0px 9px 0px 
}
.Rlsuser span{
	font-family:"宋体";
	color:#999999;
	font-size:12px;
}
.Rlsuser h2{
	font-size:24px;
	margin:9px 0px 12px 0px;
	font-weight:bold;
	font-family:'Microsoft YaHei';
	color:#4390ef;
	}

.article_tite{
	border-bottom:1px solid #E4E4E4;
}

.detailed_content img{
	height:auto;
	margin:10px 0px;
}
.content{
	text-indent: 20pt;
	margin:12px 0px 0px 0px;
	padding:24px 0px;
	color:#494949;
	font-size:16px;
	line-height:30px;
	text-align:justify;
	text-justify:inter-ideograph;
	border-top:1px solid#D7D7D7;
}
	

.content div,.content p{
	padding:10px 0px;

}
.licontent{
	border-top:1px solid #dedede;
	padding:15px 0px 0px 0px;
	margin:20px 0px 0px 0px
}

.cinput{
	width:750px;
	height:60px;
}
#coment_test{
	margin:15px 0px 15px 0px;
}
.coment_test img{
	height:24px;
	width:auto;
}

#commentListContainer{
	margin:15px 0px 0px 0px;
	border-top:1px solid #dedede;
	font-family:"宋体";
	padding:15px 0px 0px 0px;
}
#commentListContainer dt,#commentListContainer dd{
	height:24px;
	line-height:24px;
}
#commentListContainer dt{
	color:#B8B8B8;
}
#commentListContainer dd{
	border-bottom:1px solid #dedede;
	margin-bottom:12px;
	padding-bottom:6px;
}
.licontent #commentListContainer .line{
	height:0px;
	padding:0px 0px 0px 0px;
	border:none;
}

.topbg{

}




.member_img img{
	margin:0px 0px 10px 74px;
	border-radius: 82px 82px 82px 82px;
	width:82px;
	height:82px;
}

.mc_content{
	min-height:600px;
	margin:0px 0px;
	padding:0px 0px 0px 0px;
	font-family:"宋体";
	font-size:13px;
	color:#939393;
}
.mc_content table{
	width:100%;
}
	
.mc_content table td{

	padding:15px 20px;
}
	
	
.page iput{
	border: 1px solid #E7E7E7;
    border-radius: 2px 2px 2px 2px;
	background:#FFF;
    color: #767676;
    float: left;
    font-size: 13px;
    line-height: 24px;
    margin: 0 5px 8px 0;
    padding: 5px 10px;
    text-align: center;
}
	
	
.member_button{
	background:url(../imgs/button.png) no-repeat 0px 0px;
	height:24px;
	width:56px;
	text-align:center;
	color:#FFF;
	line-height:24px;
}
.member_button1{
	background:url(../imgs/button.png) no-repeat -69px 0px;
	height:24px;
	width:64px;
	text-align:center;
	color:#6c6c6c;
	line-height:24px;
}
	
	
.mainframe .WB_loginButton{
	margin:15px 0px 0px 120px;
}
