@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */


.bg_ej{background:url(/r/cms/www/imgs/bg.png) repeat-x 0px -612px; width:100%; height:53px; padding:20px 0px}
.lmjs_ej{background:url(/r/cms/www/imgs/bg_ej.png) no-repeat top left; width:980px; height:53px; margin:0px  auto; width:980px;  position:relative}
.lmjs_ej span{ position:relative; display:block; padding:16px 0px 0px 106px; color:#848484; font-size:12px}



.zuixinkecheng-ul2 {
	width:100%;height:170px;
	border:0px;
	padding:14px 0px 8px 0px;
}
.zuixinkecheng-ul {
	width:100%;height:140px;
	border:0px;
	padding:14px 0px 8px 0px;
}
.zuixinkecheng-ul li {
	padding:0px 20px;
	width:135px;	
	float:left
	
}
.zuixinkecheng-ul2 li {
	padding:0px 20px;
	width:152px;	
	float:left
	
}
.zuixinkecheng-ul2 img{padding:0px; border:4px solid #d9e0e6; width:152px; height:86px}
.zuixinkecheng-ul  img{padding:0px; border:4px solid #d9e0e6; width:135px; height:75px}



/*----------------------------------------
Name: layout.css
Developed by: jskj
Date Created: 2010-05-02
Last Updated: 2011-06-06
Copyright: jskj
----------------------------------------*/

@charset "utf-8";
@import url(global.css);


body{color:#787878; margin:0px auto; width:100%; font: 12px Tahoma,"hiragino sans gb",Helvetica,Arial}

h1,h2,h3,h4,h5,h6,p,input,form,ul,ol,li,dl,dt,dd,hr,td,th{
    margin: 0;
    padding: 0;
}

img{ border: none;}
ul,li{  list-style-type:none;}
hr{ display:none;}
table{border-collapse:collapse;}

/*共用
--------------------------------*/
a{color: #2E2E2E; text-decoration: none;}
a:visited{color: #2e2e2e; text-decoration: none;}
a:link{color: #2e2e2e; text-decoration: none;}
a:hover{color: #3c7dc1; text-decoration: underline;}
a:active{color: #848484; text-decoration: none;}
.ringt{float: right}
.left{float:left}
#left{float:left}
.clr{clear:both; padding:0px; margin:0px; line-height:0px; height:0px}
.wfont{font-size:12px; color:#FFF}
.mainframe{width:980px; margin:0px auto}
.frame1010{width:1040px; margin:0px auto}
#font12{font-size:12px; line-height:12px; margin-top:8px}

/*top
--------------------------------*/
.topbg{ background:#233a6e; width:100%; height:28px;color:#ffffff}
.topbg a, .topbg a:visited{color:#FFF; padding:8px 8px 8px 28px;line-height:12px; font-size:12px; font-family:"宋体"}
.topbg a:hover {color:#FFF; text-decoration:none;background-color: #182a51}

.toplogin{float:right;width:980px;eight:28px; padding:0px; margin:0px; display:block;line-height:28px}
.toplogin li{float:right; line-height:28px}
.toplogin li a{ display:block}
.dl_header{background: url(/r/cms/www/imgs/contactAdmin.png)  no-repeat 14px 9px}
.zc_header{background: url(/r/cms/www/imgs/register.png)  no-repeat 14px 9px}
.help-iocn{background: url(/r/cms/www/imgs/help.png)  no-repeat 14px 9px}
.follow a{padding:8px}
#loginCsiDiv a{float:right;display:block}
#loginCsiDiv{text-align:right}
.hyzx_header{background: url(/r/cms/www/imgs/contactAdmin.png)  no-repeat 14px 9px; padding: 8px 8px 8px 28px;}
.tcdl_header{background: url(/r/cms/www/imgs/tuichu.png)  no-repeat 14px 9px; padding: 8px 8px 8px 28px;}



.header{ width:100%;height:140px; width:auto;background:url(/r/cms/www/imgs/bg.png) repeat-x top left}
.logo{width:340px;height:87px;float:left;}
.searchbox {float: right;width: 465px;height:33px;background:url(/r/cms/www/imgs/master.png) no-repeat 0px -193px; margin-top:18px}
#search-text{ float :left;width:348px; height:33px;padding:0px 20px 0px 44px;font-size:12px;color:#848484; line-height:33px;border: none;background: none;-webkit-appearance: none}
#search-btn{ float: right;height:33px; width:50px }
.hottags{}
.hottags li{float:left; line-height:12px; height:12px; padding:8px 6px}
.hottags li a{color:#666666}



/*navi
--------------------------------*/


.mnavi {height:50px; width:980px;background:url(/r/cms/www/imgs/master.png) no-repeat 0px -230px; margin-top:3px; }
.mnavi a { float:left;height:50px; width:111px;}
.mnavi a:hover, .mnavi a.Current1, .mnavi a.Current2, .m navi a.Current3, .mnavi a.Current4, .mnavi a.Current5, .mnavi a.Current6{background:url(/r/cms/www/imgs/master.png) no-repeat 0px -284px; height:50px}
.mnavi a.Normal1:hover, .mnavi a.Current1 {background-position: 0px -284px; width:85px;}
.mnavi a.Normal2:hover, .mnavi a.Current2 {background-position: -85px -284px }
.mnavi a.Normal3:hover, .mnavi a.Current3 {background-position: -196px -284px; width:146px }
.mnavi a.Normal4:hover, .mnavi a.Current4 {background-position: -342px -284px }
.mnavi a.Normal5:hover, .mnavi a.Current5 {background-position: -453px -284px}
.mnavi a.Normal6:hover, .mnavi a.Current6 {background-position: -564px -284px; width:416px}
.mnavi a.Normal1{width:85px}
.mnavi a.Normal3{width:146px}
.mnavi a.Normal6{width:416px}



/*banner
--------------------------------*/


.bannerbg{width:100%; height:410px; overflow:hidden; position:relative; background:url(/r/cms/www/red/img/img_tq/bg.png) 0px -161px repeat-x;}
.showcase {
    margin: 18px auto 0px auto;
    padding: 0px;
    position: relative;
    width: 980px;
	height:389px;
	background:url(/r/cms/www/red/img/img_tq/bannerbg.png) no-repeat bottom left;
}
.showcase-arrow-next {
    background-position: right top;
    right:160px;
	
}
.showcase-arrow-previous, .showcase-arrow-next {
	background:url(/r/cms/www/red/img/img_tq/arrows.png) repeat scroll 0 0 transparent;   
    bottom: 35px;
    cursor: pointer;
    height: 19px;
    position: absolute;
    width: 11px;
    z-index: 55;
}
.showcase-arrow-previous {
	background-position:top left;
    left: 690px;
}
.showcase-arrow-next{ background-position:top right}

.showcase-button-wrapper {
    height: 0;
    margin: 0 auto;
    position: absolute;
    text-align: center;
	bottom:50px;
	right:195px;
    
}
.showcase-button-wrapper span {
    background: url(/r/cms/www/red/img/img_tq/bullets.png) no-repeat scroll left bottom transparent;
    cursor: pointer;
    display: inline-block;
    height: 11px;
    margin-right: 3px;
    padding-right: 2px;
    text-indent: -999999px;
    width: 10px;
}
.showcase-button-wrapper span.active {
    background: url(/r/cms/www/red/img/img_tq/bullets.png) no-repeat scroll left top transparent;
}

.showcase-content {
	color:#a6cdf5;
	line-height:18px;
	font-size:13px;
    height: 373px;
    width: 980px;
}
.showcase-content h2{ max-height:24px; max-width:267px; line-height:24px; font-size:16px; padding:0px; margin:0px; overflow:hidden}
.showcase-content h2 a{
	line-height:24px;
	font-size:16px;
	font-weight: 900;
	color:#FFF;
	text-decoration:none;
	
}
.slider-left {
    float: left;
    height: 373px;
    padding-left: 0px;
    width:665px;
}
.slider-right {
	background:url(/r/cms/www/red/img/img_tq/banner_leftbg.png) top left no-repeat;
    float:left;
	height:373px;  
    width:315px;
}
.teacher,.mrb{ float:left; padding:10px 20px 30px 0px}
.right-pind{padding:40px 24px 40px 24px; width:267px;height:200px !important; max-height:200px; overflow:hidden}
.button-bn{background:url(/r/cms/www/red/img/img_tq/banner_leftbg.png) -5px -391px no-repeat; width:206px; height:60px}
.button-bn a{width:206px; height:60px; display:block; }



/*border or padding
--------------------------------*/
.rltb_16{padding:16px}
.rl_16{padding:0px 16px}
.tb_16{padding:16px 0px}
.tm_m{margin:5px 0px}
.mb_16{margin:0px 0px 16px 0px}
#npad_l{padding-left:0px}

.boder_a{ border:1px solid #e8ecef}
.boder_r{ border-right:1px solid #e8ecef}
.boder_b{ border-bottom:1px solid #e8ecef}
.boder_tb{ border-top:1px solid #e8ecef;border-bottom:1px solid #e8ecef}
.boder_a3{ border:3px solid #e8ecef}
#nboder{border-right: none}

/*栏目框架
--------------------------------*/

.lmargain{ margin:0px 0px 0px 30px}
.left_bar{float:left; width:680px; margin:5px 8px 5px 0px;position:relative}
.left_bar650{float:left; width:650px; margin:5px 8px 5px 0px;position:relative}

.right_bar{float:left; width:314px; margin:5px 0px 5px 8px;position:relative}
.top_bar{ height:32px; background:url(/r/cms/www/imgs/bg.png) repeat-x 0px -573px; position:relative; padding:0px;}
.title{ float:left;font-size: 14px; height: 32px; line-height: 32px;overflow: hidden; padding: 0 0 0 16px; color:#2D2D2D}
.titlemore{font-size:12px; float:right; color:#ababab;padding: 0 16px 0 0px; height: 32px; line-height: 32px}
.titlemore a{color:#ababab}
.licontent{
	height:auto !important;
	padding:16px 16px;
	margin:0px 0px 0px;
	text-align:justify;
	line-height:24px;
	position:relative;
	display:block
}
.title3{ font-size:14px; line-height:14px; height:14px;display:block; font-weight:normal;margin:24px 0px 10px 0px;}
/*tags
--------------------------------*/
.litags li{float:left; height:28px; line-height:28px; margin:0px 8px 8px 0px; padding:0px 12px; background:#fcfcfc; border:1px #f1f1f1 solid}
.litags li a{color:#6467a9}



.zhongdian{clear:both; padding: 20px 16px 30px 16px; height:80px; border-bottom:1px #e8ecef solid}
.zhongdian div{ float:left}
.zhongdian h6{font-size:12px; font-weight:normal}
.zhongdian img{ float:left; width:94px; height:52px;border:1px #e5e5e5 solid; padding:4px; background:#f6f6f6; display:block}

.jsjs{clear:both; padding: 16px 16px 10px 16px; height:90px; border-bottom:1px #e8ecef solid}
.jsjs div{ float:left}
.jsjs h6{font-size:12px; font-weight:normal}
.jsjs img{ float:left; width:82px; height:82px;border:1px #e5e5e5 solid; padding:4px; background:#f6f6f6; display:block}


.righttitle{ float:left;width:134px; line-height:18px; margin:0px 0px 10px 10px; height:auto !important; max-height:36px; overflow:hidden;}
.righttitle2{ float:left;width:134px; line-height:18px; margin:20px 0px 10px 10px}

.Ranking{ background:url(/r/cms/www/imgs/hot.png) no-repeat 4px -33px; position:relative; clear:both; padding:0px 0px 16px 0px}
.Ranking li{ clear:both; height:38px !important; overflow:hidden; line-height:38px; border-bottom:1px solid #e8ecef;}
.Ranking li a{background:url(/r/cms/www/imgs/button.png) 100% -124px no-repeat;padding:0px 70px 0px 36px; display:block }
.Ranking li a:hover{background:url(/r/cms/www/imgs/button.png) 100% -84px no-repeat;padding:0px 70px 0px 36px; display:block }



.shuzi{ background:url(/r/cms/www/imgs/master.png) no-repeat -58PX -456PX; width:32px; height:32px; margin:16px 0px 0px}


.grid li{float: left; margin:16px 0px 16px 30px; line-height:21px; position:relative}
.grid li p{line-height:18px; height:18px; padding:0px; margin:0px; font-size:12px;font-weight:normal}
.grid li h6{font-size:12px; font-weight:normal}
.grid li h6 a,.grid li h6 a:hover{border:none; padding:0px 0px; margin:6px 0px 4px; background:none; width:100%; height:16px; line-height:16px; overflow:hidden}
.grid li span{width:100%}
.grid li a{border:1px #e5e5e5 solid; padding:7px 7px 7px 7px; background:#f6f6f6; display:block}
.grid li a:hover{border:1px #4084ca solid; background:#3d7fc3}
.grid_new {width:100%; height:230px !important; overflow:hidden}
.grid_new li{width:222px}
.grid_new li img{width:206px; height:116px}
.grid_normal{padding:0px; margin:0px; clear:both; height:214px !important; overflow:hidden; display:block}
.grid_normal li{width:196px}
.grid_normal li img {width:180px; height:101px}
.lilist li img{width:156px; height:86px}
.tagsnew{position:absolute; background:url(/r/cms/www/imgs/master.png) no-repeat 100% -99px; width:32px; height:32px; top:8px; right:8px; z-index:10px}
.lilist{margin:0px 0px 16px 0px; line-height:21px; position:relative}
.lilist li{clear:both; padding:0px 0px 20px 0px; border-bottom:1px #e5e5e5 solid;}
.listimg2{float:left; margin:4px 24px 0px 0px}
.listimg2 a:hover{border:1px #4084ca solid; background:#3d7fc3}
.listimg2 a{border:1px #e5e5e5 solid; padding:7px 7px 7px 7px; background:#f6f6f6; display:block}

/*bofang
--------------------------------*/
.vidoname{margin:30px 0px 0px 0px}
.vidoname div{ float:left;line-height:12px; padding:10px 0px 0px 20px; font-size:12px;}
.vidoname dt{float:left;font-size:24px; line-height:26px;  color:#2E2E2E}
.vidoname dd{float:right; margin-left:10px; font-size:18px}
.vidoname dd a{color:#3976b7; padding:6px 12px;}
.bofangtop{width:980px; height:488px; margin:16px 0px 5px 0px}
.flash{float:left; width:650px; height:488px; background:#f6f6f6; display:block}
.spxx{float:left; position:relative; width:328px; height:486px}
.spxx_lm{width:298px; height:auto !important; min-height:52px; background:url(/r/cms/www/imgs/bg_lm.png) repeat-x bottom; border-bottom:1px solid #e1e1e1}  
.spxx_sx{padding:0px 0px; display:block; width:618px; height:auto !important; height:38px; min-height:38px; margin:0px 0px 8px 0px}
.spxx_xz{padding:16px; width:298px; line-height:24px; height:auto !important; max-height:120px}
.spxx_sx li{float:left; line-height:14px;   padding:8px 16px 0px 0px;verflow:hidden}
.spxx_sx .small{width:185px}
.listtext1{float:left;line-height:21px; height:62px; font-size:12px; overflow:hidden; width:418px; text-align:justify; position:relative; margin:4px 0px 0px 0px}
.classdownload{margin:20px 0px 0px 0px;padding:0px 16px;}
.classdownload h2{ color:#2E2E2E; display:block; padding:0px 0px 8px 0px}
.classdownload a{line-height:26px; height:26px;  display:block }
.bqtgs{ margin:10px 0px 10px 0px}
.bqtgs .spxx_lm{ border-bottom:1px solid #e1e1e1;border-top:1px solid #e1e1e1; line-height:32px}
.bqtgs span{float:left}
.bqtgs a{float:left; padding-right:8px}

.gkdz{ position:absolute; bottom:68px;width:298px; height:73px; background:#3b7cbf;font-size:14px; color:#FFF; font-weight:900}
.gk{width:94px; float:left; height:41px; color:#FFF; border-right:1px solid #356ea9}
.gkgm{color:#d0e0f1; font-size:12px; font-weight:normal;line-height:12px}
.dz{ width:187px; float:left; padding:16px 0px 0px 16px}
.dz a, .gk a{ float:left; color:#FFF}
.dz a:hover,.gk a:hover{color:#ffc851}
.dz .dzsm{ background:none; width:187px; height:12px; font-size:12px; font-weight:normal; color:#85b1e0}
.dz span{float:left; width:18px; height:22px; background:url(/r/cms/www/imgs/master.png) no-repeat -9px -32px;}
.sc{ z-index:55px; position:absolute; bottom:0px; width:330px; height:68px;background:url(/r/cms/www/imgs/bg_lm.png) bottom repeat-x}
.sc div{float:left; width:109px; height:52px; padding:16px 0px 0px 0px; text-align:center; }
.sc div a{ padding:0px 0px 30px 0px}
.favorite{background:url(/r/cms/www/imgs/favorite.png) no-repeat bottom center}
.like{background:url(/r/cms/www/imgs/like.png) no-repeat bottom center}
.share{background:url(/r/cms/www/imgs/share.png) no-repeat bottom center}


.top_bar2{height:32px; background:#f2f7fc}
.top_bar3{height:32px; line-height:18px}
.top_bar3 span{float:left; padding:0px 16px 0px 0px}
.content{padding:10px 16px}
.teacher_img{float:left; margin-right:10px; border:3px solid #e1e1e1}
.text_in{text-indent:2em;color:#2E2E2E;display:block;margin-top:12px;}
.chapter{}
.chapter li{float:left; padding:0px 16px; width:36px; line-height:32px; border-right:1px solid #e1e1e1}
	
.chapter .chapter_curr{padding:0px 10px 0px 6px; width:52px; text-align:right}
.chapter_curr a{ padding:0px 0px 0px 14px; background:url(/r/cms/www/imgs/play.png) no-repeat left center;color: #3c7dc1;}


.title_l{font-size:14px; color:#233a6e;font-weight:600; line-height:32px}
.title_l a{color:#233a6e}
.title_l a:hover{color: #3c7dc1; text-decoration: underline;}
#title_p{font-size:14px; padding:0px; margin:0px 0px 0px 0px; color:#fe7c00;font-weight:600; line-height:18px; float:right}
.font_b_14{font-weight:900px; font-size:14px; color:#3f4042}
.font_w_14{font-weight:900px; font-size:14px; color:#FFF}
.font_w_12{font-weight:normal; font-size:12px; color:#FFF}


.orange{color:#fe7c00}

/*liebiao
--------------------------------*/
.comment_li{margin:10px 0px 0px 30px; width:980px; height:auto !important; min-height:32px; color:#2E2E2E; position:relative}
.w618{ width:854px; float:left;}
.talk{  padding:16px;}
.triangle{ float:left; background:url(/r/cms/www/imgs/talk.png) no-repeat; width:8px; height:20px; margin:15px 0px 0px 0px}
.author{float:right; line-height:24px; text-align:center; color:#787878}
.author1{line-height:16px}
.author img{border:1px #e5e5e5 solid; padding:4px; background:f6f6f6; display:block}
.author_inf{float:left; color:#787878}
.listimg_r{float:left; margin-right:10px}
.listimg_r img{ width:90px; height:51px; border:3px solid #e1e1e1}
.nrlist{ padding:0px; margin:0px;}
.nrlist li{clear:both; height:196px; border-bottom:1px solid #e1e1e1}
.listimg{float:left; margin:0px 10px 0px 0px}
.listimg img{border:3px solid #e1e1e1; width:178px; height:100px}
.listtext{ width:413px; height:48px; overflow:hidden}
.listbutton{float:right; display:block;}
.listbutton a:link{color:#8a8a8a}
.listbutton div{float:left; display:block; line-height:25px; margin:16px 0px 0px 10px}
.list_r {margin:0px 0px 32px 0px}
.list_r li{line-height:30px; height:30px;border-bottom:1px solid #e1e1e1; padding:0px 16px}
#list_r60{height:70px; margin-top:10px}
.title_r{width:230px; height:30px; overflow:hidden}
.title_r2{width:174px; height:16px; line-height:16px; overflow:hidden}
.button_talkl{ background:url(/r/cms/www/imgs/button.png) no-repeat 0px 0px;display: block; float: left;height: 25px;padding-left: 9px; line-height:25px}
.button_talkr{background:url(/r/cms/www/imgs/button.png) no-repeat 100% 0px;display: block; float: left;height: 25px;padding: 0px 16px 0px 0px}

.button_xyl{ background:url(/r/cms/www/imgs/button.png) no-repeat 0px -29px;display: block; float: left;height: 25px;padding-left: 9px; line-height:25px}
.button_xyr{background:url(/r/cms/www/imgs/button.png) no-repeat 100% -29px;display: block; float: left;height: 25px;padding: 0px 16px 0px 0px}

.button_play {float:right;display:block;
	margin-top:16px; }
.button_play a{background:url(/r/cms/www/imgs/button.png) no-repeat 0px -57px;display: block; float: left; width:70px; height: 25px}
.button_play a:hover{background:url(/r/cms/www/imgs/button.png) no-repeat -75px -57px;display: block; float: left; width:70px; height: 25px}
.xgkc li{
    float: left;
    font-size: 12px;
    height: 83px;
    line-height:12px;   
    margin: 3px 2px 3px 2px;   
    width: 153px;
	text-align:center;
	}
.xgkc li a{background:url(/r/cms/www/imgs/button.png) 0px -243px no-repeat; white-space:nowrap; display:block; padding:20px 10px 52px 10px } 
.xgkc li a:hover{background:url(/r/cms/www/imgs/button.png) 0px -158px no-repeat; white-space:nowrap; display:block; padding:20px 10px 52px 10px }
.xgkc li a span{width:133px; display:block ;overflow:hidden}



/* top
----------------------------------------*/
#top,.rb_top,.rb_low,.pink_right_top,.pink_right_low,.blue_right_top,.rb_right_top,{background:transparent url(../img/right_titlebg_1.jpg) no-repeat;  height:34px;}
#txtKey{background:transparent url(../img/searchbg.gif) no-repeat; width:580px; height:40px; padding-top:8px;}
.rb_right_low,.blue_right_low{background:url(../img/right_titlebg_3.gif); height:7px;}
.left_top{background:url(../img/lefttitle1_bg1.jpg) no-repeat;}
.left_top1{background:url(../img/lefttitle1_bg9.jpg) no-repeat;}
.left_top2{background:url(../img/lefttitle1_bg2.jpg) no-repeat;}
.left_low{background:url(../img/left_titlebg_2.jpg) no-repeat;}
.left_title{background:url(../img/title1_jctw1.gif) no-repeat; width:700px; height:29px;}
#top{background:url(../img/box_bg.gif) repeat-x; height:31px; line-height:31px;  color:#ccc; }
#top a{padding:0 5px;}
.page{width:980px; margin:0 auto;}
.page2{width:980px; margin:5px auto;}
.page3{width:700px; margin:5px 0 0 0 auto; }
.page4{width:976px; margin:5px auto;}


#logo{height:74px;}
#logo div.logo{width:220px; height:70px; cursor:pointer;background:transparent url(../img/logo.png) no-repeat scroll 0 0 ;}
#logo div.banner{margin-top:10px; text-align:center;}

/* nav
----------------------------------------*/
#menu{background:url(../img/dhlbg.jpg) repeat-x;  height:40px; width:980px;}
#topmenu{display:inline; margin:0; height: 40px; float:left; position:relative;}
#topmenu dt{text-align:center;padding:0 10px; float:left; display:inline;margin:0px 0px 0px -2px; line-height: 40px; font-weight:bold;}
#topmenu dt .menu_first{padding-left:15px;}
#topmenu dt a{display:block;float:left;width:82px;color:#fff;height:40px;}
#topmenu dt a.selected:link,#topmenu dt a.selected:visited{font-weight: bold; height:36px;color:#ffffff; background-image: url(../img/dhlBG02.gif); line-height: 40px;}
#topmenu dt a:link {text-decoration: none;background:url(../img/dhlGB01.gif) repeat-x;color:#ffffff; }
#topmenu dt a:visited {text-decoration: none;background:url(../img/dhlGB01.gif) repeat-x;color:#ffffff; }
#topmenu dt a:hover {text-decoration:none;background:url(../img/dhlBG02.gif) repeat-x;color:#ffffff; }

#sub1 li.notice{display:inline;width:800px;float:left; text-align:left;}

/* search
----------------------------------------*/
#search{height:40px;overflow:hidden; width:580px; }
.searchform{width:580px; height:40px;background:url(../img/searchbg.gif) no-repeat;}
#txtKey{border:0 none;color:#bababa;float:left;font-size:12px;height:26px; line-height:26px; overflow:hidden;padding-left:15px;width:270px;background-position:0 0;}
#btnSearch{border:0;display:inline;float:left;cursor:pointer; margin-top:8px;}
#fid_box{border:0px solid #e0e0e0; float:left; padding:10px 10px 0 12px; text-align:center;}
#fid{border:1px solid #fff; padding-top:3px; color:#666; height:23px;}

.hottag{width:430px; height:30px; line-height:30px; text-align:left;}
.hottag a{padding:0 5px;}

/* main
----------------------------------------*/
#main{margin-top:5px; overflow:hidden;}
.w700{width:700px;}
.w720{width:720px;}
.w300{width:300px;}
.w340{width:330px;}
.w355{width:355px;}
.w400{width:394px;}
.w410{width:420px!important; width:410px;}
.w450{width:450px;}
.w250{width:250px;}
.w96{width:96%; margin:0 auto;}
.w98{width:98%; margin:0 auto;}
.h400{height:400px;}
.pagination{height:30px; line-height:30px;; text-align:center; clear:both; margin-top:10px;}

.rb_top{height:6px;background-position:0 -35px;overflow:hidden;}
.rb_mid{border:solid 1px #e5e5e5;  height:100%; overflow:hidden; padding:5px;}
.rb_low{height:6px;background-position:0 -58px; overflow:hidden;}

.rb_mid .jdt{height:230px; margin:auto;}
.rb_mid .shrd{margin:5px auto;}

.shrd h2,.left_div h2{height:30px; line-height:30px; padding-left:15px; font-size:14px; background:url(../img/right_titlebg_1.gif) 300px 0; }
.shrd h2 a,.shrd h2 a:visited{background:url(../img/right_titlebg_1.jpg) 0 -100px; color:#990000; padding-left:15px;}

ul.list{padding:5px;}
ul.list li{height:24px; line-height:24px; overflow:hidden; position:relative;}
ul.list li.toptext{height:80px;line-height:1.5em; border-bottom:dashed 1px #e5e5e5; padding-bottom:10px; margin:5px;}
ul.list li.toptext h3 a{display:block; font-size:14px; height:28px; line-height:28px; text-align:center; overflow:hidden;}
ul.list li.toptext img{width:80px; height:60px; display:block; padding:2px; border:solid 1px #e8e8e8; float:left; margin-right:10px;}
ul.list li span a,ul.list li span a:visited{color:#f54100;font-size:12px;}

.rb_mid .w300{border-right:solid 1px #e5e5e5;}

ul.w410 li.toptext{height:75px; overflow:hidden; padding:6px;margin-bottom:5px;}
ul.w410 li.toptext a{display:block; height:30px; line-height:30px; overflow:hidden;}
ul.w410 li.toptext a h3{text-align:center; font-weight:bold; font-size:16px; color:#f54100;}
ul.w410 li.toptext p{margin-top:5px;}

ul.w450 li.toptext{height:75px; overflow:hidden; padding:6px;margin-bottom:5px;}
ul.w450 li.toptext a{display:block; height:30px; line-height:30px; overflow:hidden;}
ul.w450 li.toptext a h3{text-align:center; font-weight:bold; font-size:16px; color:#f54100;}
ul.w450 li.toptext p{margin-top:5px;}

ul.topnews li{height:24px; line-height:24px; overflow:hidden; position:relative; width:440px; margin:auto;}
ul.topnews li span a,ul.topnews li span a:visited{color:#f54100;}
ul.topnews li em{position:absolute; right:0; top:0; padding-left:6px;color:#999999; font-size:11px;}
.line{border-bottom:dotted 1px #d7d7d7; padding-bottom:6px;}
.line-right{border-right:solid 1px #dddddd;}

/*灰色右则版块样式*/
.rb_right_top{height:34px; background:url(../img/right_titlebg_1.jpg);}
.rb_right_low{height:7px; overflow:hidden;}
.rb_right_div{border-left:solid 1px #d8d8d8; border-right:solid 1px #d8d8d8; border-bottom:solid 1px #d8d8d8;height:100%; overflow:hidden;}
.rb_right_top h2{height:34px; line-height:32px !important;line-height:34px;color:#ffffff;padding-left:15px;}
.rb_right_top h2 a,.rb_right_top h2 a:visited{background:url(../img/); color:#ffffff;padding-left:15px;}

/*蓝色右则版块样式*/
.blue_right_top{height:34px; background:url(../img/right_titlebg_1.jpg);}
.blue_right_low{height:7px; overflow:hidden;}
.blue_right_div{border-left:solid 1px #d8d8d8; border-right:solid 1px #d8d8d8; border-bottom:solid 1px #d8d8d8; height:100%; overflow:hidden;}
.blue_right_top h2{height:34px; line-height:34px; color:#ffffff;padding-left:15px;}
.blue_right_top h2 a,.blue_right_top h2 a:visited{background:url(../img/) 0 -100px; color:#ffffff;padding-left:15px;}

/*粉红色右则版块样式*/
.pink_right_top{background-position:-230px -80px; height:30px;}
.pink_right_low{background-position:-230px -119px; height:8px; overflow:hidden;}
.pink_right_div{ border-left:solid 1px #fdd79d; border-right:solid 1px #fdd79d; height:100%; overflow:hidden;}
.pink_right_top h2{height:30px; line-height:30px; color:#993300;padding-left:15px;}
.pink_right_top h2 a,.pink_right_top h2 a:visited{background:url(../img/right_titlebg_1.jpg) 0 -100px; color:#993300;padding-left:15px;}

/*精彩图文样式*/
ul.jctw{border:solid 1px #d8d8d8; height:100%; overflow:hidden;}
ul.jctw h2{height:29px; line-height:29px; padding-left:15px; font-size:14px; }
ul.jctw h2 a,ul.jctw h2 a:visited{background:url(../img/) 0 -100px; color:#ffffff; padding-left:15px;}
ul.jctw li{float:left; margin:10px 0 5px 14px !important; margin:10px 0 5px 10px;text-align:center;}
ul.jctw li img{display:block; width:151px !important; width:150px; height:98px; border:1px solid #ccc; padding:2px;}
ul.jctw li span{height:25px; line-height:25px;}

/*首页热门评论样式*/
dl.rmpl{width:100%; margin:0 auto; line-height:1.8em;}
dl.rmpl dt{margin:5px 0 5px;}
dl.rmpl dt span{color:#999;}
dl.rmpl dt a,dl.rmpl dt a:visited{color:#0066FF;font-size:12px;}
dl.rmpl dd.line{border-bottom:1px dashed #ccc;}

/*左侧圆角版块样式*/
.left_top{height:32px;}
.left_top1{height:32px;}
.left_low{ height:6px; overflow:hidden;}

.left_div{border:solid 1px #d8d8d8; zoom:1; overflow:hidden; width:353px;}
.left_div1{border:solid 1px #d8d8d8; zoom:1; overflow:hidden; width:718px;}
.left_top h2{height:32px; line-height:32px; padding-left:15px; font-size:14px;}
.left_top h2 a,ul.ysyl h2 a:visited{background:url(../img/) 0 -100px; color:#244f94; padding-left:12px;}
.left_top1 h2{height:32px; line-height:32px; padding-left:15px; font-size:14px;}
.left_top1 h2 a,ul.ysyl h2 a:visited{background:url(../img/) 0 -100px; color:#244f94; padding-left:12px;}

.left_top2{height:32px;}
.left_top2 h2{height:32px; line-height:32px; padding-left:15px; font-size:14px;}
.left_top2 h2 a,ul.ysyl h2 a:visited{background:url(../img/) 0 -100px; color:#244f94; padding-left:12px;}

/*右侧信息排行列表样式*/
ul.order{background:url(../img/num.gif) 8px 8px no-repeat; padding:3px 8px 0px 26px; overflow:hidden;}
ul.order li{height:24px; line-height:22px !important; line-height:24px;}

/*右侧专题列表样式*/
dl.list{height:86px;margin:6px 3px 3px 6px;overflow:hidden;}
dl.list dt{float:right;width:150px; line-height:25px; font-size:13px; font-weight:800; color:#06c;}
dl.list dt a,dl.list dt a:visited{color:#f54100;}
dl.list dd.pic{float:left;}
dl.list dd.pic img{width:75px;height:80px;border:1px solid #dddddd; padding:1px; background-color:#FFFFFF;}
dl.list dd.text{float:right; width:150px; line-height:20px;}

dl.zt{float:left; width:315px; margin:15px 10px 0 10px;}



dl.zt dt,dl.zt dd.text{width:215px;}

/*左侧头条图文列表样式*/
ul.list li.toptext2{height:86px; line-height:1.7em; border-bottom:dashed 1px #e5e5e5; padding-bottom:10px; margin-bottom:5px;}

ul.list dl.list{margin:3px;overflow:hidden;}
ul.list dl.list dt{float:right;width:200px;font-size:13px; font-weight:800; color:#06c;}
ul.list dl.list dt a,dl.list dt a:visited{color:#f54100;}
ul.list dl.list dd.pic{float:left;}
ul.list dl.list dd.pic img{width:110px;height:80px;border:1px solid #ddd; padding:2px;}
ul.list dl.list dd.text{float:right; width:200px; line-height:20px;}

ul.left_pic{height:100%; text-align:center; overflow:hidden;}
ul.left_pic li{width:156px; height:110px; float:left; margin:3px;}
ul.left_pic li img{display:block; width:140px; height:80px; margin-bottom:4px; border:1px solid #ccc; padding:1px;}

ul.right_pic{height:100%; text-align:center; overflow:hidden;}
ul.right_pic li{width:110px; height:110px; float:left; margin:3px;}
ul.right_pic li img{display:block; width:100px; height:80px; margin-bottom:4px; border:1px solid #ccc; padding:1px;}


ul.w340 li.toptext{height:75px; overflow:hidden; padding-bottom:6px;margin-bottom:5px;}
ul.w340 li.toptext a{display:block; height:30px; line-height:30px; overflow:hidden; text-decoration:none;}
ul.w340 li.toptext a h3{text-align:center; font-weight:bold; font-size:16px; color:#f54100; width:98%; background-color:#F7F7FF;}
ul.w340 li.toptext p{text-indent:2em; margin-top:5px;}

ul.w355 li.toptext{height:75px; overflow:hidden; padding-bottom:6px;margin-bottom:5px;}
ul.w355 li.toptext a{display:block; height:30px; line-height:30px; overflow:hidden; text-decoration:none;}
ul.w355 li.toptext a h3{text-align:center; font-weight:bold; font-size:16px; color:#f54100; width:330px; background-color:#;}
ul.w355 li.toptext p{text-indent:2em; margin-top:5px; width:330px;}



dl.hotlink{width:976px;line-height:35px;padding:2px;border:#d8d8d8 1px solid;margin:0 auto; overflow:hidden; margin-top:0px !important;margin-top:5px;}
dl.hotlink dt{width:65px;height:35px; padding-left:25px; float:left; font-weight:bold;}
dl.hotlink dd{margin:0 10px;float:left;}
.hotlink a{float:left;padding:0px 20px 0px 0px;color:#787878}

.footer11{text-align:center; line-height:22px;width:980px; margin:auto; padding-top:10px; padding-bottom:10px;border-bottom:#d8d8d8 1px solid;}
.footer11 a{margin:0 10px;}

/*栏目页样式*/
.position {height:30px; line-height:30px; background:url(../img/box_bg.png); border-bottom:1px dashed #EAEAEA; text-indent:10px;}
.position1 {height:30px; line-height:30px; background:url(../img/box_bg.png); border:1px solid #EAEAEA ;text-indent:10px;}

/*信息提示页样式*/
.prompt{width:500px; border:#ccc 1px solid; background:#F6F6F6; margin:100px auto; padding:5px;}
.prompt dl{background:#fff;border:#ccc 1px solid; margin:0; padding:0 10px 0; font:16px;}
.prompt dl dt{height:55px;line-height:55px;background:url(../img/prompt.jpg) 20px 10px no-repeat; border-bottom:1px solid #ccc;}
.prompt dl dd{line-height:30px;font-size:12px;}
.prompt dl dd a{color:#0033FF;}
.prompt dl dd.msg{height:40px;line-height:40px; font-size:18px; font-weight:bold;}


/*内容页样式*/
.w96 h1{min-height:60px; line-height:60px; color:#000; font-size:26px; text-align:center;}
.msgbar{height:30px; line-height:30px; text-align:center; border-bottom:#ccc 1px solid; color:#999;}
.summary{width:90%; line-height:1.8em; text-indent:20px; font-size:14px; border:#59ACFF 1px solid; background:#ECF5FF; margin:15px auto; padding:8px;}
.content_y{line-height:1.8em; font-size:14px; color:#000; margin-top:10px;min-height:400px;}
.pagebar{height:30px;line-height:30px; text-align:center;}
.tags{width:90%; line-height:1.8em; border:#FF6633 1px dashed; background:#FFFFCC; margin:15px auto; padding:8px;}
.tags a{margin:5px;}

.other{height:60px; text-align:center;  padding-top:10px;}
.ding{width:52px; height:51px; background:url(../img/ding.gif) no-repeat center top; margin:5px; color:#217AB3; font-weight:bold; font-size:12px; line-height:23px; font-family: Georgia, "Times New Roman", Times, serif; cursor:pointer;}
.cai{width:52px; height:51px; background:url(../img/cai.gif) no-repeat center top; margin:5px; color:#f60; font-weight:bold; font-size:12px; line-height:23px; font-family: Georgia, "Times New Roman", Times, serif; cursor:pointer;}
.ding p,.cai p{display:block; font-weight:700;}
.other ul{ margin-left:0px;width:650px;}
.other ul li{height:26px; line-height:26px;float:left;margin:0px 10px 0px 0px; text-align:left;}

.comment,.related{margin-top:5px;}
.comment h2,.related h2,.rb_right_div h2{height:33px;line-height:33px;padding-left:15px;font-size:12px;background:url(../img/bg1.jpg) repeat-x;border-top:#eee 1px solid;}
.comment h2 span,.related h2 span,.rb_right_div h2 span{background:url(../img/right_titlebg_1.jpg) 0 -100px; color:#990000; padding-left:15px;}
.comment h2 a{font-size:12px;}
.comment h2 em{color:#f54100;}
margin:20px 0px 0px 0px; font-size:12px; color:#787878; padding:8px; width:502px; height:64px
.yinput{width:500px; height:22px; border:1px solid #ccc;}

.rb_right_div div.w98{min-height:100px;}
.rb_right_div div.w98 dl.list dt{float:right;width:146px; line-height:25px; font-size:13px; font-weight:800; color:#06c;}
.rb_right_div div.w98 dl.list dd.text{float:right; width:146px; line-height:20px;}

/*搜索页样式*/
.search_msg{height:30px; line-height:30px; margin:10px 0 10px; border-bottom:#ccc 1px solid; font-weight:bold;}
dl.list3{border-bottom:1px dashed #ccc; line-height:1.8em; padding:10px 0 10px;}
dl.list3 dt{height:30px;}
dl.list3 dt span a,dl.list3 dt span a:visited{font-size:14px; color:#ff3300;}
dl.list3 dt a,dl.list3 dt a:visited{font-size:14px; color:#2E2E2E;}
dl.list3 dt a:hover{font-size:14px; color:#ff3300;}
dl.list3 dd{color:#787878;}
dl.list3 dd.zy{height:50px; text-indent:20px; overflow:hidden; margin-bottom:10px text-indent:20px; color:#999;}

/*标签页样式*/
.taglist ul{width:600px; margin:5px auto; list-style:circle;}
.taglist ul li{width:140px; height:30px; padding-left:5px; font-size:14px; float:left;}

/*下载页样式*/
ul.down_top{list-style:none;}
ul.down_top li{width:100px; text-align:center; float:left;}
ul.down_top li.name{width:365px;font-weight:bold;text-align:left;}
.img_border {border:1px solid #ccc; padding:2px;}
ul.blocklist li{height:25px; line-height:25px;}

/*留言板首页样式*/
.gb_logo{margin:10px 0 10px; padding-bottom:10px; border-bottom:#ccc 1px solid;}
dl.gb{border-bottom:1px dashed #ccc; line-height:1.8em;}
dl.gb dt{line-height:30px;font-size:12px;}
dl.gb dt span {color:#ff3300; margin-right:10px;}
dl.gb dd{text-indent:10px;}
dl.gb dd.relpy{margin-top:10px;color:#006600;}

/*登录首页样式*/
.loginBG{ background-image:url(../img/login.jpg); height:127px; width:250px;}

/*首页新闻样式*/
.xxbg{width:430px;height:270px; float:right; margin:0px; BORDER-right: #dedede 1px solid;BORDER-left: #dedede 1px solid; BORDER-BOTTOM: #dedede 1px solid;}
.xxbox{width:430px; height:28px;}
.xxbox ul{ margin:auto;height:28px;}
.xxbox li{display:inline; cursor:pointer; width:89px;line-height:28px; text-align:center;float:left; BORDER-right: #dedede 1px solid;}
.curr{ background-image:url(../img/title003-01.gif);width:95px; height:28px;}
.normaltab{background-image:url(../img/title003-01-a.gif);width:95px; height:28px;}
.dis{display:block;padding-top:10px;}
.undis{display:none;padding-top:10px;}


.cinput{margin:20px 0px 20px 0px; font-size:12px; color:#787878; padding:8px; width:586px; height:64px}
.tijiao li{float:right;margin:0px 3px 0px 0px; padding:0px 10px 0px 0px;}
.yanzhen{line-height:30px;font-size:14px; color:#2D2D2D;}
.hqyzm img{ width:75px; height:30px;border:3px solid #DEDEDE;padding:0px 10px}
.sryzm input{background:none; border:3px solid #DEDEDE; line-height:30px;font-size:14px; color:#2D2D2D;width:80px; height:30px; padding:0px 6px}
#buttontj{background:url(/r/cms/www/imgs/button.png) no-repeat 0px -333px;height:36px; width:63px; float:right;margin:0px; padding:0px 0px 0px 0px}
#buttontj input{background:none; font-size:14px; color:#FFF;font-weight: 800; border:none; height:36px; width:63px} 
