@charset "utf-8";
/* CSS Document */

/*----------------------------------------
Name: regist.css

----------------------------------------*/

@import url(global.css);  
#zvxy{border: 1px solid #CCCCCC;color: #666666; height: 80px; margin: 20px 0px 20px 130px; overflow-y: scroll;padding: 8px;width: 650px;}

.title2{font-size:14px; font-weight:800}
.zchs{color:#fdba47}
.zcms{ margin:6px 0px  0px 80px; display:block; line-height:21px}
#login-button{ background:url(/r/cms/www/imgs/button.png) 0px -496px no-repeat #FFF; font-size:13px; font-weight:bold; width:155px; cursor:pointer; height:32px; line-height:30px; padding:0px; margin:0px; color:#FFF; border:0px; }
.img-code{ position:absolute; top:2px; left:195px}
#codeImg{height:24px;width: 65px;border: 3px solid #DEDEDE;}
#codeImg2{ display:block; float:left; position:relative; left:280px}
.bullebuttonl{background:url(/r/cms/www/imgs/button.png) no-repeat 0px -377px; padding-left:26px; height:34px; line-height:32px; float:left; display:block}
.bullebuttonr{background:url(/r/cms/www/imgs/button.png) no-repeat 100% -377px; padding-right:50px; display:block; height:34px; line-height:32px}
.bullebuttonl a,.bullebuttonl a:visited{font-size:13px; font-weight:bolder; color:#FFF}
.dltitle{font-size:16px; font-weight:800; color:#3976b6; line-height:32px}
.item2 { margin-top: 15px;position: relative;}
.item2 input{ position:relative; left:80px; border:1px solid #CCCCCC; width:180px; height:28px; color:#848484}
.labelholder {-moz-user-select: none;color: #999999;cursor: text;font-size: 14px;height: 28px;left: 3px;line-height: 28px;padding: 0px 10px;position: absolute;top: -1px;}
.reg-form-sec{position:relative; float:left; width:442px; margin-top:30px;}
.reg-bg{float:left; width:492px; background:url(/r/cms/www/imgs/registerbg.png) top left; height:330px; margin:30px 0px;}
.email {
    background-position: 5px -115px;
}
.password {
    background-position: 5px -155px;
}
.email,#password, .name, .phone {
    background: url("/r/cms/www/imgs/master.png") no-repeat scroll 0 0 transparent;
}
.phone{background-position:0px -153px; padding:0px 10px 0px 40px}
.email{background-position:0px -413px; padding:0px 10px 0px 40px}
.name{background-position:0px -344px; padding:0px 10px 0px 40px}
#password{background-position:0px -379px;padding:0px 10px 0px 40px}
.tips-wrap {
    display: table;
    height: 40px;
    left: 300px;
    padding: 0 10px;
    position: absolute;
    top: 0;
    width: 155px;
}
.tips-wrap {
  display: table;
  height: 40px;
  left: 300px;
  padding: 0 10px;
  position: absolute;
  top: 0;
  width: 155px;
}

.mfzc{background:url(/r/cms/www/imgs/button.png) no-repeat 0px -452px; width:158px; height:34px}
.mfzc a{width:158px; height:32px; display:block}



/*----------------------------------------
历史

----------------------------------------*/

.container{min-width:980px;margin:0 auto;}
 
.toolbar{margin-bottom:15px;background:#fafafa url(../img/member/toolbar.gif) repeat-x 0 100%;}
.toolbar-inner{width:980px;height:31px; line-height:31px; margin:0 auto;}
.toolbar a{padding:0 5px;}



.main{width:980px;margin:0 auto; font-size:14px; margin-bottom:20px;}
.main h2{text-indent:20px; color:#3e3e3e;}

.input/*width:200px; */{height:20px; line-height:20px; border:1px solid #ccc; width:135px;}
.input2/*width:200px; */{height:20px; line-height:20px; border:1px solid #ccc; width:230px;}

.login-button{background:url(../img/member/denglu.gif) no-repeat; width:94px; height:32px; border:0 none; color:#fff; font-size:14px; font-weight:bold; cursor:pointer;}

 
 .login-bg{background:url(../img/member/login-bg.gif) no-repeat; width:327px; height:308px;}
.button001{height:50px; width:63px; background:url(../img/denglu.jpg); background-repeat:repeat-x}
label.error{font-size:12px;}
.forgot-password a:link,.forgot-password a:visited{color:#999999;}
.forgot-password a:hover,.forgot-password a:active{color:#999999; text-decoration:underline;}

.regist-header{background:url(../img/member/bg1.gif) repeat-x;width:100%; height:125px;}
.rgheader{width:980px; height:87px; margin:0 auto 10px;}
.rgheader .brand{float:left;padding-left:20px;}
.rgheader .brand h1 a{display:block;width:292px; height:87px;overflow:hidden;text-indent:-9999px;margin-right:10px;background:url(../img/member/regist-logo.gif) no-repeat;}
.rg-tbg{background:url(../img/member/regist-tbg.gif) no-repeat top; width:952px;}
.regist-submit{background:url(../img/member/regist-sumbit.gif) no-repeat; width:202px; height:43px; border:0 none; cursor:pointer;}