@charset "utf-8";
/* CSS Document */

body{color:#848484;margin:0 auto; font: 12px Tahoma,"hiragino sans gb",Helvetica,Arial}

h1,h2,h3,h4,h5,h6,p,input,form,ul,ol,li,dl,dt,dd,hr,td,th{
    margin: 0;
    padding: 0;
}

img{ border: none;}
ul,li{  list-style-type:none;}
hr{ display:none;}
table{border-collapse:collapse;}

/*共用
--------------------------------*/
a{color: #848484; text-decoration: none;}
a:visited{color: #848484; text-decoration: none;}
a:hover{color: #a51c30; text-decoration: underline;}
a:active{color: #848484; text-decoration: none;}
.ringt{float:left}
.left{float:left}
.clr{clear:both}
.wfont{font-size:12px; color:#FFF}
.mainframe{width:980px; margin:0px auto}

/*top
--------------------------------*/
.topbg{ background:#35383e; height:28px;color:#ffffff}
.topbg a {color:#FFF; padding:8px 14px 8px 32px;line-height:12px; font-size:12px; font-family:"宋体"; float:left}
.topbg a:hover {color:#FFF; text-decoration:none;background-color: #27292d}
.flow_f{ float:left; border-right:1px solid #454a51}
.flow_f,.login a, .help-top{border-left:1px solid #454a51}
.flow_f a, .flow_f a:hover {padding:8px 14px 8px 14px}
.login{ float:right}
.help-top{ float:right}
.login-iocn{background: url(/r/cms/www/red/img/img_tq/contactAdmin.png)  no-repeat 14px 9px}
.regist-iocn{background: url(/r/cms/www/red/img/img_tq/register.png)  no-repeat 14px 9px}
.help-iocn{background: url(/r/cms/www/red/img/img_tq/help.png)  no-repeat 14px 9px;border-right:1px solid #454a51}
.header{height:140px; width:auto;background:url(/r/cms/www/red/img/img_tq/bg.png) repeat-x top left}
.logo{width:340px;height:87px;float:left;}
.searchbox { float: right;width: 315px;height:33px;background:url(/r/cms/www/red/img/img_tq/master.png) no-repeat 0px -190px; margin-top:32px}
#search-text{ float:left;width:240px; height:33px;padding:0px 5px 0px 10px;font-size:12px;color:#848484; line-height:33px;border: none;background: none;-webkit-appearance: none}
#search-btn{ float: right;height:33px; width:60px }
.tags{ float:right; margin:44px 15px 0px 0px}
.tags li{float:right; line-height:12px; height:12px; padding:0px 12px}
.tags li a:hover{color:#fe7c00; text-decoration: underline;}
.tags .nbg{ background:none}



/*navi
--------------------------------*/


.mnavi {height:53px; width:980px;background:url(/r/cms/www/red/img/img_tq/master.png) no-repeat 0px -227px }
.mnavi a { float:left;height:53px; width:111px;}
.mnavi a:hover, .mnavi a.Current1, .mnavi a.Current2, .mnavi a.Current3, .mnavi a.Current4, .mnavi a.Current5, .mnavi a.Current6{background:url(/r/cms/www/red/img/img_tq/master.png) no-repeat 0px -285px; height:53px}
.mnavi a.Normal1:hover, .mnavi a.Current1 {background-position: 0px -285px; width:85px;}
.mnavi a.Normal2:hover, .mnavi a.Current2 {background-position: -85px -285px }
.mnavi a.Normal3:hover, .mnavi a.Current3 {background-position: -196px -285px; width:146px }
.mnavi a.Normal4:hover, .mnavi a.Current4 {background-position: -342px -285px }
.mnavi a.Normal5:hover, .mnavi a.Current5 {background-position: -453px -285px}
.mnavi a.Normal6:hover, .mnavi a.Current6 {background-position: -564px -285px; width:416px}
.mnavi a.Normal1{width:85px}
.mnavi a.Normal3{width:146px}
.mnavi a.Normal6{width:416px}


/*banner
--------------------------------*/
.bcont{width:100%; background: url(/r/cms/www/red/img/img_tq/bg.png) repeat-x 0px -148px; height:421px}
.bcont-bg{ width:980px; height:421px; margin:18px 0px 0px 0px; background:url(/r/cms/www/red/img/img_tq/bannerbg.png) no-repeat bottom}
.showcase{width:980px; height:374px; position:relative}
.showcase {
    margin: 0 auto;
    padding: 26px 0 15px;
    position: relative;
    width: 980px;
}

