@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

/***************************************

	Theme Name: Remal

	Description: wine
	Author: jiuxf
	Author URI: http://q.jiuxf.cn/
	Version: V 2.0

	Tags: two-columns, fixed-width, custom-background, threaded-comments, translation-ready, custom-menu
***************************************/

*{
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
	border:0 none;
}
/*html{
	background:url(../image/html_bg.jpg) top center fixed;


}*/


h1, h2, h3,h4, h5, h6 {}

.alignright {float: right;}
.alignleft { float:left}
.aligncenter{
	clear:both;
	margin-left:auto;
	margin-right:auto;
}
a {
	color: #3078c7;
	text-decoration: none;
}
a:hover {
  color: #ec9b33;
}
.clear {clear: both; height:0px; padding:0px; margin:0px; width:0px}

textarea, input[type=text], input[type=password], input[type=email], select {
	border: 1px solid #ccc;
	font-size: inherit;
}
input, select {
	cursor: pointer;
}
input[type=text], input[type=password], input[type=email] {
	cursor: text;
}
textarea {
	overflow:auto;
}
textarea, input {
	padding: 5px;
	outline: none;
}
select {
	padding: 2px;
}
option {
	padding: 0 4px;
}
input[type=button], button {
	padding: 4px;
	cursor: pointer;
	vertical-align: middle;
}
input.text_input,textarea.textarea {
	border: 1px solid #ccc;
     -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
          border-radius: 1px;
}
input.text_input:focus,textarea.textarea:focus {
	border: 1px solid #999;	
}

::-moz-selection , ::selection{ background: #ffa37f; color: #fff; text-shadow: none; }


/* ---------------------------------------------
 Main Wrapper Style
------------------------------------------------ */

.wrapper {
	position:relative;
	z-index:1;
}
.container{
	margin:0 auto;
}

/* ---------------------------------------------
 Button
------------------------------------------------ */
.button_left,.button_right,.button_balk_left,.button_balk_right{
	position:relative;
	height:32px;
}
.button_left{
	float:left;
	padding-left:16px;
	background:url(../imgs/button_left.png) no-repeat 0px -1px;
}
.button_right{
	float:right;
	padding-right:16px;
	background:url(../imgs/button_right.png) no-repeat  right -1px;
}
.button_balk_left{
	float:left;
	padding-left:16px;
	background:url(../imgs/button_left.png) no-repeat 0px -37px;
}
.button_balk_right{
	float:right;
	padding-right:16px;
	background:url(../imgs/button_right.png) no-repeat  right -37px;
}
.button_Orange_left,.button_Orange_right{
	position:relative;
	background:url(../imgs/input.png) no-repeat;
	height:34px;
}
.button_Orange_left{
	display:block;
	float:left;
	padding-left:25px;
	background-position:0px -109px;
}
.button_Orange_right{
	float:right;
	padding-right:25px;
	background-position:right -109px;
	font-size:16px;
	color:#FFF;
	font-weight:bold;
	line-height:34px;
}
.nav_button_bule{
	position:relative;
	padding:12px 0px 12px 20px;
}
.button_bule a{
    background-color:#fb8f2f;
    border-radius:16px;
	font-size:16px;
	font-weight:normal;
	height:32px;
	line-height:32px;
	font-weight:bold;
	padding:0px 40px;
	text-align:center;
    color: #FFFFFF;
	display:inline-block;
}

.button_bule a:link,.button_bule a:visited{color: #FFFFFF;}
#button_bule{
	font-family:'Microsoft YaHei';

    background-color: #2596E6;
    background-image: -moz-linear-gradient(center top , #2F9EEC, #1988D6);
    border-color: #2F9EEC #1988D6 #1988D6;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
	font-size:18px;
	height:40px;
	font-weight:bold;
	padding:6px 20px;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.1s ease-out 0s;
}
#nav_box .button_bule a{
	clear:both;
	font-family:'Microsoft YaHei';
}
.button_sign_left,.button_sign_right{
	background:#fb8f2f;
	height:58px;
	border-radius:30px;
}
.button_sign_left{
	padding:0px 0px 0px 8px;
	background-position:top left;
}
.button_sign_right{
	padding:0px 8px 0px 0px;
	text-align:center;
	font-size:24px;
	color:#FFF;
	letter-spacing:6px;
	
}

.button_sign_h_left,.button_sign_h_right{
	background:url(../image/button_x.png) no-repeat;
	height:58px;
}
.button_sign_h_left{
	padding:0px 0px 0px 8px;
	background-position:0px -97px;
}
.button_sign_h_right{
	padding:0px 8px 0px 0px;
	background-position:100% -97px;
	text-align:center;
	font-size:26px;
	color:#aaaaaa;
	letter-spacing:6px;
	text-shadow: 1 0px 0 rgba(25, 82, 146, 1);
}
.button_sign_h_right #login-button{
	color:#aaaaaa;
}
/* ---------------------------------------------
icon
------------------------------------------------ */
.icon{
	background:url(../image/icon.png) no-repeat;
	display:block;
	height:18px;
	width:18px;
}
.jinru{
	background-position:-54px -36px;
	float:left;
	margin:3px 0px 0px 0px
}
.yhm{
	background-position: 0px -54px;
	margin:10px 8px 0px 8px;
	float:left;
}
.yhmm{
	background-position: -18px -54px;
	margin:10px 8px 0px 8px;
	float:left;
}
.zhuanti_chakan{
	background:none;
	margin:15px 8px 0px 8px;
	float:left;
}
.login{
	background-position:0px 0px;
	position:absolute;
	top:5px;
	right:7px;
	z-index:2;
}
.register{
	background-position:0px -36px;
	position:absolute;
	top:5px;
	right:7px;
	z-index:2;
}
.member_out{
	background-position:-18px -36px;
	position:absolute;
	top:5px;
	right:7px;
	z-index:2;
}
.member_center{
	background-position:0px -18px;
	position:absolute;
	top:5px;
	right:7px;
	z-index:2;
}

.entry-visits{
	background-position:-54px 0px;
}
.entry-comments{
	background-position:-72px 0px;
}
.follow{
	background-position:-36px 0px;
}
.favorite{
	background-position:-90px -36px;
}
.comments{
	background-position:-72px -36px;
}
.visits{
	background-position:-54px -36px;
}
.share_weibo{
	background-position:-108px -36px;
}

.pinlun li{
	padding:12px 0px;
}
.pinlun_text{
	float:left;
	border:1px solid #e6e7e7;
	background:#FFFl;
	padding:12px;
	width:588px;
	margin:0px 0px 22px 10px;
	position:relative;
}
.pinlun_text textarea{
	padding:6px 106px 6px 6px;
	width:446px;
	border:1px solid #e6e7e7;
	background:#FFF;
	font-size:15px;
	height:48px;
	color:#62676a;
	font-family: "Microsoft YaHei";
	overflow:hidden;
}
.submit,#submit{
	position:absolute;
	right:12px;
	top:13px;
	z-index:12;
	width:100px;
	height:60px;
	background:#2f83e1;
	font-family: "Microsoft YaHei";
	font-size:26px;
	color:#FFF;
	font-weight:bold;
	text-align:center;
}
.pinlun_tabe{
	background:#FFF;
	
	border:1px solid #e6e7e7;
	height:56px;
	font-weight:bold;
}
.pinlun_tabe a{
	display:block;
	float:left;
	color:#939a9e;
	line-height:56px;
	padding:0px 24px;
	border-right:1px solid #e6e7e7;
}
.pinlun_tabe .pinlun_tabe_current{
	border-top:3px solid #2f83e1 ;
	color:#2f83e1;
	line-height:53px;
	height:53px;

}
.pinlun_list{
	margin:30px 0px;
}
.pinlun_listnr{
	float:left;
	width:640px;
	padding:0px 0px 30px 12px;
	border-bottom:1px solid #e6e7e7;
	font-size:15px;
	color:#9e9e9e;
}
.pinlun_listnr p{
	margin:9px 0px 0px 0px;
	font-size:18px;
	color:#798084;
}
/* ---------------------------------------------
distance
------------------------------------------------ */
.r_22{
	margin-right:22px;
}
.r_3{
	margin-right:3px
}
.r_6{
	margin-right:6px
}
.r_12{
	margin-right:12px
}
.b_15{
	margin-bottom:12px;
}
.lr{
	margin:0px 45px 0px 160px
}
.t_28{
	margin:24px 0px 0px 0px
}
.t_8{
	margin:8px 0px 0px 0px
}
.lrt_22{
	margin:11px 22px 2px 22px
}
.spacing_left{
	padding:34px
}
.spacing_right{
	padding:30px
}
/* ---------------------------------------------
font
------------------------------------------------ */
.font12{
	font-size:12px;
	color:#b8b8b8;
	line-height:18px;
	font-family:"宋体"
}
.font16{
	font-size:16px;
}
.font15{
	font-size:18px;
}
.font13{
	font-size:13px;
	color:#b8b8b8;
	line-height:18px;
	font-family:"宋体";
	text-align:center;
}
.entry-title{
	font-size:22px;
	line-height:40px;
	color:#3078c7;
}
.attribute{
	font-size:14px;
}
.green{
	color:#6eb42a
}
.Rlsuser .green{
	color:#6eb42a
}
.miaoshu{
	font-size:15px;
	color:#989898;
	line-height:24px;
	margin:0px 0px 26px 0px;
	padding:0px;
	text-align:justify;
}

.teda{
	font-size:22px;
	font-weight:bold;
}
/* ---------------------------------------------
container
------------------------------------------------ */

#container{
	width:1140px;
	margin:0px auto;

}
#container_zt{
	width:1138px;
	margin:20px auto 0px auto;
	background:#FFF;
	
   
}
.left_box{
	float:left;
	width:768px;

}
.right_box{
	width:366px;
	float:right;
}
.box_l_style,.box_r_style{
	border:1px solid #ebede7;

	margin:6px 0px;
	background:#FFF;
	
}
.box_l_style{
	padding:24px 34px;
	min-height:768px;
}
.box_r_style{
	padding:16px 35px 70px 35px;
	min-height:600px;
}
.vido_home2{
	border:1px solid #ebede7;
	
	background:#FFF;
	margin-top:6px;
	position:relative;
}
.vido_home{
	padding:0px 8px 20px 8px;
}
.vido_home li{
	float:left;
	padding:8px 8px 2px 8px;
	width:234px;
	position:relative;
	margin-top:20px;
}

.vido_img{
	position:relative;
	width:234px;
	height:140px;
	margin:0px 0px 8px 0px;
	overflow:hidden;
}
.vido_home li img{
	width:234px;
	margin-bottom:4px;
}
.vido_home li p{
	width:220px;
	line-height:30px;
}
.more{
	background:url(../image/icon.png) 0px -36px;
	width:40px;
	height:20px;
	display:block;
	float:right
}
.vido_tag{
	position:absolute;
	z-index:10;
	right:0px;
	bottom:0px;
	display:block;
	width:42px;
	height:42px;

}
.comein{
	float:right;
	color:#e4671c;
	font-size:15px;
	margin:8px 0px 0px 0px;
}


.tilte{
	background: url(../image/title.png) no-repeat;
	float:left;
	height:25px;
	margin:0px 0px 12px -10px;
}
.tilte_kt{
	background-position: top left;
	width:96px;
	height:25px;
}
.tilte_sl{
	background-position:-119px 0px;
	width:114px;
}
.tilte_gz{
	background-position:-252px 0px;
	width:96px;
}
.tilte_bq{
	background-position:-436px 0px;
	width:52px;
}
.tilte_rm{
	background-position:-366px 0px;
	width:52px;
}
.tilte_yzpl{
	background-position:-503px 0px;
	width:96px;
}
.tilte_tj{
	background-position:-612px 0px;
	width:60px;
}
.tilte_pl{
	background-position:-672px 0px;
	width:66px;

}
.tilte_ztzy{
	background-position:0px -46px;
	width:100px;
}
.tilte_ztmu{
	background-position:-437px -46px;
	width:100px;
}
.tilte_sgjs{
	background-position:-120px -46px;
	width:130px;
}
.tilte_myjs{
	background-position:-252px -46px;
	width:160px;
}

.tilte_myjs{
	background-position:-252px -46px;
	width:160px;
}

.tilte_xianguawenzhang{
	background-position:-502px -46px;
	width:180px;

}

.myjs{
	font-size:13px;
	color:#f48c00;
	line-height:22px;
	display:block;
	padding-bottom:12px;
}
.code{
	margin:0px 0px 0px 86px;
}
.code_img{
	width:115px;
	height:115px;
	background:url(../image/qr_code.png) no-repeat;
	margin:-10px 0px 12px 0px
}
.weibo,.weibo_p{

	float:left;
	height:23px;
	line-height:23px;
	font-family:"宋体";
	text-align:center;
	font-size:12px
	
}
.weibo{
	background-position: top left;
	color:#FFF;
	width:34px;
	padding:0px 6px 0px 25px;

}
.weibo_p{
	background-position:-65px 0px;
	color:#333333;
	width:38px;	
	padding:0px 4px 0px 9px;
}
.item, #nav_box{
	float:left;
	width:196px;
	border: 1px solid #d9d9d9;
	border-radius: 2px 2px 2px 2px;
	margin:0px 3px 6px 3px;	
	
}
.classify{
	padding:12px 0px;

	margin-left:-12px;
	

	


}

.classify a{
	float:left;
	display:block;
	margin:0px 12px;
	color:#6a6d6e;
	font-size:18px;
	line-height:32px; 
}
.classify a:hover{
	color:#2f83e1
}
.classify_current{
	padding-left:16px;
	background:url(../image/button.png) no-repeat top left;
	color:#FFF;
}
.classify_current span{
	display:block;
	padding-right:16px;
	height:32px;
	line-height:32px;
	background:url(../image/button.png) no-repeat top right;
	color:#FFF;
}
.top_wenzhang h2{ 
	color:#2f83e1;
	margin:0px 0px 8px 0px;
}
.top_wenzhang div{
	font-size:12px;
	color:#999;
	line-height:24px;
}
	
.item-list{
	box-shadow: 0 0px 0px 0px #dfdfdf;
}
.item-list li{
	padding:0px 0px 12px;
	margin:0px 0px 26px;
	border-bottom:1px dashed #b9c4c3
}
.post-inner{
	padding:15px;
}
.post-inner p{
	font-family:"宋体";
	margin:0px 0px 18px 0px;
	max-height:82px;
	overflow:hidden;
}
.post-inner img{
	height:auto !important;
	max-width:100%;
}
.thumb_img{
	float:right;
	width:200px;
	max-height:125px;
	overflow:hidden;
	margin:23px 0px 0px 0px;

}
.thumb_img img{
	width:200px;
	height:auto;


	
}

.entry{
	margin:15px 0px 18px 0px;
	width:480px;
	float:left;
	max-height:140px;
	overflow:hidden;
	text-indent:2em;
	line-height:30px;
	text-align:justify;
}
.post-footer{
	font-size:14px;
	color:#8b8787

}
.post-footer span{
	margin:0px 6px
}
.kt_list {
	padding:0px;
	margin:0px;
	list-style:none;
}
.kt_list li{
	margin:0px 0px 36px 0px;
	padding:0px;
}
.avatar_r{
	float:left;
	width:42px;
	height:42px;
	overflow:hidden;
}
.pinlun_wenzhang{
	margin:0px 0px 30px 0px
}
.avatar_pl{
	float:left;
	width:62px;
	height:62px;
	overflow:hidden;
}
.avatar_pl img{
	border-radius: 2px 2px 2px 2px;
	width:62px;
}
.avatar_r img{
	width:42px;
	height:42px;
	border-radius: 2px 2px 2px 2px;
}
.avatar_sl{
	margin-bottom:16px
}
.avatar_sl img{
	float:left;
	margin:0px 5px 10px 5px;
	width:62px;
	height:62px;
	border-radius: 2px 2px 2px 2px;

}
.rm_list{
	font-size:16px;
	color:#62676a;
	font-size:16px;
	text-align:justify;
	line-height:26px;
	padding:8px 0px 16px 0px;
}
.rm_list p{
	padding:15px 0px 6px 0px;
}
.ktdt_r{
	float:right;
	width:232px;
	color:#62676a;
	font-size:16px;
	text-align:justify;
	line-height:26px;
}
.ktdt_r h5{
	line-height:24px;
	margin:-6px 0px 16px;
	font-size:16px;

}

.avatar-30 img{
	width:32px;
	height:32px;
	border-radius: 3px 3px 3px 3px;
}
.author{
	width:180px;
	height:14px;
	line-height:14px;
	overflow:hidden;
	font-family:"宋体";
	margin:0px 0px 3px 0px;
}
.Switcher{
	position:absolute;
	right: 0px;
	top:100px;
	padding:12px;
	height:18px;
	z-index:999;

	
}
.Switcher a{
	font-size:15px;
	line-height:18px;
	color:#7d7d7d;
	font-weight:bold;
}
.Switcher span{
	float:left;
}
#tag_list{
	margin:20px 0px 20px 0px
}
#tag_list .tags a{
	margin:0px 10px 10px 0px;

}
.tags a{
	float:left;
	font-size:15px;
	line-height:26px;
	text-align:center;
	padding:6px 15px;
	margin:0px 5px 6px 0px;
	border:1px solid #E7E7E7;
	border-radius: 2px 2px 2px 2px;
	color:#767676;
	display: list-item;
	
}
.tags a:hover{
	background-color: #2596E6;
    background-image: -moz-linear-gradient(center top , #2F9EEC, #2f83e1);
    border-color: #2F9EEC #1988D6 #1988D6;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.1s ease-out 0s;
}
.banner{
	width:766px;
	height:398px;
 	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EBEDE7;
	margin:6px 0px 8px;
	background:#FFF
}
.banner_r{
	width:364px;
	height:398px;
 	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EBEDE7;
	margin:6px 0px 8px;
	background:#FFF;
}
.load{
	margin:10px auto;
	text-align:center;
	font-size:15px;
	
}
.load a{
	width:100%;
	text-align:center;

}

#goTop {

    bottom: 0;
    cursor: pointer;
    display: none;
    height: 47px;
    position: fixed;
    right: 0;
    width: 47px;
    z-index: 100;
}

.detailed{
	float:left;
	width:770px;
	border: 1px solid #d9d9d9;
	border-radius: 2px 2px 2px 2px;
	margin:0px 5px 10px 5px;	
	background:#FFF;
    box-shadow: 0 1px 2px 1px #E0E0E0;
	padding:0px 15px;
}

.detailed_tool{
  background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E6E7E7;
	width:300px;
	height:60px;
	margin:6px 0px;
}
.detailed_tool div{
	float:left;
	border-right:1px solid #dedede;
	width:62px;
	height:60px;
	font-size:12px;
	text-align:center;
	color:#666666;
}
	
.detailed_tool div span{
	margin:11px 22px 2px 22px;
}
	

.Ranking li{
	height:26px;
}
.Ranking li a{
	font-family:"宋体";
	line-height:24px;

}
.Ranking li a:hover{
	color:#1780e2
}
.Rlsuser{
	border-bottom:1px solid #dedede;
	padding:0px 0px 9px 0px 
}



.article_tite{
	border-bottom:1px solid #E4E4E4;
}

.detailed_content img{
	height:auto;
	margin:10px 0px;
}
.content{
	text-indent: 2em;
	padding:18px 0px;
	color:#494949;
	line-height:30px;
	text-align:justify;
	text-justify:inter-ideograph;
}
.content img{
	max-width:680px;
	margin:10px ;

}
.wenzhang_tool{

	padding:0px 0px 20px 0px;
}
.wenzhang_tool a{
	margin-right:12px;
	display:block;
	float: right;
}
.like_left{
	background: url(../image/like.png) no-repeat left top;
	padding-left:42px;
	float:left;


}
.like_right{
	padding-right:16px;
	background: url(../image/like.png) no-repeat  top right;
	color:#FFF;
	font-size:16px;
	line-height:32px;
	height:32px;
	float:right;
}
.shoucang{
	background:url(../image/shoucang.png) no-repeat;
	width:86px;
	height:32px;
	float:left;
	
}
.shoucang_quxiao{
	background:url(../image/shoucang_quxiao.png) no-repeat;
	width:86px;
	height:32px;
	float:left;
	
}
.share_weibo,.share_renren,.share_qqweibo,.share_qqkongjian{
	background: url(../image/share.png) no-repeat;
	width:32px;
	height:32px;
	display:block;
	float:left;
}
.share_weibo{
	background-position:0px 0px
}
.share_renren{
	background-position:-96px 0px
}
.share_qqweibo{
	background-position:-64px 0px
}
.share_qqkongjian{
	background-position:-32px 0px
}
.content div,.content p{
	padding:10px 0px;

}
.licontent{
	border-top:1px solid #dedede;
	padding:15px 0px 0px 0px;
	margin:20px 0px 0px 0px
}

.cinput{
	width:750px;
	height:60px;
}
#coment_test{
	margin:15px 0px 15px 0px;
}
.coment_test img{
	height:24px;
	width:auto;
}

#commentListContainer{

}
#commentListContainer dt,#commentListContainer dd{
	height:24px;
	line-height:24px;
}
#commentListContainer dt{
	color:#B8B8B8;
}
#commentListContainer dd{
	border-bottom:1px solid #dedede;
	margin-bottom:12px;
	padding-bottom:6px;
}
.licontent #commentListContainer .line{
	height:0px;
	padding:0px 0px 0px 0px;
	border:none;
}

.topbg{

}




.member_img img{
	margin:0px 0px 10px 100px;
	border-radius: 82px 82px 82px 82px;
	width:82px;
	height:82px;
}

.mc_content{
	min-height:600px;
	margin:0px 0px;
	padding:0px 0px 0px 0px;
	font-family:"宋体";
	font-size:13px;
	color:#939393;
}
.mc_content table{
	width:100%;
}
	
.mc_content table td{

	padding:15px 0px;
}
	
	
.page iput{
	border: 1px solid #E7E7E7;
    border-radius: 2px 2px 2px 2px;
	background:#FFF;
    color: #767676;
    float: left;
    font-size: 13px;
    line-height: 24px;
    margin: 0 5px 8px 0;
    padding: 5px 10px;
    text-align: center;
}
	
	
.member_button,.member_button1{
	line-height:24px;
	border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 1px 2px;
    display: inline-block;
    float: left;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    margin: 0 4px 4px 0;
    padding: 0 12px;
}

	
	
.mainframe .WB_loginButton{
	margin:15px 0px 0px 120px;
}
/* 会员登陆 */
.sign_top{
	background:url(../imgs/sign_bg.png) no-repeat top;
	padding:26px 0px 0px 0px;
	width:454px;
	margin:52px 0px 0px 342px;
	position:relative;
}
.sign_bottom{
	background: url("../imgs/sign_bg.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
	padding:0px 40px 26px 40px;
	display:block;
}
.regist_top{
	background:url(../imgs/sign_bg2.png) no-repeat top;
	padding:26px 0px 0px 0px;
	width:780px;
	margin:52px 0px 82px 185px;
	position:relative;
}
.regist_bottom{
	background:url(../imgs/sign_bg2.png) no-repeat bottom;
	padding:0px 40px 26px 40px;
	display:block;
}
.wb_login{
	    border: 1px solid #ebebeb;
    border-radius: 16px;
    color: #fb8f2f;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
    padding: 0 20px;
	
	}
.sign_box{
	font-size:14px;
	color:#999ea3;
	border:2px solid #dce0e0;
	border-radius: 2px 2px 2px 2px;
	margin:24px 0px 16px 0px;

}

.sign_list{
	position:relative;
	height:39px;
	line-height:39px;
	border-bottom:1px solid #dce0e0;

	
}
.sign_list input{
	background:none;
	border:none;
	color:#999ea3;
	width:260px;
	height:26px;
	margin:2px 0px;
}
#login-button{
	background:none;
	font-family:"Microsoft YaHei";
	text-align:center;
	font-size:24px;
	color:#FFF;
	letter-spacing:1px;
	padding:8px 80px 0px 80px;
}
.wjma{
	font-size:14px;
	color:#999ea3;
	margin:20px 0px  20px 0px;
	line-height:14px;
}
.wjma span{
	margin:0px 18px 0px 4px;
}

.qqdl,.wbdl{
	background:url(../imgs/button_s.png) no-repeat;
	height:46px;
	width:180px;
	display:block;
}
.qqdl{
	background-position:0px 0px;
	float:left;
}
.wbdl{
	background-position:-215px 0px;
	float:left;
}
.dsfdl{
	margin: 12px 0 12px 342px;
    padding: 0px 40px 20px 0px;
    width:374px;
}
.chek_ture{
	background:url(../image/icon.png) no-repeat -49px 0px;
	color:#FFF;
	line-height:30px;
	height:30px;
	width:35px;
	float:left;
	display: none;
}
#preImg1,#ufc1,#uploadFile1,.member_button1,.uploadFileText1{
	float:left;
	margin-right:6px;
}
#username_div td{
	position:relative;
}
.error_left,.error_rigt{
	background:url(../image/button_x.png) no-repeat;
	height:30px;
}
.error_left{
	background-position:0px -63px;
	position:absolute;
	padding:0px 0px 0px 12px;
	z-index:6;
	top:26px;
	margin-left:376px;
	color:#FFF;
	line-height:30px;
}
.error_rigt{
	background-position:100% -63px;
	display:block;
	width:120px;
	text-align:center;
	padding:0px 6px 0px 0px;
	color:#FFF;
	line-height:30px;
	z-index:10;
	position:absolute;

}

.regest_box	{
	font-size:14px;
	color:#333;
	margin:24px 0px 16px 0px;

}
.regest_box input{
	color:#333;
}
.regest_box	span{
}
.regest_box .zhuce_mc{
	color:#626262;
}
.regist_header{
	border-bottom:1px solid #dce0e0;
}
.regest_box .zcsm{
	display:block;
	float:left;
	width:298px;
	padding:0px 0px 3px 12px;
	height:30px;
	line-height:30px;
	font-size:12px;
	
	color:#999EA3;

	
}
.error{
	display:block;
	float:left;
	width:298px;
	padding:0px 0px 3px 12px;
	color:#ee7217;

	
}
.regest_list{
	position:relative;	
	margin:12px 0px;
	height:40px;

}
.regest_list input{
	float:left;
	border:1px solid #dce0e0;
	width:286px;
	padding:3px;
	height:30px;
	line-height:32px;
	padding:0px 4px;
	color:#999ea3;
}
.zhuce_mc{
	float:left;
	width:72px;
	text-align:right;
	padding-right:3px;
	line-height:30px;
}
.danye {
	width:870px;
	margin:40px 0px 0px 155px
}
.danye p{
	margin:20px 0px
}
.zhuanti-list li{
	height:48px;
	background: url(../image/zhunyimulu.png) no-repeat top left;
	color:#929292;
	line-height:48px;
	position:relative;
}
.zhuanti-list a{
	display:block;
	height:48px;
	width:100%
}
.zhuanti-list .muluzhangjie{
	font-size:14px;
	color:#929292;
}
.mulubiaoti{
	position: absolute;
	left:98px;
	z-index:6;
}
.zhuanti-list .alignright{
	font-size:14px;
}
.shugaojieshao{
	padding:20px 20px 30px 20px;
	width:1098px;
	color:#616161;

}
.shugaojieshao p{
	float:left;
	text-indent:2em;
	margin:0px 20px;
	font-size:15px;
	line-height:28px;
}
.shugaotuijian{
	font-size:16px;
	line-height:27px;
	color:
}
.shugaotuijian span{
	float:right;
	padding:6px 0px;
	color:#F48C00;
	font-size:13px;
}

.no_sign{
	background:#f5f5f5;
	border:1px solid #e6e7e7;
	text-align:center;
	padding:24px 0px;
}
.pl_list{
	float:left;
	margin:0px 0px 0px 12px;
	color:#494949;
	font-size:16px;
	line-height:28px;
	width:630px;
	
}
.pl_list p{
	width:;
}
.pinglun_shuxing{
	font-size:13px;
	line-height:14px;
	color:#9e9e9e;
	margin-bottom:6px;
	display:block;
}
.zhucetishi{
}
.zhucetishi li{
	margin:15px 0px;
	
}
.slider{
	position:relative;
}

ul.rslides_tabs {
	text-align: center;
	margin:18px 0px 22px 0px;
	padding: 0px;
	position: relative;
	height: 10px;
}

ul.rslides_tabs li {
	display: inline-block;
	background: none;
	width:10px;
	height: 10px;
	padding: 0px;
	margin: 0px 5px ;
	vertical-align: top;
}

ul.rslides_tabs li a {
	display: block;
	padding: 0px;

	background:url(../image/sider_rs.png) no-repeat center;
	margin: 0px;
	height: 10px;
	line-height: 0px;
	text-indent: -9999px;
}

ul.rslides_tabs li.rslides_here a {
	text-indent: -9999px;
	background:url(../image/sider_rs2.png) no-repeat center;
	padding: 0px;
	margin: 0px;
	height: 10px;
	display: block;
	line-height: 1px;
}
.prev,.next,.rslides_nav,.rslides1_nav{
	height:0px;
	width:0px;
	display:none;
	font-size:0px;
	padding:0px;
	z-index:-900;
}



.biaoge{
	border-top:1px solid #e2e2e2;
	border-left:1px solid #e2e2e2;
	font-size:13px;
	line-height:20px;
	font-weight:normal;
	color:#6a6a6a;
}
.content .biaoge P{
	padding:4px;
	line-height:22px;
	text-indent:0em;
	padding:8px 0px;
}
.biaoge br{
	display:block;
	height:10px;
}
.biaoge td{
	border-bottom:1px solid #e2e2e2;
	border-right:1px solid #e2e2e2;
	padding:8px;
}
.biaoge .biaoge_head td{
	border-right:1px solid #f0f0f0;
	text-align:center;
}
.biaoge_head{
	font-size:16px;
	font-weight:bold;
	background:#e7e7e7;
	height:16px;
	line-height:16px;


}




/*
专题
*/

.zhuanti_zhaiyao{
	padding:30px 40px 40px 40px;
	border-bottom:2px solid #cfdff1;
	font-size:16px;
	color:#929292;
	line-height:32px;
}
.zhuanti_zhaiyao h4{
	font-size:20px;
	color:#2f83e1;
	font-weight:bold;
}
.zhuanti_zhaiyao p{
	text-indent:2em;
	padding:30px 0px;
}
.zhuanti_zhaiyao span{
	color:#90b039;
}

.zhuanti_liucheng li{
	background:;
	line-height:26px;
	color:#9b9a9a;
	font-size:16px;
	padding:0px 0px 16px 0px
}

.zhuanti_liucheng div{
	float:left;
}

.zhuanti_liucheng div span{
	font-size:13px;
	color:#dfdfdf;
}

.zhuanti_shipin{
	border-top:2px solid #d1e2ee;
	padding:0px 40px 20px 40px;
	margin:20px 0px;
}

.zhuanti_title{
	font-size:20px;
	color:#595959;
	font-weight:bold;
}
.left_box .load .disabled{
	color:#939393;
}

.page input {
	border: 1px solid #ebebeb;
	background:#FFFFFF;
    border-radius: 16px;
    color: #fb8f2f;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
    padding: 0 20px;
}
.menber_title{font-weight:bold; padding-bottom:10px}
.mc_content input{margin-left:20px; line-height:24px; padding:0px 10px; color:#BDBDBD}
.mc_content .page input{color:#fb8f2f; padding:0px 20px; border:1px solid #fb8f2f}