
/*----------------------------------------
Name: layout.css
Developed by: Jiuxf
Date Created: 2011-11-02
Last Updated: 2012-12-16
Copyright: Jiuxf
----------------------------------------*/

@charset "utf-8";
@import url(global.css);
html{border-top:0px solid #fb8f2f; width:100%;}
*{padding:0px; margin:0px}
body{color:#9d9d9d; margin:0px auto; max-width:1280px; font-size:14px; background:#FFFFFF; width:100%; font-family:"微软雅黑"}
*,h1,h2,h3,h4,h5,h6,p,input,form,ul,ol,li,dl,dt,dd,hr,td,th{margin: 0; padding: 0; font-weight:normal}
img{ border: none;}
ul,li{list-style-type:none;}
hr{ display:none;}
table{border-collapse:collapse;}
a{color:#8d8d8d; text-decoration:none; display:inline-block;}
a:visited{color: #8d8d8d; text-decoration: none;}
a:link{color: #8d8d8d; text-decoration: none;}
a:hover{color: #fb8f2f;}
a:active{color: #848484; text-decoration: none;}
.right{float: right}
.left{float:left}
#left{float:left}
.clr{clear:both; padding:0px; margin:0px; line-height:0px; height:0px}
h4{ font-size:16px}
h2{font-size:20px; font-family:"微软雅黑"; line-height:20px;}
.font16{font-size:16px}
.font12{font-size:12px; line-height:12px; color:#b2b2b2}


/*layout
--------------------------------*/
.wrap{position:relative; width:1180px; margin:0px auto}
.left_box{ width:860px}
.right_box{ width:300px}
.title{padding:30px 0px}
.title a { display:inline-block; padding-right:20px; }
.title a:hover{ color:#fb8f2f;}
.title a h2,.title h2{color:#58c276}




/*header
--------------------------------*/
.nav a{color:#b8b8b8; font-size:14px;}
.nav a:hover{color:#585858}
.head{width:100%; height:68px;}
.logo{margin:15px 10px 0px 0px}
.menu a{ padding:0px 10px;line-height:68px; font-size:16px}
.menu .current-menu{color:#fb8f2f}
.search_box{ height:30px; width:150px; margin-top:15px; border-bottom:1px solid #fb9d48; background:url(../imgs/search_btn.png) right center no-repeat}
.login_header_box{margin-top:23px}
.search_box input{background:none; border:none; float:left; height:30px}
#txtKey{width: 120px;}
#search-btn{width:30px; cursor:pointer}
.login_header_box a,.search_box input{color:#c2c2c2; font-size:14px;line-height:30px;}
.login_header_box a{padding:0px 15px 0px 0px;}


/*footer
--------------------------------*/
.footer_nav a{text-decoration:none}
.footer_nav{padding:20px 0px 40px 0px; border-top: 1px solid #f0f0f0; position:relative;}
.footer_nav div{ display:inline-block; width:20%; float:left; position:relative}
.footer_nav h4,.footer_nav a{display:block; width:100%;}
.footer_nav h4{ padding-bottom:22px}
.footer_nav a{line-height:30px; height:30px;}
.follow a p{display:none; width:80px; height:80px; position:absolute; left:70px;}
.weixin p{background:url(../imgs/weixin.png) no-repeat;}
.weibo p{background:url(../imgs/weibo.png) no-repeat;}
.follow a.weixin:hover p{display:block; top:50px;}
.follow a.weibo:hover p{display:block; top:50px;}
.Copyright{border-top:1px solid #f0f0f0; padding:20px 0px;}



/*banner
--------------------------------*/
.banner_box{ float:left; width:860px; height:363px;}
#zSlider{overflow:hidden; position:relative; width:860px}
#picshow{position:relative;}
#picshow,#picshow_img{width:645px; height:363px; overflow:hidden; float:left;}
#picshow_img li{width:645px; height:363px; overflow:hidden; float:left; display:none;}
#picshow_img img{width:644px; height:auto; border-left:1px solid #F1F1F1; border-bottom:1px solid #F1F1F1; border-top:1px solid #F1F1F1; border-right:none }
#picshow_tx{left:0px; width:645px; bottom:0px; position:absolute; height:90px; overflow:hidden;}
#picshow_tx li{background:url(../images/picshow_bg.png) repeat; padding:10px 30px; height:70px; color:#fff; display:none;}
#picshow_tx li a{color:#fff;}
#picshow_tx li a:hover{text-decoration:underline;}
#picshow_tx li h3{ margin:13px 0;}
#picshow_tx li p{ color:#ccc; line-height:16px; height:16px; overflow:hidden;}
#select_btn{width:225px; height:363px; color:#111; position:absolute; right:0px; top:0px; z-index:1;}
#select_btn li{width:225px; height:121px; position:relative;}
#select_btn li a{ display:block; position:relative;width:225px; height:121px;}
#select_btn li img,#select_btn li b,#select_btn li span{ display:block;  position:absolute; top:0px; right:0px;}
#select_btn li b{background-image:url(../imgs/baner_bg.png)}
#select_btn li .img_mask1 b{background-position:0px 0px}
#select_btn li .img_mask2 b{background-position:0px -121px}
#select_btn li .img_mask3 b{background-position:0px -242px}
#select_btn .current a b{background-position:100% 0px; }
#select_btn .current a:hover span{color:#d8d6d6}
#select_btn .current a span{color:#FFFFFF}
#select_btn li img{z-index:2; width:215px; height:121px;}
#select_btn li b{z-index:3; width:225px; height:121px}
#select_btn li a span{z-index:4; padding:32px 20px 35px 30px; width:175px; height:188px; font-size:14px; line-height:26px;color:#d8d6d6; }


/*ringht_class
--------------------------------*/
.right_class_box{float:left; padding-top:121px; width:320px; height:242px; background:url(../imgs/gongkaike.png) no-repeat top;}
.right_class_box li{display:inline-block; float:left}
.right_class_box li a{display:inline-block; color:#b8b3b2; line-height:26px; font-size:14px; padding:25px 20px; width:120px; height:71px;}
.right_class_box li a:hover{color:#FFFFFF}

/*list
--------------------------------*/
.sapce_20{padding:20px 30px;}
.list_font a h4{ color:#575757; line-height:16px;}
.list_home a p{color:#8b8b8b; line-height:25px; }
.list_home span{color:#aeaeae; font-size:12px; padding:0px 5px;}
.list_font span a{color:#fb8f2f; padding-right:10px;}
.list_font span a:hover{color:#575757}


.list_home,.list_topic,.list_news{background:url(../imgs/list_bg.png) repeat-y; }
.list_home li{width:430px; height:200px;display:inline-block; float:left; position:relative}
.list_home h4{ width:100%; height:35px; overflow:hidden;}
.list_home p{float:left; width:220px; height:74px; overflow:hidden; position:relative; top:-5px;}
.list_home_img_box{ width:120px; height:70px; overflow:hidden; margin:0px 20px 25px 0px; float:left;}
.list_home_img_box img{width:100%; height:auto}
.add_info{clear:both;}
.add_info span{font-size:12px;}


.list_video{ background:url(../imgs/list_video.png) repeat-y}
.list_video li{ width:286px; height:400px; position:relative; float:left}
.list_video_box{position:relative; padding:38px}
.list_video_box .list_home_img_box{clear:both; margin:0px 0px 15px 0px; width:210px; height:118px; position:relative;}
.list_video_box .list_home_img_box img{ position:absolute; bottom:0px;}
.list_video_box a h4{height:50px; overflow:hidden; clear:both; line-height:24px;}
.list_video_box p{width:100%; height:80px; margin:20px 0px 40px 0px}


.list_topic li{width:100%; height:200px; overflow:hidden}
.topic_time{ float:left; height:200px;width:150px; color:#fb8f2f; font-size:24px; text-align:center; position:relative; background:url(../imgs/topic_bg.png) repeat-x}
.topic_time p{display:block; width:100%;}
.topic_time .year{margin:42px auto 0px auto;font-size:16px;}
.list_topic a{display:block; width:630px; padding:40px; float:left}
.img_box{float:left; width:210px; height:118px; overflow:hidden; margin-right:20px;}
.img_box img{width:100%; height:auto}
.text_box{float:left; width:400px;}
.list_topic .text_box_activities{ width:600px;}
.list_topic .text_box h4{ margin-bottom:20px; margin-top:4px}
.list_topic .text_box p{line-height:26px}
.pagebar{margin:20px 0px; font-size:0px;}
.pagebar a{ font-size:14px}
.pagebar select,.pagebar select option{display:none; width:0px; height:0px;}
.title_topic{ padding:26px 100px 0px 0px;}
.topic_info{padding:0px 100px 20px 0px; color:#8a8a8a; font-size:16px;}



.list_news li{width:100%; height:200px; overflow:hidden; position:relative;}
.list_news .list_news_a{padding:40px 20px; display:block}
.list_news .add_info{ width:180px; height:80px; position:absolute; right:0px; top:78px}
.list_news .add_info span{display:block; width:100%; height:28px; line-height:28px; overflow:hidden}
.list_news h4{margin-bottom:20px; width:580px; float:left}
.list_news p{width:370px; float: left; line-height:28px;}

.author_class{width:50px; display:inline-block; overflow:hidden; line-height:18px; height:18px}

/*right_list
--------------------------------*/
.right_list{width:100%}
.right_list .title h2{line-height:24px;}
.right_list .title a{margin-bottom:0px;}
.right_list a{display:block;  line-height:14px; clear:both; margin-bottom:22px}
.right_list b{display:inline-block; background:url(../imgs/go.png) no-repeat; width:8px; height:8px; margin-top:4px; float:right}
.right_list font{font-family:Tahoma, Verdana, Arial; color:#cacaca; padding-right:10px}
.right_list .actioned a{line-height:42px; height:42px; margin-bottom:0px; color:#575757; display:block; border-bottom:1px dashed #f0f0f0}
.right_list .actioned a:hover{color:#fb8f2f}
.right_ad {clear:both; padding-top:40px}
.right_ad a{border:1px solid #f0f0f0; display:block; width:290px; margin-bottom:10px;}
.right_ad img{width:290px; height:auto;}
.right_list_hot li{list-style:decimal}

/*标签 二级分类
--------------------------------*/
.home_tag{background:#f2f2f2; padding:30px; text-align:center}
.tag{text-align:center}
.tag a{ color:#fb8f2f}
.tag a:hover{color:#707070}
.tag span{font-size:10px; padding:0px 10px}
.home_tag .orage_buttn{width:200px; height:30px; line-height:30px; border-radius:15px; color:#FFFFFF; background:#fb8f2f; margin-top:20px;}
.home_tag a.orage_buttn:hover{ color:#fdccac}

.classify {padding:20px 0px;}
.classify a{color:#9f9f9f; padding:0px 20px; height:30px; line-height:30px; display:inline-block}
.classify a:hover{color:#fb8f2f}
.classify  .classify_current{background:#fb8f2f; border-radius:15px; color:#FFFFFF}
.classify  .classify_current:hover{color:#fdd7be}


/*详情页
--------------------------------*/
.top_advertisement{ padding:20px 0px 20px 0px; width:1180px; margin:0px auto}
.news_detail{ padding:20px 60px 0px 20px}
.detail_top{ padding:10px 0px 20px 0px; border-bottom:1px dashed #e5e5e5}
.detatil_title{ display:block; line-height:40px; font-size:28px; color:#585858}
.detail_content p{padding-bottom:20px;}
.detail_text_box div{padding:10px 0px}
.detail_content{position:relative; font-size:16px; line-height:28px; color:#737373; padding:20px 0px;}
.detail_content .article_notes{font-size:13px; color:#afa094; padding-top:30px;}
.detail_text_bottom span{font-size:14px; color:#bfbfbf}
.detail_text_bottom {margin-bottom:20px;}
.news_detail span .collection{background:url(../imgs/collection.png) no-repeat right top;display: inline-block;height:16px;line-height:16px;padding-right:20px;position:relative;margin-right:10px;cursor:pointer}
.collection:hover{text-decoration:none}
.detail_text_bottom{ padding:10px 0px; border-bottom:1px dashed #e5e5e5; border-top:1px  dashed #e5e5e5}
.bdsharebuttonbox{float:right;}
.detail_content .list_font .bdsharebuttonbox a{padding:0px 0px 0px 16px;}
.no_sign{color:#afa094; font-size:13px;}
.no_sign span{float:left}
.button a{display:inline-block; margin:0px 5px; padding:0px  20px; height:30px; line-height:30px; border:1px solid #ebebeb; border-radius:16px; color:#fb8f2f}
.wb_login b{display:inline-block; width:30px; height:30px; background:url(../imgs/login_weibo.png) no-repeat; margin-right:10px; float:left;}
.wb_login strong{ float:left;}
.avatar_r{float:left; width:48px; height:48px; border-radius:24px; margin-right:20px; overflow:hidden; background:#eaeaea}
.avatar_r img{width:100%; height:auto}
.pinglun_shuxing{font-size:13px; color:#bfbfbf; width:100%; margin-bottom:10px}
.pl_list{width:690px; float:left; position:relative; top:-5px}
.pinlun li{margin-bottom:10px}
.pinlun_text .text{width:760px; height:120px; padding:10px 10px; background:#eaebec; border:none; margin-bottom:10px; font-family:"微软雅黑"; color:#9d9d9d}
.pinlun_text .submit{float:right; width:100px; height:32px; background:#fb8f2f; border:none; font-size:18px; color:#FFFFFF; border-radius:0px; text-align:center; line-height:32px;}
.pinu_shuoming{float:left; color:#9d9d9d; font-size:14px; margin-top:6px}





.course_img_box{width:280px; height:172px; position:relative; float:left; overflow:hidden; margin-right:20px;}
.course_bodre{ border-bottom:1px solid #ebebeb; padding-bottom:30px}
.course_img_box img{height:100%; width:auto; position:absolute; bottom:0px; left:0px;}
.course_info{position:relative; width:560px; float:left}
.course_info .detatil_title{ margin-bottom:10px}
.course_info .and_info{display:block; margin:8px 0px}
.course_info_box p{ line-height:26px; padding-right:100px}
.course_img_box .title{width:100%}
.begin_button{display:inline-block; padding:0px 40px; height:48px; border-radius:24px; color:#FFFFFF; font-size:24px; line-height:48px; background:#fb8f2f;}
.begin_button:link,.begin_button:visited{color:#FFFFFF}
.begin_button:hover{ color:#fdccac}
.begin_button_course{ margin-top:16px}
.course_info .add_info span{ padding-right:10px}
.course_list{background:url(../imgs/class_er_bg.png) repeat-y top}
.course_list li{width:100%; height:160px; clear:both}
.course_list_left{float:left; width:150px;text-align:center;}
.course_list_left font{ display:inline-block; padding-top:36px; color:#575757}
.course_list_right{ float:left; width:650px; padding:40px 30px 0px 30px}
.course_list_right h4{margin-bottom:16px; width:100%; }
.course_list_right p{line-height:28px}
.author_head_box{width:60px; height:60px; overflow:hidden; position:relative; float:left; margin-right:20px;}
.author_head_box img{width:100%; height:auto; border-radius:30px}
.author_nane{float:left; width:200px;}
.author_info_box .add_info{ clear:none;}
.author_info_box .add_info span {display:block; margin:8px 0px}
.author_info_box p{ padding-top:15px; line-height:26px;}
.seach_hit{font-size:20px; padding:30px 0px}

/*日历
--------------------------------*/

.clear{clear:both;}
.month-container{background:#FFFFFF;width:287px;margin:0px;border-top:1px solid #ebebeb;border-left:1px solid #ebebeb;font-family:Tahoma, Verdana, Arial;}
.month-head{height:50px;font-size:16px;color:#a3a3a3;text-align:center;border-bottom:1px solid #ebebeb;border-right:1px solid #ebebeb;}
.month-head span { color: #a3a3a3;line-height:50px;}
.month-cell { float: left;width:40px;height:40px;background:#FFFFFF;border-right:1px solid #ebebeb;border-bottom:1px solid #ebebeb;position:relative;}
.month-cell span {display: block;color: #cccccc;font-size:14px;font-family:Tahoma, Verdana, Arial;text-align: center;line-height:40px; cursor:pointer;}
.month-cell.active span {border-color: #cccccc;}
.month-cell.pink span { color: #b8b8b8;}
.month-cell.pink.active span { border-color: #ffe295;}
.month-cell.orange {background: #FFFFFF;}
.month-cell.orange span { color: #ffaf6e;border-color: #fff5b4;}
.month-cell.orange.active span {border-color: #ffcf71;}
.month-cell.red span {color:#fb8f2f;border:solid 1px #fb8f2f;height:22px;position:absolute;width:22px;top:7px;left:7px;z-index:4;text-align:center;line-height:22px;
border-radius:11px;}
.month-cell.white {background: #ffffff;}
.month-cell.white{background:#5bd27c;}
.month-body .month-cell.white span {color:#FFFFFF;border:1px solid #FFFFFF;}
.month-cell.blue {background:#FFFFFF;}
.month-cell.blue span { color: #737373}
.flipContainer{width:300px;height:100px;background:#FFF;padding:10px;}
.flip{background:url(../images/filmstrip.png);float:left;width:53px;height:103px;}
.month-body li{}
.actioned {position:absolute;top:50px;left:50%;margin-left:-146px;width:260px;min-height:60px;background:#FFFFFF;border:1px solid #ebebeb;z-index:99;display:none;border-radius:6px;box-shadow:0px 2px 2px 0px #cecece;padding:10px 15px;}
.month-cell .w0{margin-left:-23px}
.month-cell .w1{margin-left:-64px}
.month-cell .w2{margin-left:-105px}
.month-cell .w3{margin-left:-146px}
.month-cell .w4{margin-left:-187px}
.month-cell .w5{margin-left:-228px}
.month-cell .w6{margin-left:-269px}
.month-cell .w0 p{margin-left:-137px}
.month-cell .w1 p{margin-left:-96px}
.month-cell .w2 p{margin-left:-55px}
.month-cell .w3 p{margin-left:-14px}
.month-cell .w4 p{margin-left:27px}
.month-cell .w5 p{margin-left:68px}
.month-cell .w6 p{margin-left:109px}
.month-body .show {display:block;}
.actioned p{width:28px;height:12px;position:absolute;left:50%;top:-12px;margin-left:-14px;background:url(../imgs/rili_top.png) no-repeat;}


.right_list_comment a{ display:block;}
.right_list_comment span{color:#b4b4b4}
.right_list_comment .author_comment{ color:#58c276;}
.author_comment span{margin-left:5px}
.comment_box{position:relative; width:100%; border:1px solid #e9e9e9; margin:15px 0px;}
.comment_box p{ padding:10px 15px; line-height:26px;border-bottom:1px solid #f0f0f0}
.comment_article{ color:#8a8a8a; padding:15px;}
.comment_article span{padding-right:5px}
.comment_box em{width:18px;height:12px;position:absolute;left:8px;top:-12px;background:url(../imgs/comment_top.png) no-repeat;}
.right_list .comment_box a{margin-bottom:0px; border:none}
.right_box .tag{text-align:left}
.right_box .tag a{padding-bottom:6px}
.right_box .tag span{padding:0px 5px}

.about{line-height:28px;  padding-top:20px;}
.about a{color:#fb8f2f}
.about a{display:inline-block; float:right; text-align:right; padding:0px 80px 30px 0px; font-size:20px;}
.about .list3{padding-right:160px}
.about dd font b{padding:20px 0px; display:block;}
.registation_agreement{padding:0px 100px 20px 100px}
.registation_agreement div strong{font-size:18px; color:#5F5F5F; display:block; padding:15px 0px}