@charset "utf-8";
/* CSS Document */

/***************************************
	Theme Name: Remal
	Description: wine
	Author: jiuxf
	Author URI: http://q.jiuxf.cn/
	Version: V 2.0
***************************************/


body {
font-family: "Microsoft YaHei";
	font-size: 16px;
	color: #5f5f5f;
	position: relative;
	background: url(../imgs/boay_bg.gif);
}
#body_topic{
	background:#FFF;
}
img {
	border: none;
}
ui {
	list-style: none;
	padding:0px;
	margin:0px;
}
a {
	color: #353535;
	text-decoration: none;
}
a:hover{
	color:#f15f3a;
}
.clr {
	clear: both
}
.float_l {
	float: left
}
.float_r {
	float: right
}
* {
	padding: 0;
	margin: 0;
	outline: none;
	list-style: none;
	border: 0 none;
}
h2,h3,h4,h5,h6{
	font-family: "Microsoft YaHei";
}
h2{
	font-size:20px;
	line-height:20px;
	color:#3a3a3a;	
}
h3,h3 a{
	font-size:18px;
	line-height:18px;
	color:#353535;
}
h4{
	font-size:16px;
	line-height:16px;
}
h5{
	font-size:14px;
}
h6{
	font-size:12px;
}
#no_m{
	margin:0px;
}
/* ---------------------------------------------
结构
------------------------------------------------ */
#body_topic .head{
	margin-bottom:0px;
}
.head {
	background: url(../imgs/head_bg.gif) repeat-x  bottom left;
	color: #93989d;
	height: 85px;
	margin-bottom:20px;
	border-top:4px solid #f15f3a;
	font-family: "Microsoft YaHei";
}
.mian {
	width: 1140px;
	margin: 0px auto;
}
.mian_left {
	float: left;
	width: 760px;

	
}
.mian_right {
	float: right;
	width: 370px;

	margin-bottom:10px;

}

.column_title{
	height:50px;
	padding:0px 20px;
	background:#f1f1f2;
	border-bottom:1px solid #e4e4e4;
	
}

.column_title h3,.home_topic .column_title h3{
	float:left;
	height:50px;
	line-height:50px;
	border-bottom:0px solid #e1472f;
	font-weight:bold;
	font-size:18px;

}
.composition{
	padding:20px;
}
.box_style{
	border:1px solid #e4e4e4;
	background:#FFF;
	margin-bottom:8px;
}
.margin20{
	margin-top:50px;
}
#tag_count{
	margin-left:6px;
	font-size:14px;
	color:#959595;
}
.tags_links_list a{
	color:#000000;
	margin: 10px 10px 10px 10px;
	float:left;
	display:inline-block;
	
}
.tags_links_list a:hover{
	color:#4D9558;
}
/* ---------------------------------------------
头部
------------------------------------------------ */
.logo {
	display: inline-block;
	background: url(../imgs/logo.png) 0px -78px;
	width: 184px;
	height: 45px;
	float: left;
	margin: 17px 10px 0px 0px;
}
.menu {
	float: left;
}
.menu a {
	float: left;
	font-size: 20px;
	line-height: 22px;
	padding: 37px 20px 0px 20px;
	height: 44px;
	font-weight:bold;
	color:#7f7f7f;
}
.menu a:hover{
	color:#f15f3a;
}
.menu .current-menu {
	border-left: #F7F7F7 1px solid;
	border-right: #F7F7F7 1px solid;
	background: #FCFCFCA;
	color: #f15f3a
}
.haed_right {
	float: right;
	padding-top: 15px;
}
.haed_right input {
	background: #FFF;
	width: 140px;
	height: 24px;
	padding: 0px 10px;
	line-height: 24px;
	color: #676767;
	font-size: 14px;
	float:left;
	border-left:1px solid #e0e0e0;
	border-top:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
	
}
#search-btn {
	background: url(../imgs/logo.png) -156px -00px;
	height: 26px;
	width: 26px;
	cursor: pointer;
	border:none;
}
.head_login {
	clear: both;
	font-size:14px;
	height: 14px;
	line-height: 14px;
	padding: 0px 0px 10px 0px
}
.head_login a {
	float: right;
	padding-left:15px;
	color:#b7b8bb;
}
.head_login a:hover{
	color:#529a52
}
/* ---------------------------------------------
尾部
------------------------------------------------ */
#body_topic .footer{
	margin-top:0px;
}
.footer {
	background:url(../imgs/footer_bg.png) top repeat-x  #ececec;
	padding-top:1px;
	margin-top:30px;
}
.footer a{
	font-size:16px;
	color:#919191;
	padding:0px 14px;
	line-height:40px;
}
.footer a:hover{
	color:#4d9558;
}
.footer_links{
	height:40px;
	width:100%;
	text-align:center;
	margin:20px 0px;
}
.bottom_jiuxfinfo{
	text-align:center;
	padding:20px 0px 12px 0px;
	width:100%;
}
.footer_mian{
	width:1140px;
	text-align:center;
	position:relative;
	margin:0px auto;
}
.footer p{
	color:#b5b5b5;
	font-size:14px;
	padding-bottom:20px;
	margin:0px auto;
	position:relative
}
.footer .go_top{
	display:block;
	width:60px;
	height:50px;
	position:absolute;
	padding:0px;
	bottom:0px;
	right:0px;
	background:url(../imgs/logo.png) -53px -129px;
}
/* ---------------------------------------------
banner
------------------------------------------------ */
.home_top{
	background:#f0f0f0;
	padding:20px 0px;
	border-bottom:1px solid #d9d9d9 ;

	
}
.banner{
	float:left;
	height:428px;
	width:100%;
	overflow:hidden;
	position:relative;
	
}

.banner_img{
	width:100%;
	height:428px;
	background: url(../imgs/banner.png);

	overflow:hidden;
	float:left;
}
.banner img{
	width:100%;
	height:auto;
}
.banner_text{
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:160px;
	float: left;
	background: url(../imgs/banner_text_bg.png);

}

.banner h2{
	color:#FFF;
	margin:20px 24px 20px 24px;
	height:26px;
	line-height:26px;
	font-size:24px;
	width:700px;
	overflow:hidden;
	font-weight:normal;	
}
.banner p{
	color:#acacad;
	width:700px;
	margin:0px 24px;
	line-height:26px;

	height:110px;
	overflow:hidden;
}
.home_topic{
	position:relative;
	float:right;
	width:370px;
	border-bottom:3px solid #dddddd;
	border-left:1px solid #e4e4e4;
	border-right:1px solid #e4e4e4;
	border-top:1px solid #e4e4e4;
	background:#FFF;
	margin-bottom:8px;
	padding-bottom:36px;
}
.home_topic #home_topic_more{
	position:absolute;
	padding:0px;
	border:none;
	display:block;
	width:32px;
	height:32px;
	right:0px;
	bottom:0px;
	background:url(../imgs/logo.png) -114px -147px;
	z-index:20;
}
.home_topic a{
	display:block;
	height:60px;
	padding:18px 20px 6px 20px;
	border-bottom:1px  solid #EDEDED;
}
.home_topic a:hover h3{
	color:#4d9558;
}




.home_topic h3{
	color:#353535;
	height:18px;
	line-height:18px;
	width:340px;
	padding-bottom:14px;
	overflow:hidden;
	font-weight:normal;
	font-size:16px;
	
}
.home_topic  p{
	width:340px;
	height:18px;
	overflow:hidden;
	color:#989898;
	font-size:14px;
}
.banner a{
	display:block;
	width:748px;
	height:427px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:20;
}

.banner_biaoji{
	background:url(../imgs/keynote.png) top left;
	width:40px;
	height:40px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:10;
}

/* ---------------------------------------------
文章列表
------------------------------------------------ */
.article_list{
	padding:0px 0px 30px 0px;
}
.mian_right .article_list{
	padding:20px 20px 10px 20px;
}
.article_list li{
	padding:10px 20px  ;
	border-bottom:1px dashed #ededed;
}
.thumb_img{
	float:left;
	display:inline-block;
	width:210px;
	height:118px;
	overflow: hidden;
	margin-right:28px;
	background:#E4E4E4;
}
.thumb_img img{
	width:210px;
	height: auto;
}
.article_brief{
	float:left;
	width:466px;
	height:130px;
	position:relative;
}
.article_list  h3 {
	overflow:hidden;
	margin:0px 0px 20px 0px;
	font-weight:400;
}
.article_list  h3 a{
	color:#353535;
	font-size:20px;
	line-height:30px;
}
.mian_right .article_list  h3 a{
	color:#353535;
	font-size:16px;
}
.mian_right .article_list p{
	font-size:14px;
	line-height:24px;
	color:#5f5f5f;
}
.article_list  h3 a:hover{
	color:#4d9558
}

.article_brief p{
	line-height:30px;
	text-align:justify;
	text-justify:inter-ideograph;
	margin-top:-4px;
}
.banner .attribute{
	position:absolute;
	z-index:10;
	bottom:10px;
	left:24px;
}
.article_brief .attribute{
	margin-bottom:22px;
 
}
.attribute{
	height:16px;
	line-height:16px;
	font-size:12px;
	color:#959595;
}
.mian_right .attribute{
	margin-bottom:10px;
	}
.attribute div{
	float:left;
	margin-right:20px;
}
.attribute div em{
	background:url(../imgs/icon16.png) no-repeat;
}
.attribute div em{
	display:inline-block;
	margin-right:8px;
	width:16px;
	height:16px;
	float: left;
}
.attribute div span{
	float:left;
}
.author_icon{
	background-position:0px 0px;
}
#time_icon{
	background-position:-16px 0px;
}
#read_icon{
	background-position:-32px 0px;
}
#pinglun_icon{
	background-position:0px -16px;
}
.paly_icon{
	background-position:-48px 0px;
}
.article_load{
	text-align: center;
	color:#959595;
	display:block;
	width:758px;
	height:36px;
	line-height:36px;
	 border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 1px 1px;
	font-size:14px;
}
.article_load a{
	font-size:14px;
	color:#666666;
}
.article_load select {
	border:1px solid #dcdcdc;
}
#article_page{
	text-align:right;
	font-size:14px;
	color:#b7b8bb;
	margin:20px 18px 20px 0px;
}


/* ---------------------------------------------
右侧视频
------------------------------------------------ */
.video_img_list{
	margin:20px 15px 0px 15px;
}
.video_img_list li{
	float:left;
	width:159px;
	height:147px;
	margin:0px 5px 25px 5px;
	position:relative;
	
	
}
.video_img_list_box {
	width:159px;
	height:91px;
	overflow:hidden;
	display:block;
	margin-bottom:10px;
	background:#CCC;
}
.video_img_list img{
	width:159px;
	height:91px;
	margin-bottom:8px;
}
.video_img_list a{
	font-size:15px;
	line-height:24px;
	font-family: "Microsoft YaHei";
	overflow:hidden;
	display:block;
	text-align:justify;
	text-justify:inter-ideograph;
	color:#353535;


}
.video_img_list a:hover{
	color:#529a52;
}
#video_img_list_text{
	display:block;
	height:50px;
	overflow:hidden;

}
a:hover #video_img_list_inks span{
	background-position:-30px 0px;
}
#video_img_list_inks span{
	display:block;
	width:16px;
	height:16px;
	background:url(../imgs/play.png) top left no-repeat;
	position:absolute;
	top:18px;
	left:65px;
}
.video_text_list{
	padding-top:10px;
	border-top:1px solid #f0f0f0;
	margin-bottom:10px;
}

.video_text_list a{
	padding:0px 20px;
	height:40px;
	line-height:40px;
	display:block;
	
}
.video_text_list  a{
	color:#8c8c8c;
}
.video_text_list  a:hover{
	color:#529a52;
}
.video_text_list a span{
	display:inline-block;
	max-width:290px;
	height:40px;
	overflow:hidden;
	float:left;
	font-size:14px;
}
.video_text_list a em{
	display: inline-block;
	float:right;
	width:16px;
	height:16px;
	background:url(../imgs/icon16.png) no-repeat -48px 0px;
	margin-top:13px}
/* ---------------------------------------------
标签
------------------------------------------------ */
.tags_links a{
	float:left;
	display:inline-block;
	height:30px;
	line-height:30px;
	padding:0px 12px;
	margin:0px 6px 6px 0px;
	font-weight:normal;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	border-left:1px solid #dddddd;
	border-right:1px solid #dddddd;


	
}
.tags_links a:hover{
	color:#4d9558;
}

/* ---------------------------------------------
关注
------------------------------------------------ */
.follow-weico,.follow-weixin{
	float:left;
	width:154px;
}

.follow-weico div,.follow-weixin div{
	float:left;
	width:78px;
	height:78px;
	margin-right:8px;
	background:url(../imgs/logo.png) no-repeat;
}

.follow-weico div{
	background-position:0px 0px;
}
.follow-weixin div{
	background-position:-78px 0px;
}

.follow-weico{
	float:left;
	margin-right:18px;
}
.follow-weixin h4{
	padding:18px 0px 10px 0px;
	float:left;
}
.follow-weico h4{
	padding:18px 0px 20px 0px;
	float:left;
}
.follow-weico a{
	margin-top:4px;
}
.follow-weixin p{
	font-size:13px;
	color:#a3a2a2;
}
/* ---------------------------------------------
撰稿人推荐
------------------------------------------------ */
.writer {
	padding:30px 20px 0px 20px
}
.writer a{
	float:left;
	width:50px;
	height:50px;
	display:inline-block;
	margin-right:8px;
}
.writer dd, .writer dt{
	float:left;
	width:153px;
	height:50px;
	margin-bottom:30px;
	position:relative;
}
.writer dt{
	margin-right:28px;
}
.writer img,.writer h3,.writer span{
	float:left;
}
.writer img{

	width:50px;
	height:50px;
	
	float:left;
}
.writer h3{
	width:94px;
	line-height:18px;
	height:18px;
	overflow:hidden;
	padding:4px 0px 12px 0px;
	float:left;
	font-size:16px;
}
.writer span{
	font-size:12px;
	color:#a3a2a2;
	float:left;
	display:inline-block;
	width:95px;
}
#writer_keynote{
	display:block;
	width:18px;
	height:18px;
	position:absolute;
	top:0px;
	left:0px;
	background: url(../imgs/keynote.png) no-repeat;
}

.classify a{
	float:left;
	display:inline-block;
	height:34px;
	color:#666666;
	line-height:34px;
	font-size:16px;
	margin-right:18px;
	font-family: "Microsoft YaHei";
}
.classify a:hover{
	color:#e66837;
}
.classify .classify_current{
	padding-left:16px;
	background:url(../imgs/button_bg.png) top left;
	color:#FFF;
	height:34px;
	line-height:34px;

}
.classify a:hover.classify_current{
	color:#FFF;
}
.classify .classify_current span{
	display:inline-block;
	padding-right:16px;
	margin-right:-2px;
	height:34px;
	line-height:34px;
	background:url(../imgs/button_bg.png) top  right;
}


.classify{
	height:50px;
	
}


/* ---------------------------------------------
优质评论
------------------------------------------------ */
.youzhi_pinglun .avatar_r{
	float:left;
	width:40px;
	height:40px;
	overflow:hidden;
	margin-right:8px;
}
.youzhi_pinglun .avatar_r img{
	width:40px;
}
.pinglunlaiyuan{
	float:left;
	height:40px;
}
.pinglunlaiyuan div,.pinglunlaiyuan a{
	width:280px;
	height:16px;
	overflow:hidden;
	line-height:16px;
	display:block;
	
}
.pinglunlaiyuan div{
	padding:0px 0px 8px 0px;
	font-size:13px;
	line-height:13px;
}
.youzhi_pinglun p{
	margin-bottom:20px;
	font-size:14px;
	line-height:28px;
}
.pinlun{
	margin-top:10px;
}
.pinlun_title{
	border-bottom:1px  solid #EDEDED;
	padding-bottom:10px;
	margin-bottom:10px;
}
.pinglunlaiyuan a:hover{
	color:#4d9558;
}


/* ---------------------------------------------
详情
------------------------------------------------ */
.zhaiyao{
	color:#529a52;
	line-height:30px;
}
.zhaiyao span{
	color:#f59f32;
	font-size:18px;
	
}
.paper_details{
}
.paper_details_top h2{
	font-size:26px;
	line-height:40px;
	padding:10px 0px 0px 0px;
}
.details_top_tag {

}
.details_top_tag a{
	float:left;
	font-size:13px;
	height:16px;
	line-height:16px;
	color:#549c54;
	padding-right:12px;
}
.details_top_tag a:hover{
	color:#549c54;
}
.details_top_tag em{
	display:block;
	height:16px;
	width:16px;
	background:url(../imgs/icon16.png) -16px -16px;
	margin-right:8px;
	float:left
}
.paper_details_mid{
	font-family:"Microsoft YaHei";
	font-size:16px;
	line-height:34px;
	color: #494949;
    padding: 40px 10px 20px 10px;
    text-align: justify;
}
.paper_details_mid p,.paper_details_mid div{
	margin-bottom:15px;
	text-indent:2em;
}
.zhuanti_list .paper_details_mid p{
	text-indent:0em;
}
.zhuanti_list .paper_details_mid {
	padding:20px 0px 0px 0px;
}
	
.paper_details_mid .zhaiyao{
	text-indent:0em;
}
.paper_details_mid p strong{
	padding-top:20px;

	display:block;
}
.share-wrap-box,.details_top_bottom{
	margin-right:20px;
	
}
.paper_details_tool{
	height:45px;
	line-height:45px;
	border-bottom:1px solid #E4E5E7;
	padding:0px 20px;
	font-size:16px;	
	color:#8c8c8c;
}
.paper_details_tool span{
	float:left;
}
.paper_details_tool a{
	color:#8c8c8c;
	float:left;
}
.shoucang{
	background:url(../imgs/icon16.png) no-repeat -32px -16px;
	display: inline-block;
	height:16px;
	width:16px;
	margin-top:16px
}
.share_weibo{
	background:url(../imgs/share.png) 0px 0px;
	width:20px;
	height:20px;
	display:block;
	float:left;
	margin:13px 30px 0px 0px;
}
.paper_details_tool .attribute{
	margin-top:15px;
}
.paper_details_tool .attribute a:hover{
	color:#529a52;
}
.plwdl-kuang-box{
	text-align:center;
	position:relative;
	margin:40px auto;
}
.wbdl{
	display:block;
	background:url(../imgs/button.png) top left no-repeat;
	width:172px;
	height:36px;
	margin:6px auto;
}
.tag_tags #pinglun_icon{
	background:url(../imgs/icon16.png) -16px -16px;
	float:left;
	width:16px;
	height:16px;
}
.tag_tags a,.tag_tags span ,.tag_tags em{
	display:inline-block;
	font-size:13px;
	color:#959595;
	float:left;
	margin:10px 6px 0px 0px;
}
/* ---------------------------------------------
评论
------------------------------------------------ */
.pinlun_tabe {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E6E7E7;
    font-weight: bold;
    height: 56px;
}

.pinlun_tabe a {
    border-right: 1px solid #E6E7E7;
    color: #939A9E;
    display: block;
    float: left;
    line-height: 56px;
    padding: 0 24px;
}
.pinlun_tabe .pinlun_tabe_current {
    border-top: 3px solid #e66837;
    height: 53px;
    line-height: 53px;
}
.pinlun li {
    padding: 12px 0;
	border-bottom:1px solid #E4E5E7;
}
.avatar_pl {
    float: left;
    height: 76px;
    overflow: hidden;
    width: 76px;
}
.avatar_pl img{
	width:76px;
	height:76px;
	border-radius: 2px 2px 2px 2px;
}
.pinlun_text {
    border: 1px solid #E6E7E7;
    float: left;
    margin: 0 0 22px 10px;
    padding: 12px;
    position: relative;
    width: 556px;
}
.pinlun_text textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E6E7E7;
    color: #62676A;
    font-family: "Microsoft YaHei";
    font-size: 15px;
    height: 38px;
    overflow: hidden;
    padding: 6px 106px 6px 6px;
    width: 440px;
}
.pinlun_wenzhang{
	padding:0px 20px;
}
.no_sign span{
	display:block;
	text-align:center;
}
.submit, #submit {
    background: none repeat scroll 0 0 #e66837;
    color: #FFFFFF;
    font-family: "Microsoft YaHei";
    font-size: 26px;
    font-weight: bold;
    height: 50px;
    position: absolute;
    right: 12px;
    text-align: center;
    top: 13px;
    width: 100px;
    z-index: 12;
}
.paper_details_pinlun{
	margin:20px 20px 0px 0px;
}
.pinu_shuoming{
	text-align:center;
	font-size:13px;
	color:#e66837;
}
/* ---------------------------------------------
专题
------------------------------------------------ */
.left_box{
	float:left;
	width:768px;

}
.right_box {
    float: right;
    width: 366px;
}
.box_r_style {
    min-height: 600px;
    padding: 16px 35px 70px;
}
.clear{
	clear:both;
}
.myjs {
    color: #F48C00;
    display: block;
    font-size: 13px;
    line-height: 22px;
    padding-bottom: 12px;
}
#container_zt{
	width:1140px;
	margin:20px auto 0px auto;
	background:#FFF;
	
   
}
.zhuanti_title {
    color: #595959;
    font-size: 20px;
    font-weight: bold;
}
.zhuanti_shipin {
    border-top: 2px solid #D1E2EE;
    margin: 20px 0;
    padding: 0 40px 20px;
}
.zhuanti_title {
    color: #595959;
    font-size: 20px;
    font-weight: bold;
}
.vido_home {
    padding: 0 8px 20px;
}
.vido_home li {
    float: left;
    margin-top: 20px;
    padding: 8px 8px 2px;
    position: relative;
    width: 234px;
}
.vido_img {
    height: 140px;
    margin: 0 0 8px;
    overflow: hidden;
    position: relative;
    width: 234px;
}
.vido_home li img {
    margin-bottom: 4px;
    width: 234px;
}
.vido_home li p {
    line-height: 30px;
    width: 220px;
}
.box_l_style,.box_r_style{
	border:1px solid #ebede7;

	margin:6px 0px;
	background:#FFF;
	
}
.box_l_style{
	padding:24px 34px;
	min-height:1000px;
}
.right_box{
	width:366px;
	float:right;
}
.avatar_r{
	float:left;
	width:42px;
	height:42px;
	overflow:hidden;
}
.avatar_r img{
	width:42px;
	height:42px;
	border-radius: 2px 2px 2px 2px;
}
.kt_list {
	padding:0px;
	margin:0px;
	list-style:none;
}
.kt_list li{
	margin:0px 0px 36px 0px;
	padding:0px;
}
.ktdt_r{
	float:right;
	width:232px;
	color:#62676a;
	font-size:16px;
	text-align:justify;
	line-height:26px;
}
.ktdt_r h5{
	line-height:24px;
	margin:-6px 0px 16px;
	font-size:16px;

}
.green{
	color:#4d9558
}
.zhuanti-list .alignright{
	font-size:14px;
}
.danye {
	width:870px;
	padding:40px 0px 0px 155px;

}
.danye  dl strong,.danye  dl b{
	margin-bottom:20px;
	display:block;
}
.danye  h3{
	margin-bottom:20px;
}
.danye p{
	margin:20px 0px
}
.zhuanti-list li{
	height:48px;
	background: url(../image/zhunyimulu.png) no-repeat top left;
	color:#929292;
	line-height:48px;
	position:relative;
}
.zhuanti-list a{
	display:block;
	height:48px;
	width:100%
}
.zhuanti-list .muluzhangjie{
	font-size:14px;
	color:#929292;
}
.mulubiaoti{
	position: absolute;
	left:98px;
	z-index:6;
}
.zhuanti-list .alignright{
	font-size:14px;
}
.shugaojieshao{
	padding:20px 20px 30px 20px;
	width:1098px;
	color:#616161;

}
.shugaojieshao p{
	float:left;
	text-indent:2em;
	margin:0px 20px;
	font-size:15px;
	line-height:28px;
}
.shugaotuijian{
	font-size:16px;
	line-height:27px;
	color:
}
.shugaotuijian span{
	float:right;
	padding:6px 0px;
	color:#F48C00;
	font-size:13px;
}

.pl_list{
	float:left;
	margin:0px 0px 0px 12px;
	color:#494949;
	font-size:16px;
	line-height:28px;
	width:671px;
	
}
.pl_list p{
	width:;
}
.pinglun_shuxing{
	font-size:13px;
	line-height:14px;
	color:#9e9e9e;
	margin-bottom:6px;
	display:block;
}
.alignright {float: right;}


/* 专题 */


.zhuanti_top{
	width:100%;
	height:318px;
	overflow:hidden;
	position:relative;
}
.zhuanti_top2{
	width:100%;
	height:158px;
	overflow:hidden;
	position:relative;
}
#zhuanti_top_bg{
	width:100%;
	height:auto;
}
#zhuanti_top_neirong{
	width:1100px;
	height:150px;
	overflow:hidden;
	top:90px;
	left:50%;
	right:50%;
	margin:0px -550px 0px -550px;
	z-index:3;
	position:absolute;
}
#zhuanti_top_neirong img{
	width:1100px;
	height:auto;
}
#zhuanti_mian{
	width:1136px;
	border-left:4px solid #f2f2f2;
	margin:0px auto;
	padding:25px 0px;
}

.zhuanti_title{
	margin:0px 0px 30px -7px;
}
.zhuanti_title span{
	display:inline-block;
	float:left;
	width:20px;
	height:32px;
	background:url(../imgs/zhuanti_list_bg.png) no-repeat;
}
.zhuanti_title h2 {
	float:left;
	font-size:20px;
	font-weight:normal;
	color:#FFF;
	height:32px;
	line-height:30px;
	padding:0px 8px;
	background:#e1472f;
}
.zhuanti_neirong{
	clear:both;
	padding:0px 20px;
}
.zhuanti_neirong p{
	text-indent:2em;
	margin-bottom:30px;
}
.zhuanti_neirong .green{
	color:#4fb874
}
.zhuanti_neirong div{
	margin-bottom:30px;
}
.zhuanti_list{
	margin-bottom:30px;
	margin-top:-30px;
}
.zhuanti_list div{
	padding:20px 20px 0px 20px
}
.font_color_deep{
	color:#454545;	
}

.huodongmudi,#huodongliucheng{
	line-height:30px;
	margin-bottom:30px;

}

#huodongliucheng li{
	clear:both;
	margin-bottom:10px;
	
}
#huodongliucheng li div{
	float:left;
	width:100px;
	display:inline-block;
	margin:0px 15px 0px 0px;
	color:#252525;
}
#huodongliucheng li h4{
	line-height:30px;
	font-weight:normal;
	float:left;
	width:940px;
}
#huodongliucheng li h4 span{
	float:none;
	color:#4fb874;
}
#huodongliucheng li h4 p{
	text-indent:0em;
	margin:15px 0px 15px 0px;
}

#huodongliucheng  .clr{
	margin:0px 0px 10px 0px;
	clear:both;
	height:0px;
	display:block;

}
#zhuanti_wenzhang a {
	display:block;
	width:100%;
	height:50px;
	line-height:50px;
	color:#454545;
	border-bottom:1px  dashed #c9c9c9;
}
#zhuanti_wenzhang a:hover{
	color:#4fb874;
}
#zhuanti_wenzhang a span{
	color:#4fb874;
	padding-left:26px;
}

#body_topic .clr{
	height:0px;
}
