
      [@cms_content_page channelId='${channelId}' titLen='18' channelOption='1' count='${count}'   append='...' dateFormat='dd' descLen='80' orderBy='${orderBy}' staDate='${staDate}' endDate='${endDate}' ]
      [#list tag_list as a]
      <li title="${a.releaseDate?string(dateFormat)}"><a href="${a.url}">[@text_cut s=a.title len=titLen append=append/]</a></li>
       [/#list]
       [/@cms_content_page]
       