

    <div class="member_img">
    	<!--<a href="${base}/member/portrait.jspx" title="点击更换头像"></a> -->
    	<a href="${base}/member/center.jspx" title="点击回到会员中心">
						[#if user.userImg??]
							[#if user.userImg!=""]
								<img src="${user.userImg!}" />
							[#else]
								<img src="/${res}/img/member/member-default-photo.gif"/>
							[/#if]
					   [#else]
					   <img src="/${res}/img/member/member-default-photo.gif"/>
					   [/#if]
					   </a>
    </div>
    <div  class="font13">${user.username}</div>
    <div style="margin:0px 0px 0px 55px" class="button_bule nav_button_bule">
    	<a href="profile.jspx">帐号设置</a>
    </div>	
    <div style="margin:0px 0px 0px 55px" class="button_bule nav_button_bule">
    	<a href="center.jspx">我的收藏</a>
    </div>




<!--<div class="mc_left">

  <div class="mc-left-zl">我的${site.name}</div>

  <ul class="nan_mu_bottom">

    <li><a href="charge_list.jspx">我的账户</a></li>

    <li><a href="consume_list.jspx">消费记录</a></li>

    <li><a href="myguestbook.jspx">我的定制</a></li>

    <li><a href="myguestbook.jspx">提定制需求</a></li>
	<li><a href="message_mng.jspx">客服咨询</a></li>

  </ul>

  <div class="mc-left-yhgl">会员管理</div>

  <ul class="nan_mu_bottom"> 

    <li><a href="${base}/member/center.jspx">会员资料</a></li>

    <li><a href="pwd.jspx">修改密码</a></li>
	<li><a href="#">新浪微博绑定</a></li>
    <li><a href="collection_list.jspx">我的收藏</a></li>

  </ul>

</div> --> 
