<div style="border-bottom:1px solid #E3E3E3; margin-bottom:20px">
		
        	<h4 class="menber_title">修改密码</h4> 
      		<form style="margin-bottom:20px" id="jvForm" action="pwd.jspx" method="post"> 
             <table width="100%" border="0" align="center" cellpadding="5" cellspacing="1" bgcolor="#eaeaea" style="margin:5px; border:none">
               <tr>
                 <td width="130px" height="25" align="right" bgcolor="#ffffff">原密码：</td>
                 <td width="867" bgcolor="#ffffff"><input type="password" name="origPwd" autocomplete="off" maxlength="32" vld="{required:true,remote:'checkPwd.jspx',messages:{remote:'原密码不正确'}}"/> <span class="STYLE1">*</span></td>
               </tr>
               <tr>
                 <td height="25" align="right" bgcolor="#ffffff">新密码：</td>
                 <td bgcolor="#ffffff">
                 <input type="password" id="newPwd" name="newPwd" autocomplete="off" maxlength="32"/> 不修改请留空</td>
               </tr>
               <tr>
                 <td height="25" align="right" bgcolor="#ffffff">确认密码：</td>
                 <td bgcolor="#ffffff"><input type="password" autocomplete="off" equalTo="#newPwd"/> 不修改请留空</td>
               </tr>
<!--                <tr>
                 <td height="25" align="right" bgcolor="#ffffff">E-mail：</td>
                 <td bgcolor="#ffffff"><input type="text" name="email" value="${user.email!?html}" maxlength="100" /></td>
               </tr> -->      
               <tr>
                 <td style=" padding-left:115px" class="page" height="25" colspan="2" align="center" bgcolor="#ffffff">
					 <input type="hidden" name="nextUrl" value="profile.jspx"/>
					 <input type="submit" value="保存" class="member_button"/> &nbsp; <input type="reset" value="重置" class="member_button"/>
                 </td>
               </tr>
             </table>
             </form>
             <div class="clr"></div>

</div>