<div class="toolbar">
  <div class="toolbar-inner"><a class="logo" target="_blank" href="${base}/"><img width="141" height="50" alt="" src="/${res}/img/member/logo.gif" /></a><!-- [@cms_channel_list]<a class="index" target="_blank" href="${base}/">首页</a> [#list tag_list as c]<a target="_blank" href="${c.url}">${c.name}</a> [/#list] <a target="_blank" href="/guestbook.jspx">留言板</a> [/@cms_channel_list]<a target="_blank" href="http://bbs.jeecms.com">论坛</a>  <a class="index" target="_blank" href="${base}/">回首页</a>-->[#include "yetouyoushanglan.html"/]</div>
</div>