<div style="padding:0px 0px 20px 0px;" class="title"><h2>我的收藏</h2></div>
<div style="" class="mc_content">   
          	<form id="tableForm" action="collection_list.jspx" method="post">
            [#if pagination.list?size gt 0]
            <table border="0" cellpadding="0" cellspacing="1"  class="tblist">
            <tr style="height:40px; background:#F5F5F5; line-height:40px; font-weight:bold">
                
                <th style="font-weight:bold; font-size:14px">标题</th>
                <th style="font-weight:bold; font-size:14px">栏目</th>
               
                <th style="font-weight:bold; font-size:14px">发布时间</th>
                <th style="font-weight:bold; font-size:14px">操作</th>
            </tr>
            [#list pagination.list as c]
            <tr id="tr_${c.id}">	
                
                <td bgcolor="#FFFFFF"><a href="${c.url!}">${c.title?html}</a></td>
                <td style="padding-left:20px" bgcolor="#FFFFFF">${c.channel.name}</td>        
                <td style="padding-left:20px" bgcolor="#FFFFFF">${c.releaseDate?string('yyyy-MM-dd')}</td>
                <td style="padding-left:20px" bgcolor="#FFFFFF"><span onclick="Cms.cmsCollect('${base}','${c.id}',0)" id="cancelSpan"  style="cursor: pointer;">取消收藏</span></td>
            </tr>
            [/#list]
            </table>
            <input type="hidden" name="pageNo"/>
            <table width="100%" style="margin-top:20px" border="0" cellpadding="0" cellspacing="0"><tr><td align="center" style="padding:0px">
               <!-- 共 ${pagination.totalCount} 条&nbsp;
                每页 ${pagination.pageSize} 条&nbsp; -->
                <div class="page alignright">
                <input type="button" value="首 页" onclick="_gotoPage('1');"[#if pagination.firstPage] disabled="disabled"[/#if]/>
                <input type="button" value="上一页" onclick="_gotoPage('${pagination.prePage}');"[#if pagination.firstPage] disabled="disabled"[/#if]/>
                <input type="button" value="下一页" onclick="_gotoPage('${pagination.nextPage}');"[#if pagination.lastPage] disabled="disabled"[/#if]/>
                <input type="button" value="尾 页" onclick="_gotoPage('${pagination.totalPage}');"[#if pagination.lastPage] disabled="disabled"[/#if]/>&nbsp;
             <!--   当前 ${pagination.pageNo}/${pagination.totalPage} 页 &nbsp;转到第<input type="text" id="_goPs" style="width:50px" onfocus="this.select();" onkeypress="if(event.keyCode==13){$('#_goPage').click();return false;}"/>页 -->
<!--                <input id="_goPage" type="button" value="转" onclick="_gotoPage($('#_goPs').val());"[#if pagination.totalPage==1] disabled="disabled"[/#if]/> -->
                </div>
            </td>
            </tr>
            </table>
            <script type="text/javascript">
            function _gotoPage(pageNo) {
                try{
                    var tableForm = document.getElementById("tableForm");
                    $("input[name=pageNo]").val(pageNo);
                    tableForm.action="collection_list.jspx";
                    tableForm.onsubmit=null;
                    tableForm.submit();
                } catch(e) {
                    alert('_gotoPage(pageNo)方法出错');
                }
            }
            </script>
            [#else]
                <div>暂无收藏</div>
            [/#if]
            </form>
            <div class="clr"></div>
</div>