<div class="fr">
	<a href="${base}/" target="_blank">回首页</a>|
	<a href="${base}/tag.jspx" target="_blank">Tags</a>|
	<a href="${base}/search.jspx" target="_blank">高级搜索</a>|
	<a href="${base}/rss.jspx" target="_blank">RSS订阅</a>|
	<a onClick="this.style.behavior='url(#default#homepage)';this.setHomePage(location.href)" href="javascript:void(0);">设为主页</a>|
	<a onclick="javascript:window.external.AddFavorite('${base}', '${site.name}');" href="javascript:void(0)" class="login_user">加入收藏</a>
</div>
