    <div class="fl " id="logincontent">
	[#if user??]欢迎您: ${user.username} &nbsp; ${user.group.name} &nbsp; <a href="${base}/logout.jspx?returnUrl=/">退出登录</a>[#else]
	游客您好，您还没有登录哦！ <a href="${base}/register.jspx">会员注册</a>|<a href="${base}/login.jspx?returnUrl=${location}">会员登录</a>|<a href="${base}/member/forgot_password.jspx">找回密码</a>[/#if]
	</div>
