
	
  [#if content.channel.commentControl==0 || (content.channel.commentControl==1 && user??)]

	<!--<div  class="avatar_pl">
		<img  src="${user.userExt.userImg!'/${res}/image/more_touxiang.png'}"/>
	</div>-->
  <form id="commentForm" action="${base}/comment.jspx" method="post">
	  <div class="pinlun_text">
		  <textarea name="text" placeholder="发表新评论" class="text"  style="overflow: hidden;"></textarea>
		  <input style="float:left" class="r_6" id="button_bule" type="hidden" name="contentId" value="${content.id}"/>
		  <input id="submit" type="submit" name="Submit" value="发表 " class="submit "/>
          <div class="pinu_shuoming">网友评论仅供其表达个人看法，并不表明本站同意其观点或证实其描述。</div>
		  <div class="clr"></div>
	  </div>
  </form>
  <div class="clear"></div>
  
  <script type="text/javascript">
$(function() {
	Cms.comment(function(data) {
		if(data.status==0) {
			alert("评论成功");
			location.href=location.href;
		} else if(data.status==1) {	
			alert("验证码错误");
			$("#commentCaptcha").click();
		} else if(data.status==2) {	
			alert("内容不存在");
			$("#commentCaptcha").click();
		} else if(data.status==3) {	
			alert("评论关闭");
			$("#commentCaptcha").click();
		} else if(data.status==4) {	
			alert("需要登录评论");
			$("#commentCaptcha").click();
		} else if(data.status==100) {	
			alert("内容不存在");
			$("#commentCaptcha").click();
		} else if(data.status==101) {	
			alert("评论不能为空");
			$("#commentCaptcha").click();
		} else {
			alert("评论失败");
			$("#commentCaptcha").click();
		}
	});
});

</script> 
  [#elseif channel.commentControl==1 && !user??]
  [#--登录评论，且未登录--]
  <div class="no_sign button"> 
  	<span>参与讨论,请先&nbsp;</span>
    <span><a href="/login.jspx?returnUrl=${location}">登录</a> </span> 
    <span><a href="${base}/register.jspx">注册</a></span>
    <span><a href="${base}/sina/login.jspx?returnUrl=${location}"  class="wb_login"  title="新浪微博登录" ><b></b><strong>新浪微博登录</strong></a></span>
  </div>
  <div class="clear"></div>
  [#else]
  [#--不允许评论--]
  [/#if] 

    <div class="title">	
        <h2>文章评论  (${content.comments})</a></h2>
        
    </div>
