<div class="home_topic ">
<div class="column_title">
  <h3>酒学坊专题</h3>
</div>
	<a target="_blank" href="${base}/topic6.jhtml" target="_blank" >
    	
     
        	<h3>酒学坊专题：“腰部”之战</h3>
            <p>从今年春季糖酒会开始，一些名酒企业和地方强势品牌，都在推出100 - 300元价位段的产品…</p>
   
    </a>
 	<a href="${base}/topic5.jhtml" target="_blank" >
    	
 
        	<h3>酒学坊专题：渠道失衡启示录</h3>
            <p>“黄金10年”优越的环境给行业带来了“飞一般”的速度。然而，高速增长背后却潜藏着诸多隐忧…</p>
  
    </a>   
	<a href="${base}/topic1.jhtml" target="_blank" >
    	
       
        	<h3>白酒营销22宗罪——酒学坊独家呈现</h3>
            <p>孟跃营销12周年，酒学坊独家呈现，是谁让中国白酒陷入危机？有事谁在罔顾中国老百性的食品安全</p>
   
    </a>
	    	
</div>