
<div class="box_style">
<div class="column_title">
  <h3>${site.name}专栏作家</h3>

</div>
<dl class="writer">
	<dt>
    	<a target="_blank" href="http://weibo.com/mengyue2011"><img src="/${res}/img_r/mengyue.jpg" title="孟跃" alt="${site.name}专栏作家"/></a>
        <h3>孟跃</h3>      
        <span>酒类营销专家</span>
        <em id="writer_keynote"></em>
       
    </dt>
    <dd>
    	<a target="_blank" href="http://weibo.com/u/2535729382"><img src="/${res}/img_r/cyp.jpg" title="陈雅萍" alt="${site.name}专栏作家"/></a>
        <h3>陈雅萍</h3>
        <span>资深营销师</span>        
    </dd>
	<dt>
    	<a target="_blank" href="http://weibo.com/u/2769220431"><img src="/${res}/img_r/ajs.jpg" title="安俊生" alt="${site.name}专栏作家"/></a>
        <h3>安俊生</h3>
        <span>资深营销师</span>
    </dt>
    <dd>
    	<a target="_blank" href="http://weibo.com/u/2769223605"><img src="/${res}/img_r/cyq.jpg" title="陈远芹" alt="${site.name}专栏作家"/></a>
        <h3>陈远芹</h3>
        <span>资深营销师</span>        
    </dd>
	<dt>
    	<a target="_blank" href="http://weibo.com/u/3242901192"><img src="/${res}/img_r/gp.jpg" title="高鹏" alt="${site.name}专栏作家"/></a>
        <h3>高鹏</h3>
        <span>资深营销师</span>
    </dt>
    <dd>
    	<a target="_blank" href="http://weibo.com/ahnugyc"><img src="/${res}/img_r/gyc.jpg" title="郭佑辰" alt="${site.name}专栏作家"/></a>
        <h3>郭佑辰</h3>
        <span>资深营销师</span>        
    </dd>     
	<dt>
    	<a target="_blank" href="http://weibo.com/u/2870958460"><img src="/${res}/img_r/hj.jpg" title="黄俊" alt="${site.name}专栏作家"/></a>
        <h3>黄俊</h3>
        <span>资深营销师</span>
    </dt>
    <dd>
    	<a target="_blank" href="http://weibo.com/u/2840059755"><img src="/${res}/img_r/wgc.jpg" title="王冠臣" alt="${site.name}专栏作家"/></a>
        <h3>王冠臣</h3>
        <span>资深营销师</span>        
    </dd>      
	<dt>
    	<a target="_blank" href="http://weibo.com/u/2022124803"><img src="/${res}/img_r/xpy.jpg" title="肖培源" alt="${site.name}专栏作家"/></a>
        <h3>肖培源</h3>
        <span>资深营销师</span>
    </dt>
    <dd>
    	<a target="_blank" href="http://weibo.com/u/3253032131"><img src="/${res}/img_r/yj.jpg" title="杨军" alt="${site.name}专栏作家"/></a>
        <h3>杨军</h3>
        <span>资深营销师</span>        
    </dd>     
	<dt>
    	<a target="_blank" href="http://weibo.com/zhangxuehui9999"><img src="/${res}/img_r/zxh.jpg" title="张学辉" alt="${site.name}专栏作家"/></a>
        <h3>张学辉</h3>
        <span>资深营销师</span>
    </dt>
    <dd>
    	<a target="_blank" href="http://weibo.com/u/2159206212"><img src="/${res}/img_r/haibo.jpg" title="孙高博" alt="${site.name}专栏作家"/></a>
        <h3>孙高博</h3>
        <span>资深营销师</span>        
    </dd>    
      <div class="clr"></div>    
</dl>
</div>