<div class="right_class_box">
	<ul>

        [@cms_content_list channelId='91' belong='1' titLen='30' channelOption='1'  count='4' append='...' dateFormat='yyyy-MM-dd HH:mm' descLen='80' recommend=1 ]
              [#list tag_list as a]            
              <li><a target="_blank" href="${a.url}" title="${a.title}">[@text_cut s=a.title len=titLen append=append/]</a></li>    
              [/#list]
             [/@cms_content_list]    
    	<div class="clr"></div>       
	</ul>
</div>