<div class="box_style">
<div class="column_title">
  <h3>关注我们在...</h3>
  
</div>
<div class="composition">
	<div class="follow-weico">
    	<div></div>
        <h4>新浪官微</h4>
        <iframe allowtransparency="" border="0" frameborder="0" height="44" width="64" marginheight="0" marginwidth="0" scrolling="no" src="http://widget.weibo.com/relationship/followbutton.php?width=400&amp;height=44&amp;uid=2605246705&amp;style=5&amp;btn=red&amp;dpc=1"></iframe>
    </div>
    <div class="follow-weixin">
    	<div></div>
        <h4>官方微信</h4>
        <p>微信扫描二维码添加</p>
    </div>
    <div class="clr"></div>
</div>
</div>