
    <div class="title">	
        <h2>热门标签</h2>
    </div>
    <div class="tag">
	[@cms_tag_list count='12']  [#list tag_list as t] 
    <a target="_blank" href="${base}/tag/${t.id}.jspx">${t.name}<span>|</span></a>
    [/#list] 
  	<!--<a href="${base}/tag.jspx" target="_blank"></a> -->
  	[/@cms_tag_list]
    </div>
