<div class="banner_box">
<div id="zSlider">
	<div id="picshow">
		<div id="picshow_img">
			<ul>
              [@cms_content_list channelId='68' titLen='13' channelOption='1'  count='3' append='...' dateFormat='yyyy-MM-dd HH:mm' descLen='80' orderBy='30']
              [#list tag_list as a]            
			  <li>
              	<a href="${a.url}" target="_blank">
                [#if a.typeImg??] <img src="${a.typeImg!site.defImg}" title="${a.title}" alt="${site.name}-${a.title}"/>[/#if]
                </a>
              </li>
              [/#list]
          	 [/@cms_content_list]
            </ul>
		</div>
		<div style="display:none" id="picshow_tx">
        	<ul>
            [@cms_content_list channelId='68' titLen='13' channelOption='1'  count='3' append='...' dateFormat='yyyy-MM-dd HH:mm' descLen='80' orderBy='30']
			  [#list tag_list as a]   
              <li>
				  <h3><a href="${a.url}" target="_blank">${a.title}</a></h3>
				  <p>[@text_cut s=a.description len=descLen append=append /]</p>
			  </li>
              [/#list]
			
            [/@cms_content_list]
			</ul>
		</div>
	</div>
	<div id="select_btn">
		<ul>
        [@cms_content_list channelId='68' titLen='20' channelOption='1' count='3' append='...' dateFormat='yyyy-MM-dd HH:mm' descLen='80' orderBy='30']
        	[#list tag_list as a]
            	[#if a_index == 0]
                	<li>
                    	<a class="img_mask1" href="${a.url}" target="_blank">
                        	[#if a.typeImg??] <img src="${a.typeImg!site.defImg}" title="${a.title}" alt="${site.name}-${a.title}"/>[/#if]
                        	<b></b></span><span class="select_text">[@text_cut s=a.title len=titLen append=append/]</span>
                        </a>
                    </li>
                [/#if]
            	[#if a_index == 1]
                	<li>
                    	<a class="img_mask2" href="${a.url}" target="_blank">
                        	[#if a.typeImg??] <img src="${a.typeImg!site.defImg}" title="${a.title}" alt="${site.name}-${a.title}"/>[/#if]
                        	<b></b></span><span class="select_text">[@text_cut s=a.title len=titLen append=append/]</span>
                        </a>
                    </li>
                [/#if]
            	[#if a_index == 2]
                	<li>
                    	<a class="img_mask3" href="${a.url}" target="_blank">
                        	[#if a.typeImg??] <img src="${a.typeImg!site.defImg}" title="${a.title}" alt="${site.name}-${a.title}"/>[/#if]
                        	<b></b><span class="select_text">[@text_cut s=a.title len=titLen append=append/]</span>
                        </a>
                    </li>
                [/#if]                
            [/#list] 
        [/@cms_content_list]
        
		</ul>
	</div>	
</div>
</div>
