<p>友情链接:&nbsp;[@cms_friendlink_list] [#list tag_list as link]<a target="_blank" onclick="$.get('${base}/friendlink_view.jspx?id=${link.id}')" href="${link.domain}">${link.name}</a> [/#list] [/@cms_friendlink_list]</p>

