<div class="footer">
	<img style="margin:0px auto" src="/${res}/image/logo_footer.png" title="${site.name}" alt="${site.name}"/>
    <div style="height:12px; width:100%"></div>
	[#include "../include/yejiaoyouqinglianjielan.html"/]
  <a target="_blank" href="${base}/aboutus.jhtml">关于${site.name}</a> - <a target="_blank" href="${base}/aboutus.jhtml#contact">联系我们</a>
  - <a onClick="this.style.behavior='url(#default#homepage)';this.setHomePage(location.href)" href="javascript:void(0);">设为首页</a> - <a onclick="javascript:window.external.AddFavorite('www.jiuxf.com', '${site.name}');" class="login_user" href="javascript:void(0)">加入收藏</a>
  <div style="height:18px; width:100%"></div>
 Copyright ©&nbsp;&nbsp;${site.name}&nbsp;版权所有<br/>
<a target="_blank" href="http://www.miibeian.gov.cn/">皖ICP备12020013号&nbsp;,&nbsp;皖ICP备12004689号</a>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
//jiuxf.cn
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa4b58a3afcda3655c026006bca080be9' type='text/javascript'%3E%3C/script%3E"));
//jiuxf.com
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F96dc910ffb2a5197fb86f4375c9a9e3f' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>