<div class="footer wrap">
	<div class="footer_nav nav">
    	<div>
        	<h4>酒学坊</h4>
            <a target="_blank" href="${base}/aboutus.jhtml">关于${site.name}</a>
            <a target="_blank" href="${base}/agreement.jhtml">服务条款</a>
            <a target="_blank" href="${base}/aboutus.jhtml#contact">联系我们</a>
        </div>
    	<div>
        	<h4>合作伙伴</h4>
            <a title="网站改版中...">光合原品</a>
            <a target="_blank" href="http://www.mengyuechina.com/">孟跃营销</a>
            <a target="_blank" href="http://www.ceyoung.cn/">泽洋设计</a>
        </div>        
        
    	<div>
        	<h4>内容合作</h4>
            <a target="_blank" href="http://www.cnwinenews.com/">华夏酒报</a>
            <a target="_blank" href="http://www.tjkx.com/">糖酒快讯</a>
            <a target="_blank" href="http://www.mengyuechina.com/">孟跃咨询</a>
        </div>
    	<div class="follow">
        	<h4>关注我们</h4>
            <a  id="weixin" class="weixin" target="_blank" href="${base}/aboutus.jhtml">官方微信<p></p></a>
            <a class="weibo" target="_blank" href="${base}/aboutus.jhtml">官方微博<p><iframe style="margin:52px 0px 0px 8px " allowtransparency="true" border="0" frameborder="0" height="44" width="64" marginheight="0" marginwidth="0" scrolling="no" src="http://widget.weibo.com/relationship/followbutton.php?width=400&amp;height=44&amp;uid=2605246705&amp;style=5&amp;btn=red&amp;dpc=1"></iframe></p></a>
    
        </div>
    	<div class="contant">
        	<h4>联系我们</h4>
            <a>客服QQ：1979605134 </a>
            <a>微信订阅号：jiuxuefang(已认证)</a>
            <a>业务咨询：0551-65626689</a>

        </div>
        <p class="clr"></p>      
    </div>
    <div class="Copyright font12">Powered by 酒学坊 Copyright © 2011-2012 本公司保留所有权利   皖ICP备12004689号</div>
	
</div>



<div style="display:none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
//jiuxf.cn
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa4b58a3afcda3655c026006bca080be9' type='text/javascript'%3E%3C/script%3E"));
//jiuxf.com
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F96dc910ffb2a5197fb86f4375c9a9e3f' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>





