<div class="head">
	<div class="mian">
    	<a title="酒学坊,聚焦酒类营销" class="logo" href="${base}/">&nbsp;</a>
        	<!--导航 -->
        	<div class="menu" id="main_menu">
            	<a class="current-menu"  href="${base}/"  hidefocus="true" id="dh01">首页</a>
                <a class=""  href="${base}/info/index.jhtml" title="进入坊间观察" hidefocus="true" id="dh02">坊间观察</a>
                <a hidefocus="hidefocus" title="进入企业课堂" href="http://ketang.jiuxf.cn/"  id="dh04">企业课堂</a>
            </div>
            <!--搜索及登录 -->
            <div class="haed_right">
            	[#include "../include/yetoudinglan.html"/]
                <div class="clr"></div>
                <form action="${base}/search.jspx" id="searchform" method="get"  onsubmit="if(Cms.trimSpace(document.getElementById('txtKey').value).length == 0) return false; else return true;">	
                	<input type="text" value="${q!''}" autocomplete="off" maxlength="50" id="txtKey" name="q" >
                     <input type="submit"  value="" id="search-btn">
                </form>          	
            </div>       
    </div>
</div>
