<div class="head">
	<div class="wrap" id="dh">
    		<a title="酒学坊,聚焦酒类营销" class="logo left" href="${base}/index.jhtml"><img src="/${res}/imgs/logo.png"></a>
        	<!--导航 -->
        	<div class="menu left nav" id="main_menu">
            	<a class="current-menu"  href="${base}/index.jhtml"  hidefocus="true" id="dh01">首页</a>
                <a class=""  href="${base}/info/index.jhtml" title="进入坊间观察" hidefocus="true" id="dh02">坊间观察</a>
                <a class=""  href="${base}/course/index.jhtml" title="进入公开课" hidefocus="true" id="dh03">公开课</a>
                <a class=""  href="${base}/topics/index.jhtml" title="进入专题" hidefocus="true" id="dh04">专题</a>
                <a class=""  href="${base}/activities/index.jhtml" title="进入活动" hidefocus="true" id="dh05">活动</a>
                <a hidefocus="hidefocus" target="_blank" title="进入企业课堂" href="http://ketang.jiuxf.cn/"  id="dh06">企业课堂</a>
            </div>
            <!--搜索及登录 -->
 
            	
                <div class="search_box right">
                <form action="${base}/search.jspx" id="searchform" method="get"  onsubmit="if(Cms.trimSpace(document.getElementById('txtKey').value).length == 0) return false; else return true;">	
                	<input type="text" value="${q!''}" autocomplete="off" maxlength="50" id="txtKey" name="q" >
                     <input type="submit"  value="" id="search-btn">
                </form>
                </div> 
                <div class="login_header_box right nav">[#include "../include/yetoudinglan.html"/]</div> 
                <div class="clr"></div>        	
           
    </div>
    
</div>

