
<div style=" position:relative; width:766px; height:398px; margin-top:-18px;" class="sixteen columns clearfix">
    <div  class="slider">
      <ul class="rslides" id="slider3">
      	<li><a href="${base}/sdgc/531.jhtml" target="_blank"><img width="767px" height="398px" title="酒学坊国内白酒消费收缩，洋酒新辟战线逆袭" alt="${site.name}焦点图" src="/${res}/img_r/16.png" /> </a></li>
           <li><a href="${base}/yxcl/528.jhtml" target="_blank"><img width="767px" height="398px" title="酒学坊:区域性白酒市场遇冷 浏阳河换将“首把火”下沉产品定位" alt="${site.name}焦点图" src="/${res}/img_r/15.png" /> </a></li>
      <li><a href="${base}/yxcl/519.jhtml" target="_blank"><img width="767px" height="398px" title="当“老夫子”遭遇“潮男潮女,白酒的未来在于品牌年轻化" alt="${site.name}焦点图" src="/${res}/img_r/14.png" /> </a></li>
      <li><a href="${base}/sdgc/515.jhtml" target="_blank"><img width="767px" height="398px" title="把白酒还给生活" alt="${site.name}焦点图" src="/${res}/img_r/13.png" /> </a></li>
      <li><a href="${base}/sdgc/511.jhtml" target="_blank"><img width="767px" height="398px" title="中国白酒的机与危" alt="${site.name}焦点图" src="/${res}/img_r/11.png" /> </a></li>
      
<!--      <li><a href="${base}/zthd/504.jhtml" target="_blank"><img width="767px" height="398px" title="[视频]孟跃:白酒产业转型与徽酒创新营销策略" alt="${site.name}焦点图" src="/${res}/img_r/9.jpg" /> </a></li> -->
     
      <!--<li><a href="${base}/yxcl/492.jhtml" target="_blank"><img width="767px" height="398px" title="《趋势营销》连载预告" alt="${site.name}焦点图" src="/${res}/img_r/8.jpg" /> </a></li> -->
      
      <!--	<li><a href="${base}/zlfx/487.jhtml" target="_blank"><img width="767px" height="398px" title="凝聚白酒力量，实现白酒梦想" alt="${site.name}焦点图" src="/${res}/img_r/7.jpg" /> </a></li> -->
		<!--<li><a href="${base}/sdgc/475.jhtml" target="_blank"><img width="767px" height="398px" title="精于模仿，疏于创新——白酒营销22宗罪之20" alt="${site.name}焦点图" src="/${res}/img_r/6.jpg" /> </a></li> -->
		<!--<li><a href="${base}/sdgc/480.jhtml" target="_blank"><img width="767px" height="398px" title="冷静应对消费结构升级-消费驱动的新时代" alt="${site.name}焦点图" src="/${res}/img_r/5.jpg" /> </a></li>
		<li><a href="${base}/sdgc/473.jhtml" target="_blank"><img width="767px" height="398px" title="跑赢变局:白酒行业未来走向与应对之道主题探讨" alt="${site.name}焦点图" src="/${res}/img_r/4.jpg"/> </a></li>
		<li><a href="${base}/yxcl/458.jhtml" target="_blank"><img width="767px" height="398px" title="孟跃:重新定义高消费力顾客,舍得封坛老酒" alt="${site.name}焦点图" src="/${res}/img_r/3.jpg"/> </a></li> -->
      	<!--<li><a href="${base}/sdgc/433.jhtml" target="_blank"><img title="每一个品牌都应该拥有独特的味道" alt="${site.name}焦点图" src="/${res}/img_r/2.jpg" /></a></li> -->
<!--        <li><a href="${base}/sdgc/435.jhtml" target="_blank"><img title="100到300元价格带仍是战略高地" alt="${site.name}焦点图" src="/${res}/img_r/1.jpg"/> </a></li> -->
      </ul>
      <div style="clear:both"></div>
    </div>
  </div>