
    
      [#--客户端包含登录，用于静态化--]
      <div class="head_login" id="loginCsiDiv">&nbsp;</div>
      <script type="text/javascript">
		$(function(){
			Cms.loginCsi("${base}","loginCsiDiv",{"returnUrl":"${location}"});
		});
		</script>
