 <div>
	<span class="tilte tilte_sl"></span>
	<div class="clear"></div>
</div>
<!--<p class="miaoshu">
	职业经理人交流与沟通的实名圈子
</p> -->
<div class="avatar_sl">
	<a target="_blank" href="http://weibo.com/mengyue2011"><img src="/${res}/img_r/mengyue.jpg" title="孟跃" alt="${site.name}专栏作家"/></a>
	<a target="_blank" href="http://weibo.com/u/2535729382"><img src="/${res}/img_r/cyp.jpg" title="陈雅萍" alt="${site.name}专栏作家"/></a>
	<a target="_blank" href="http://weibo.com/u/2769220431"><img src="/${res}/img_r/ajs.jpg" title="安俊生" alt="${site.name}专栏作家"/></a>
	<a target="_blank" href="http://weibo.com/u/2769223605"><img src="/${res}/img_r/cyq.jpg" title="陈远芹" alt="${site.name}专栏作家"/></a>
	<a target="_blank" href="http://weibo.com/u/3242901192"><img src="/${res}/img_r/gp.jpg" title="高鹏" alt="${site.name}专栏作家"/></a>
	<a target="_blank" href="http://weibo.com/ahnugyc"><img src="/${res}/img_r/gyc.jpg" title="郭佑辰" alt="${site.name}专栏作家"/></a>
	<a target="_blank" href="http://weibo.com/u/2870958460"><img src="/${res}/img_r/hj.jpg" title="黄俊" alt="${site.name}专栏作家"/></a>
	<a target="_blank" href="http://weibo.com/u/2840059755"><img src="/${res}/img_r/wgc.jpg" title="王冠臣" alt="${site.name}专栏作家"/></a>
	<a target="_blank" href="http://weibo.com/u/2022124803"><img src="/${res}/img_r/xpy.jpg" title="肖培源" alt="${site.name}专栏作家"/></a>
	<a target="_blank" href="http://weibo.com/u/3253032131"><img src="/${res}/img_r/yj.jpg" title="杨军" alt="${site.name}专栏作家"/></a>
	<a target="_blank" href="http://weibo.com/zhangxuehui9999"><img src="/${res}/img_r/zxh.jpg" title="张学辉" alt="${site.name}专栏作家"/></a>
    <a target="_blank" href="http://weibo.com/u/2159206212"><img src="/${res}/img_r/haibo.jpg" title="孙高博" alt="${site.name}专栏作家"/></a>
           
	<div class="clear"></div>
</div>