<div>
     <span class="tilte tilte_bq"></span>
      <div class="clear"></div>
      <div class="tags b_15">
	[@cms_tag_list count='9']  [#list tag_list as t]
	<a href="${base}/tag/${t.id}.jspx"><span>${t.name}</span></a>
	[/#list]
	<a href="${base}/tag.jspx" target="_blank">更多标签&hellip;</a>
	[/@cms_tag_list]
	<div class="clear"></div>
</div>
 </div>


