<div>
	<span class="tilte tilte_kt"></span>
	<a class="comein" target="_blank" href="http://ketang.jiuxf.cn">进入</a>
	<div class="clear"></div>
</div>
<p class="miaoshu">
	专享酒学坊企业课堂；拥有企业自己的学习社区；轻松解决企业培训难题
</p>
<ul class="kt_list">
	<li>
		<div class="avatar_r">
			<img src="/${res}/img_r/qiye-7.jpg" alt="${site.name}企业会员"/>
		</div>
		<div class="ktdt_r">
			<h5>
				<a>李沫柠</a>:学习了${site.name}课程<a>《趋势营销》系列</a>
			</h5>
			<p>孟跃老师在这本书的很多观点很深入。特意查询了一下，这本书在两年前就出版了，但对白酒行业未来趋势的预言到了神预测的地步！佩……
			</p>
		</div>
		<div class="clear"></div>
	</li>
	<li>
		<div class="avatar_r">
			<img src="/${res}/img_r/qiye-4.jpg" alt="${site.name}企业会员"/>
		</div>
		<div class="ktdt_r">
			<h5>
				<a>何鹏飞</a>:学习了${site.name}课程<a>《孟跃:重新定义高消费力顾客,舍得封坛老酒》</a>
			</h5>
			<p>中国的高档白酒有两个特点,这也是今天的不稳定性，一是政府主导型消费，二是投资性行为的推动。现在高端白酒突然从挣两千块一瓶倒只能挣到一百块，甚至连一百块都……
			</p>
		</div>
		<div class="clear"></div>
	</li>
	<li>
		<div class="avatar_r">
			<img src="/${res}/img_r/qiye-2.jpg" alt="${site.name}企业会员"/>
		</div>
		<div class="ktdt_r">
			<h5>
				<a>容方志</a>:学习了${site.name}课程<a>《第19宗罪：没有认真和客户对话》</a>
			</h5>
			<p>深有体会！近几年我们搞营销策划，虽然刚开始是提从客户需求出发，但实际上我们还是不太重视客户需求，仅仅是一些简单的市场调查，主要还是关注我们自己的利益，分析竞争对……
			</p>
		</div>
		<div class="clear"></div>
	</li>
	<div class="clear"></div>
</ul>