<div class="banner_r">
	<a href="${base}/topic3.jhtml" target="_blank" ><img src="/${res}/img_r/shipinxianfeng_home_03.jpg" title="行业转型期的徽酒营销创新" alt="${site.name}专题"/></a>    	
    <a style="float:left" href="${base}/topic2.jhtml" target="_blank" ><img src="/${res}/img_r/huodong_07.jpg" title="冀酒振兴高峰论坛" alt="${site.name}专题" border="0"/></a>
    <a style="float:left" href="${base}/topic1.jhtml" target="_blank" ><img src="/${res}/img_r/huodong_06.jpg" title="白酒营销22宗罪，酒学坊独家呈现" alt="${site.name}专题" border="0"/></a>
	<div style="clear:both"></div>    
</div> 
