
<div class="right_list">
    <div class="title">	
        <h2>热门文章</h2>
    </div>
    [@cms_content_list channelId='68' orderBy='7' append='...' titLen='18'  channelOption='1'  count='10' descLen='80' ] 
        [#list tag_list as a]
        	[#if a_index == 0]
            	<a target="_blank" title="${a.title}" href="${a.url}"><font>01</font>[@text_cut s=a.title len=titLen append=append/]<b></b></a>
            [/#if]
        	[#if a_index == 1]
            	<a target="_blank" title="${a.title}" href="${a.url}"><font>02</font>[@text_cut s=a.title len=titLen append=append/]<b></b></a>
            [/#if]            
        	[#if a_index == 3]
            	<a target="_blank" title="${a.title}" href="${a.url}"><font>03</font>[@text_cut s=a.title len=titLen append=append/]<b></b></a>
            [/#if]            
        	[#if a_index == 4]
            	<a target="_blank" title="${a.title}" href="${a.url}"><font>04</font>[@text_cut s=a.title len=titLen append=append/]<b></b></a>
            [/#if]            
        	[#if a_index == 5]
            	<a target="_blank" title="${a.title}" href="${a.url}"><font>05</font>[@text_cut s=a.title len=titLen append=append/]<b></b></a>
            [/#if]
        	[#if a_index == 6]
            	<a target="_blank" title="${a.title}" href="${a.url}"><font>07</font>[@text_cut s=a.title len=titLen append=append/]<b></b></a>
            [/#if]
        	[#if a_index == 7]
            	<a target="_blank" title="${a.title}" href="${a.url}"><font>08</font>[@text_cut s=a.title len=titLen append=append/]<b></b></a>
            [/#if]
        	[#if a_index == 8]
            	<a target="_blank" title="${a.title}" href="${a.url}"><font>09</font>[@text_cut s=a.title len=titLen append=append/]<b></b></a>
            [/#if]            
        	[#if a_index == 9]
            	<a target="_blank" title="${a.title}" href="${a.url}"><font>10</font>[@text_cut s=a.title len=titLen append=append/]<b></b></a>
            [/#if]         
         [/#list]
    [/@cms_content_list] 
    
</div>
