
<div class="right_list">
    <div class="title">	
        <a  href="" target="_blank"><h2>专题</h2></a>
    </div>

        [@cms_content_page parentId='93' belong='1' count='10' descLen='36' titLen='18' append='...' dateFormat='yyyy-MM-dd' orderBy=7]
           [#list tag_list as t]
               [#if t_index < 9]    
                    <a href="${t.url}"  target="_blank"><font>0${t_index+1}</font>[@text_cut s=t.title len=titLen append=append/]  <b></b> </a>
               [#else]
                    <a href="${t.url}"  target="_blank"><font>${t_index+1}</font>[@text_cut s=t.title len=titLen append=append/]  <b></b> </a>
               [/#if]

           [/#list]
           
    [/@cms_content_page]
</div>
