<div>
	<span class="tilte tilte_tj"></span>
	<div class="clear"></div>
	[@cms_content_list count='4' descLen='80' orderBy='7' channelOption='1' channelId='68' append='...' recommend='1'][#list tag_list as a]
	<div class="rm_list">
		<a href="${a.url}" target="_blank">${a.title}</a>
		<p>[@text_cut s=a.description len=descLen append=append /]</p>
		<div class="post-footer">
			<span>${a.author!'${site.name} 孟跃'}&nbsp;&nbsp;${a.releaseDate?string('yyyy-MM-dd')}</span>
			<span class="green">阅读 ${a.views} 次</span>
            <span>评论 ${a.comments} 条</span>
		</div>
	</div>
	[/#list][/@cms_content_list]                  
</div>