<div>
	<span class="tilte tilte_gz"></span>
	<div class="clear"></div>
	<div class="miaoshu">扫描二维码，添加酒学坊微信公共帐号</div>
	<div class="code">
	<div class="code_img"></div>
    <!-- <span style="margin-bottom:12px" class="weibo">关注</span><span class="weibo_p">4.6万</span> -->
		<div class="weibo"><iframe allowtransparency="" border="0" frameborder="0" height="44" marginheight="0" marginwidth="0" scrolling="no" src="http://widget.weibo.com/relationship/followbutton.php?width=400&amp;height=44&amp;uid=2605246705&amp;style=5&amp;btn=red&amp;dpc=1" style="width: 128px; height: 44px;" width="400"></iframe>
		</div>
		<div class="clear"></div>
	</div>
</div>


