<script charset="utf-8"  type="text/javascript" src="/${res}/js/jiuxf_calendar.js"></script>

<script type="text/javascript"> 

//日历——————————————————————————————————————————
$(function() {
	
    //绘制月历体——————————————————————————————————————————
    JiuXFCalendar.init('init');
  
    $("span.ll").click(function(){
        JiuXFCalendar.pre();
    });

    $("span.rr").click(function(){
        JiuXFCalendar.next();
    });

    JiuXFCalendar.load_data();
})

</script>


<div class="right_list">
    <div class="title">	
        <a  href="" target="_blank"><h2>酒行业活动日历</h2></a>
    </div>
    
    
<div class="month-container">
      <div class="month-head"><span class="ll" style="cursor:pointer;margin-right:30px;" >&lt; </span><span class="mm" ></span><span class="rr" style="cursor:pointer;margin-left:30px;">&gt;</span></div>
      <ul class="month-body">
      <div class="month-cell orange"><span>日</span></div>    
      <div class="month-cell blue"><span>一</span></div>
      <div class="month-cell blue"><span>二</span></div>
      <div class="month-cell blue"><span>三</span></div>
      <div class="month-cell blue"><span>四</span></div>     
      <div class="month-cell blue"><span>五</span></div>      
      <div class="month-cell blue"><span>六</span></div>
      </ul>
      <div class="clear"></div>
</div>
<ul class="activities" style="display:none;">

</ul>    

</div>

