
<div class="right_list">
    <div class="title">	
        <a  href="" target="_blank"><h2>可能感兴趣</h2></a>
    </div>

	[@cms_content_list tagName='${content.tagStr}' titLen='20' count='10' descLen='80' orderBy='8' channelOption='1' append='...' ext='1' excludeId='${content.id}' ]
    [#list tag_list as a]		
	 <a href="${a.url}" target="_blank">[@text_cut s=a.title len=titLen append=append/]<b></b></a>
	 [/#list]
	 [/@cms_content_list]

</div>




