<div class="right_list right_list_comment">
    <div class="title">	
        <h2>优质评论</h2>
    </div>
	[@cms_comment_list  count='4' recommend='1' textLen='80' titLen='17' dateFormat='yyyy-MM-dd HH:mm' append='...']
    [#list tag_list as c]
    <h5 class="author_comment">${(c.commentUser.username)!"${site.name}"} • <span>1小时前</span></h5>
    <div class="comment_box">
        <a href="${c.content.url}" target="_blank">
        	<em></em>
        	<p>[@text_cut s=c.textHtml len=textLen append=append/]</p>
        	<h5 class="comment_article"><span>原文 •</span>[@text_cut s=c.content.title len=titLen append=append/] </h5>
        </a>
    </div>
    [/#list]
    [/@cms_comment_list]	
</div>    
