<h2 class="font15 b_15">酒学坊专栏</h2>
<div class="tags b_15">
	<a title="深度观察，策划中……" hidefocus="true">深度观察</a> 
	<a title="战略方向，策划中……" hidefocus="true">战略方向</a> 
	<a title="营销策略，策划中……" hidefocus="true">营销策略</a>
	<a title="组织效率，策划中……" hidefocus="true">组织效率</a> 
	<a title="最佳实践，策划中……" hidefocus="true">最佳实践</a> 
	<a title="专题活动，策划中……" hidefocus="true">专题活动</a>
	<div class="clear"></div>
</div>
