<div class="right_ad">
	<a href="http://www.ceyoung.cn/" target="_blank" title="泽洋设计，专注UI设计">
    	<img src="/${res}/imgs/ad_ceyang.png">
    </a>
	<a href="http://www.mengyuechina.com/" target="_blank" title="孟跃营销咨询，酒行业营销专家">
    	<img src="/${res}/imgs/ad_mengyue.png">
    </a>    
</div>