#jjr_name{
	position:absolute;
	top:85px;
	left:120px;
}
#jjr_prov{
	position:absolute;
	top:85px;
	left:280px;
}
#jjr_address{
	position:absolute;
	top:115px;
	left:120px;
	width:200px;
}
#jjr_company{
	position:absolute;
	top:168px;
	left:120px;
}
#jjr_product{
	position:absolute;
	top:224px;
	left:120px;
}
#jjr_tel{
	position:absolute;
	top:196px;
	left:120px;
}

#jjr_year {
	position:absolute;
	top:355px;
	left:230px;
}

#jjr_month {
	position:absolute;
	top:355px;
	left:285px;
}

#jjr_day {
	position:absolute;
	top:355px;
	left:320px;	
}

#sjr_name{
	position:absolute;
	top:85px;
	left:450px;	
}

#sjr_prov{
	position:absolute;
	top:85px;
	left:610px;	
}

#sjr_address{
	position:absolute;
	top:115px;
	left:450px;	
	width:240px;
}

#sjr_mobile{
	position:absolute;
	top:196px;
	left:450px;	
}

#sjr_num {
	position:absolute;
	top:255px;
	left:660px;	
}
