*{padding:0px; margin:0px; border:none}
img{border:none}
body{font-size:10px; color:#000000; font-family: "microsoft yahei"; }
.box{ width:480px; height:595px; overflow:hidden; margin:0px auto; position:relative}
.clr{clear:both}
hr{height:1px; width:100%; background:#868686}

.page-magin{ padding:50px 30px 0px 30px}
.head-top{position:relative; width:100%; font-size:10px;  line-height:11px;}
.head-topbox{padding:12px;border:2px solid #000000;}
.td-t1{ width:50%; padding:4px 0px}
.td-t2{padding-right:10px;padding:4px 0px}
.head-topbox .td-t3{padding:10px 0px 5px 0px; line-height:18px;text-align:Justify;text-justify:inter-ideograph}

.shop{ padding-top:10px}
.shop .table-title td{padding:10px 0px}
.shop td{border-bottom:1px solid #CCCCCC; font-size:11px; padding:20px 5px 20px 0px} 
.table-title td{font-weight:bold; line-height:30px; }
.shop .table-title td{font-size:11px; font-weight:bold; color:#000000;}
.shop .table-title td{padding:0px 5px 0px 0px; line-height:30px; line-height:30px}
.table-title .td1 span{ display:inline-block; border-bottom:0px solid #3A3A3A; position:relative; bottom:-1px; height:30px; line-height:30px;}
.shop .td1{  padding-right:30px; font-size:10px; line-height:18px;text-align:Justify;text-justify:inter-ideograph}
.td2{ width:35px;}
.td3{ width:52px} 
.shop .td2,.shop .td3,.shop .td4{ font-size:10px;}

.shop .td4{ width:52px; text-align:right; padding-right:0px}

.table-title .td1,.table-title .td2,.table-title .td3,.table-title .td4,{font-weight:bold; font-style:13px}

.shop2{border-bottom:0px solid #C7C7C7; padding-top:5px; position:relative}
.shop2 div{float:right;padding:5px 0px; line-height:20px}
.td-3{ text-align:right}
.shop2 .td-2 { margin-right:30px;text-align:left; max-width:200px; overflow:hidden}
.shop2 .td-2 span,.shop2 .td-3 span{white-space:nowrap}


.bottom{ position:absolute; bottom:30px; padding:15px 0px; left:30px; right:30px;border-bottom:1pt solid #CCCCCC;border-top:1pt solid #CCCCCC;}
.bottom p{float:left;white-space:nowrap; line-height:18px; font-size:10px; position:relative; top:-3px }
.bottom p span{font-size:9px}
.erweima{float:left; width:50px; height:50px; margin-right:15px}
.erweima img{ width:50px; height:50px;}
.bottom p span{padding-bottom:6px; display:inline-block; line-height:16px;}
.logo{float:right}
.logo img{width:60px; height:50px}

.print-button{width:420px; margin:30px auto }
.print-button input{ background:none; border:1px solid #B2B38B; width:420px; height:48px; font-size:18px; color:#A19E48; text-align:center; font-weight:bold; font-weight:bold; cursor:pointer}