[#if user??]
			
            	 <a  href="${base}/logout.jspx?returnUrl=/" title="退出登录">退出</a>
                    <a  href="${base}/member/index.jspx" title="会员中心">${(user.username)!}</a>
                
           
		
                 
        
            

[#else]

                	<a  href="${base}/login.jspx?returnUrl=/" title="会员登录">登录</a>
                	

                    <a  href="${base}/register.jspx" title="注册会员">注册</a>
             
            
            
[/#if]

<!--[#if user??]
欢迎您: ${user.username} &nbsp; ${user.group.name} &nbsp; <a href="${base}/member/index.jspx" class="hyzx_header">会员中心</a><a href="${base}/logout.jspx?returnUrl=/" class="tcdl_header">退出登录</a>
[#else]
<a href="${base}/register.jspx" class="zc_header">注册</a>&nbsp;<a href="${base}/login.jspx?returnUrl=/" class="dl_header">登录</a>
[/#if]
 -->