<ul class="pinlun">
[#list list as c]
  <li>
		<div class="avatar_r"><img  src="${c.commentUser.userExt.userImg!'/${res}/image/more_touxiang.png'}"/></div>
		<div class="pl_list">
        	<span class="pinglun_shuxing">${(c.commentUser.username)!"匿名网友"} 于 ${c.createTime?string('yyyy-MM-dd')}  评论道:</span>
        	<p>${c.textHtml!}</p>
        </div>
   	 	<div class="clr"></div>
	</li>
[/#list]
</ul>