<link href="${base}/res/jskj/css/admin.css" rel="stylesheet" type="text/css"/>
<link href="${base}/res/common/css/theme.css" rel="stylesheet" type="text/css"/>
<link href="${base}/res/common/css/jquery.validate.css" rel="stylesheet" type="text/css"/>
<link href="${base}/res/common/css/jquery.treeview.css" rel="stylesheet" type="text/css"/>
<link href="${base}/res/common/css/jquery.ui.css" rel="stylesheet" type="text/css"/>

<script src="${base}/thirdparty/fckeditor/fckeditor.js" type="text/javascript"></script>
<script src="${base}/thirdparty/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
<script src="${base}/res/common/js/jquery.js" type="text/javascript"></script>
<script src="${base}/res/common/js/jquery.ext.js" type="text/javascript"></script>
<script src="${base}/res/common/js/pony.js" type="text/javascript"></script>
<script src="${base}/res/jskj/js/admin.js" type="text/javascript"></script>