[#include "../include/yetoudaohang.html"/]
<div class="mian">
	<div class="mian_left">

    </div>
		
  <div class="mian_right">
  	[#include "../include/right_video.html"/]
    [#include "../include/right_tags.html"/]
    [#include "../include/right_writer.html"/]
    [#include "../include/right_follow.html"/]
  </div>
<div class="clr"></div>
</div>
[#include "../include/yejiaoxinxinlan.html"/]
