.shop_nav {
	display: block;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 999
}

.shop_navlogo {
	height: 45px;
	background-color: #00A569;
	line-height: 45px;
	position: relative;
	width: 100%;
	color: #ffffff;
	font-weight: normal;
	font-size: 15px;
	margin-bottom: 7px
}

.div_navlogo {
	float: left;
	display: inline-block;
	margin-left: 7px;
	margin-right: 7px
}

.shop_nav_name {
	height: 20px;
	line-height: 20px;
	margin-top: 12px;
	float: left;
	display: inline-block;
	border-left: 1px solid #ffffff;
	padding-left: 7px
}

.navlogo {
	height: 23px;
	width: auto;
	margin-top: 11px;
	animation: navlogo 4s linear 0s infinite alternate;
	-moz-animation: navlogo 4s linear 0s infinite alternate;
	-webkit-animation: navlogo 4s linear 0s infinite alternate;
	-o-animation: navlogo 4s linear 0s infinite alternate;
	-ms-animation: navlogo 4s linear 0s infinite alternate
}

@
keyframes navlogo { 0%{
	transform: rotate(0deg)
}

80%{
transform
:rotate(0deg)
}
100%{
transform
:rotate(360deg)
}
}
@
-moz-keyframes navlogo { 0%{
	transform: rotate(0deg)
}

80%{
transform
:rotate(0deg)
}
100%{
transform
:rotate(360deg)
}
}
@
-webkit-keyframes navlogo { 0%{
	transform: rotate(0deg)
}

80%{
transform
:rotate(0deg)
}
100%{
transform
:rotate(360deg)
}
}
@
-o-keyframes navlogo { 0%{
	transform: rotate(0deg)
}

80%{
transform
:rotate(0deg)
}
100%{
transform
:rotate(360deg)
}
}
@
-ms-keyframes navlogo { 0%{
	transform: rotate(0deg)
}

80%{
transform
:rotate(0deg)
}
100%{
transform
:rotate(360deg)
}
}
#carts-number {
	display: block;
	height: 12px;
	background: #ff4b54;
	line-height: 12px;
	width: 16px;
	border-radius: 8px;
	float: left;
	margin-left: -16px;
	margin-top: 4px;
	color: #ffffff;
	text-align: center;
	font-weight: normal;
	font-size: 7px
}

body {
	opacity: 1
}

* {
	margin: 0px;
	padding: 0px
}

body {
	font-family: Microsoft YaHei, MicrosoftJhengHei, SimHei, STHeiti, SimSun,
		Hiragino Sans GB
}

div,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,img,ol,ul,li,table,th,td,p,span,a {
	border: none
}

ul,ol {
	list-style-type: none
}

.clear {
	clear: both
}

.a_button {
	text-decoration: none
}

.phbordert {
	border-top: 1px #eee solid
}

.phborderr {
	border-right: 1px #eee solid
}

.phborderb {
	border-bottom: 1px #eee solid
}

.phborderl {
	border-left: 1px #eee solid
}

.phimg {
	display: block;
	border: none
}

.clear {
	clear: both
}

.divleft {
	float: left
}

.divcenter {
	text-align: center
}

.unline {
	text-decoration: none;
	border: none
}

.pd_gap10 {
	height: 10px;
	background: #f9f9f9
}

.pd_buybtn {
	color: #fff;
	padding: 8px 15px;
	border-radius: 4px;
	font-size: 14px;
	background: #ff4b54
}

.pd_redbtn {
	color: #fff;
	padding: 8px 15px;
	border-radius: 2px;
	font-size: 14px;
	background: #ff4b54
}

.pd_redbtn:active {
	background: #feb1b5
}

.pb_content {
	width: 100%
}

.pb_head {
	padding: 20px
}

.pb_shtitle {
	font-size: 14px
}

.pb_shcontent {
	font-size: 12px;
	color: #ddd
}

.pb_sjrtitle {
	display: block;
	float: left;
	font-size: 14px
}

.pb_sjrname {
	display: block;
	float: left;
	font-size: 12px;
	color: #ddd
}

.pb_number {
	display: block;
	float: right;
	font-size: 12px
}

.pb_unaddress {
	color: #900;
	font-size: 16px
}

.pb_addaddress {
	text-align: center
}

.pb_clientdetail {
	display: block
}

.pb_productlist {
	padding: 20px;
	font-size: 14px
}

.pb_productimg {
	width: 30%;
	display: block;
	float: left;
	margin-right: 9%
}

.pb_producttext {
	float: left;
	width: 60%
}

.pb_producttitle {
	font-size: 16px;
	margin-bottom: 2px
}

.pb_guige {
	font-size: 12px;
	color: #dddddd;
	margin-bottom: 2px
}

.pb_msg {
	padding: 20px
}

.pb_textarea {
	width: 100%;
	height: 90px
}

.pb_foot {
	padding: 20px;
	text-align: center
}

.pb_redbtn {
	display: block;
	width: 100%;
	color: #fff;
	padding: 8px 0px;
	border-radius: 4px;
	font-size: 14px;
	background: #ff4b54;
	margin-bottom: 10px
}

.pb_greenbtn {
	display: block;
	width: 100%;
	color: #fff;
	padding: 8px 0px;
	border-radius: 4px;
	font-size: 14px;
	background: green
}

.div1 {
	padding-left: 15px;
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	position: relative
}

.div1 img {
	position: absolute;
	right: 15px
}

.div1:hover {
	background-color: #ddd
}

.div_sp1 {
	font-size: 14pt;
	font-weight: bold
}

.div_sp2 {
	font-size: 11pt;
	color: #1c1c1c
}

.div2 {
	padding-left: 15px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #dddddd;
	position: relative
}

.div2 img {
	position: absolute;
	right: 15px
}

.div2:hover {
	background-color: #ddd
}

.total_price {
	height: 20px
}

.pb_foot {
	padding: 20px 10%;
	text-align: center
}

.pb_foot p {
	margin-bottom: 15px;
	text-align: left
}

.total_price {
	font-size: 12pt;
	font-weight: bold
}

.shipping_charge {
	font-size: 14pt;
	color: #900
}

.shipping_info {
	font-size: 10pt;
	color: #1c1c1c
}

.shopping-cart-page {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
	padding-bottom: 50px;
	outline: none;
	-webkit-outline: none;
	-moz-outline: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	background: #fff;
	min-width: 320px;
	margin: 0;
	padding: 0;
	font-family: "microsoft yahei", Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em
}

.payment-total-bar {
	width: 100%;
	height: 50px;
	overflow: hidden;
	position: fixed;
	background: #eaedf1;
	bottom: 0
}

.payment-total-bar span {
	color: #999;
	font-size: 10px
}

.payment-total-bar strong,.shp-cart-total span {
	color: #e4393c;
	font-size: 14px;
	font-weight: normal
}

.btn-right-block {
	display: block;
	width: 70px;
	padding: 0 8px;
	line-height: 50px;
	text-align: center;
	background: #e4393c;
	color: #fff;
	font-size: 14px;
	float: right;
	font-weight: normal;
	position: absolute;
	right: 0
}

.btn-right-block span {
	color: #fff;
	font-size: 14px
}

.shp-cart-info {
	display: block;
	float: left;
	min-width: 200px;
	margin-top: 3px
}

.shp-cart-total {
	margin-top: 6px;
	display: block
}

.tips {
	border: 1px dotted #dbd9d9;
	border-radius: 4px;
	font-size: 12px;
	margin: 15px 10px;
	background: #efefef;
	color: #000;
	padding: 9px 2px;
	font-weight: normal;
	text-align: center
}

.tips.tips-save-money {
	background: #f3efe8;
	color: #a0978d
}

.shp-chk {
	width: 38px;
	float: left;
	text-align: center;
	overflow: hidden;
	padding-top: 15px
}

.cart-checkbox {
	display: block;
	width: 20px;
	height: 20px;
	margin: 0 auto;
	background-size: 50px 100px
}

.cart-checkbox.checked {
	background-position: -25px 0
}

.quantity-wrapper {
	float: right
}

.cart-product-price {
	float: left
}

.quantity-decrease,.quantity,.quantity-increase {
	float: left;
	font-size: 14px;
	text-align: center
}

.quantity-decrease,.quantity-increase {
	background: #fff;
	border: 1px solid #ccc;
	color: #666;
	display: block;
	line-height: 24px;
	width: 32px;
	overflow: hidden;
	text-indent: -200px;
	background-size: 50px 100px
}

.quantity-decrease {
	-webkit-border-radius: 2px 0 0 2px;
	background-position: 10px -20px
}

.quantity {
	color: #333;
	border: solid #ccc;
	border-width: 1px 0 1px 0;
	height: 24px;
	width: 32px;
	border-radius: 0
}

.quantity-increase {
	-webkit-border-radius: 0 2px 2px 0
}

.quantity-decrease.disabled,.quantity-increase.disabled {
	background-color: #e8e8e8;
	color: #999;
	background-position: 10px -45px
}

.quantity-increase.disabled {
	background-position: -15px -45px
}

.empty-sign {
	background-size: 100px 100px;
	height: 110px;
	margin-top: 33px
}

.empty-warning-text {
	text-align: center;
	font-size: 14px;
	color: #999;
	line-height: 18px;
	min-height: 50px
}

.empty-btn-wrapper {
	margin-top: 15px;
	text-align: center
}

.empty-btn-wrapper .btn-large {
	margin: 0 10px
}

.shp-cart-list li,.shp-cart-promotion-list li {
	padding-bottom: 10px;
	border-width: 0 0 1px 0
}

.shp-cart-list li {
	min-height: 70px
}

.shp-cart-promotion-list li {
	min-height: 76px
}

.items {
	text-align: left;
	padding-top: 10px
}

.shp-cart-promotion-list .items {
	padding-top: 15px
}

#mask-con .cart-checkbox {
	border: 9px solid #fff
}

.cart-photo-thumb {
	width: 40%;
	height: 100%;
	border: 1px solid #dddcdc;
	background-size: 25px 10px
}

.cart-product-cell-1,.cart-product-cell-additional {
	width: 20%;
	height: 70px;
	display: block;
	float: left
}

.cart-product-cell-additional {
	height: auto;
	line-height: 1.5em;
	padding-bottom: 10px
}

.cart-product-cell-2 {
	min-width: 118px;
	width: 70%;
	height: 100%;
	float: left
}

.cart-product-cell-3 {
	width: 10%;
	right: 0;
	background: #fff;
	white-space: nowrap;
	margin-right: 10px;
	text-align: right;
	margin-top: -2px
}

.shp-cart-promotions-right {
	margin-left: 80px;
	margin-right: 10px
}

.shp-cart-promotions-thumb {
	width: 62px;
	height: 62px;
	margin-left: 10px;
	position: absolute
}

.shp-cart-promotion-opt {
	min-height: 20px
}

.shp-cart-promotion-price {
	float: left
}

.shp-cart-item-price {
	font-size: 13px;
	color: #555
}

.shp-cart-item-price.priceSizeMid {
	font-size: 0.7em
}

.shp-cart-item-price.priceSizeSmall {
	font-size: 0.6em
}

.bottom-bar-price.priceSizeMid {
	font-size: 0.8em
}

.bottom-bar-price.priceSizeSmall {
	font-size: 0.7em
}

.shp-cart-promotion-right {
	float: right
}

.additional-item {
	margin-right: 10px;
	clear: both
}

.additional-item-title {
	background: #f5f5f5;
	height: 26px;
	line-height: 26px;
	font-size: 13px;
	color: #999;
	padding-left: 10px;
	clear: both
}

.additional-guarantee .additional-item-title,.additional-guarantee .additional-list-header
	{
	padding-left: 20px
}

.additional-guarantee .additional-item-title {
	border-top: 1px solid #c8c7cc
}

.additional-guarantee .additional-item .cart-product-name {
	line-height: 2em;
	margin-left: 82px
}

.additional-guarantee .additional-item-title:first-child {
	border: none
}

.additional-guarantee .additional-item {
	margin-left: 58px
}

.additional-guarantee .check-wrapper {
	margin-left: -40px
}

.additional-item .cart-product-name {
	min-height: 32px;
	line-height: 16px
}

.shp-cart-promotions-right .cart-product-name {
	min-height: 32px;
	line-height: 16px
}

.additional-items {
	min-height: 70px;
	margin-top: 10px
}

.item-wrapper {
	float: right;
	width: 100%;
	margin-left: -110px
}

.additional-item-content {
	margin-left: 110px;
	margin-right: 10px
}

.additional-check-wrapper {
	float: left;
	width: 40px
}

.additional-check-wrapper .cart-checkbox {
	border: 4px solid #fff;
	margin-top: 14px
}

.additional-item-thumb {
	float: right;
	width: 70px
}

.additional-item-thumb img {
	width: 59px;
	height: auto
}

.additional-guarantee-item {
	min-height: 70px;
	clear: both
}

.additional-guarantee-part1,.additional-guarantee-part2,.additional-guarantee-part3
	{
	float: left
}

.additional-guarantee-part1 {
	width: 58px
}

.additional-guarantee-part1 .cart-checkbox {
	font-size: 0;
	width: 20px;
	height: 20px;
	background-size: 50px 100px;
	border: 9px solid #fff;
	margin-top: 9px
}

.additional-guarantee-part2 {
	width: 80px
}

.additional-guarantee-part3 {
	display: table;
	width: 150px
}

.additional-guarantee-part3 div {
	display: table-cell;
	width: 100%;
	white-space: nowrap;
	vertical-align: top;
	font-size: 13px;
	color: #666
}

.additional-guarantee-part3 strong {
	font-weight: normal;
	display: block;
	height: 2.2em
}

.mart10 {
	margin-top: 10px
}

.padd0 {
	padding-top: 0 !important
}

.cart-product-name {
	font-size: 13px;
	line-height: 1.2em;
	color: #666;
	margin-bottom: 5px;
	vertical-align: top;
	height: 2.4em
}

.cart-product-name a {
	color: #555
}

.cart-product-name a span {
	height: 2.3em;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.2em;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical
}

.shp-cart-item-abstract .cart-product-name {
	height: auto;
	line-height: 1.2em
}

.btn-white {
	display: inline-block;
	font-size: 12px;
	line-height: 12px;
	border-radius: 3px;
	border: 1px solid #ccc;
	padding: 3px 4px 3px;
	color: #999
}

.shp-cart-gift-list {
	color: #999;
	font-size: 11px;
	line-height: 15px;
	text-align: justify;
	padding-right: 12px;
	padding-top: 10px
}

.shp-cart-conditions-link,.shp-cart-conditions-span {
	display: block;
	color: #999;
	font-size: 12px;
	min-height: 1.4em;
	margin-right: 15px;
	margin-top: 12px;
	padding-bottom: 8px
}

.shp-cart-conditions-link {
	background-size: 6px 10px;
	background-position: right 2px
}

.condition-description {
	width: auto;
	padding-left: 50px;
	line-height: 1.2em;
	margin-right: 30px;
	padding-top: 0;
	padding-right: 12px;
	display: table-cell;
	vertical-align: top
}

.shp-cart-conditions-span .condition-description,.shp-cart-conditions-span .condition-description
	{
	margin-right: 0;
	padding-right: 0
}

.gifts-details {
	padding-top: 8px;
	display: block
}

.gifts-detail-description {
	margin-left: 50px;
	max-width: 70%;
	height: 2.6em;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical
}

.gifts-details .shp-cart-icon-remove {
	margin-top: -23px
}

.shp-cart-conditions-link .icon-condition,.shp-cart-conditions-span .icon-condition
	{
	position: absolute
}

.icon-condition,.icon-exchange {
	background: #f24b48;
	color: #fff;
	padding: 0;
	width: 40px;
	height: 14px;
	overflow: hidden;
	text-align: center;
	display: inline-block;
	font-size: 12px;
	line-height: 1.2em;
	vertical-align: top
}

.icon-exchange {
	background: #6cb247;
	width: auto;
	padding-left: 4px;
	padding-right: 4px
}

.shp-cart-extra-con {
	font-size: 12px;
	color: #999;
	padding: 5px 50px 0 45px
}

.shp-cart-extra .shp-cart-icon-remove {
	margin-top: -23px
}

.shp-cart-item-core {
	min-height: 100px
}

.shp-cart-item-abstract {
	padding-top: 10px
}

.shp-cart-item-abstract .check-wrapper {
	margin-top: 0
}

.shp-cart-tag-trade:before {
	content: '';
	width: 59px;
	height: 59px;
	background-size: 59px 59px;
	position: absolute
}

.shp-cart-amount {
	color: #999
}

.additional-list-items .items {
	margin-left: 40px
}

.additional-list-header {
	height: 42px;
	line-height: 42px;
	color: #666;
	font-size: 13px;
	padding: 0 10px;
	border-bottom: 1px solid #c8c7cc
}

.additional-list-wrapper {
	overflow: auto
}

.btn-jd-red {
	color: #fff;
	display: inline-block;
	background: #e4393c;
	border-radius: 3px;
	padding: 4px 12px;
	line-height: 1.2em
}

.btn-jd-darkred {
	color: #fff;
	display: inline-block;
	background: #c00000;
	border-radius: 3px;
	padding: 4px 12px;
	line-height: 1.2em
}

.btn-jd-gray {
	color: #fff;
	display: inline-block;
	background: #bfbfbf;
	border-radius: 3px;
	padding: 4px 12px;
	line-height: 1.2em
}

.btn-jd-red.btn-large,.btn-jd-gray.btn-large,.btn-jd-darkred.btn-large {
	font-size: 14px;
	padding: 12px 40px
}

.additional-list-header .highlight {
	color: #c33
}

.additional-list-header-right {
	float: right;
	width: 50%;
	text-align: right
}

.shp-cart-list .items,.shp-cart-conditions-span,.shp-cart-item-abstract,.shp-cart-conditions-link,.shp-cart-list .diver-hr-dashed,.shp-cart-list .diver-hr-solid
	{
	margin-left: 40px
}

.items .shp-cart-item-abstract {
	margin-left: 0
}

.items .shp-cart-item-abstract.empty {
	height: 20px;
	padding-top: 8px
}

.items .diver-hr-dashed {
	margin-left: 0
}

.shp-cart-list li.diver-hr-solid:first-child {
	margin-left: 0
}

.payment-total-bar .cart-checkbox {
	margin-left: 11px
}

#mask {
	position: fixed;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.9);
	z-index: 20000;
	width: 100%;
	height: 100%
}

#mask-wraper {
	width: 100%;
	position: absolute;
	height: 1px;
	bottom: 0
}

#mask-con {
	position: absolute;
	width: 100%;
	top: 1px;
	background: #fff
}

#mask-con .check-wrapper {
	position: relative;
	height: 1px;
	top: 11px;
	margin-top: 0
}

.fade-in {
	animation: 1s fade-in-action;
	-webkit-animation: 1s fade-in-action
}

.crop-list {
	overflow: hidden
}

.crop-list .shp-cart-icon-remove,.crop-list .cart-product-cell-3,.crop-list .check-wrapper,.crop-list .shp-cart-conditions-link .icon-condition
	{
	display: none
}

.header-login-info {
	color: #666;
	font-size: 13px;
	vertical-align: top;
	text-align: center;
	width: inherit;
	background: #f9f9f9;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15)
}

.header-login-info-left {
	display: inline-block;
	max-width: 70%;
	text-align: left;
	margin-top: 12px;
	margin-bottom: 10px;
	font-size: 12px
}

.header-login-info-right {
	display: inline-block;
	line-height: 40px;
	min-height: 40px;
	margin-left: 10px;
	vertical-align: top;
	font-size: 13px
}

.pop-block {
	position: absolute;
	width: 100%;
	z-index: 20001;
	text-align: center;
	display: none
}

.popup_content {
	min-width: 70px;
	text-align: center;
	line-height: 1.2em;
	padding: 1em;
	color: #fff;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 2px;
	border: 1px solid #666
}

.shp-cart-icon-remove {
	cursor: pointer;
	display: inline-block;
	height: 23px;
	margin-right: 15px;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-indent: -1000px;
	width: 23px
}

* {
	margin: 0px;
	padding: 0px
}

body {
	font-family: Microsoft YaHei, MicrosoftJhengHei, SimHei, STHeiti, SimSun,
		Hiragino Sans GB
}

.phbordert {
	border-top: 1px #eee solid
}

.phborderr {
	border-right: 1px #eee solid
}

.phborderb {
	border-bottom: 1px #eee solid
}

.phborderl {
	border-left: 1px #eee solid
}

.phimg {
	display: block;
	border: none
}

.clear {
	clear: both
}

.divleft {
	float: left
}

.divcenter {
	text-align: center
}

.unline {
	text-decoration: none;
	border: none
}

.homepagesearch {
	padding: 8px 20px;
	text-align: center
}

input[type=search] {
	-webkit-appearance: none;
	height: 50px;
	width: 75%;
	border-right: none;
	margin-right: -8px;
	outline: none;
	border-radius: 0
}

.hpsearch {
	-webkit-appearance: none;
	height: 50px;
	padding: 10px 20px;
	background: url(http://h5.4007060700.com/assets/search_p-162e8cd898530d59ddf5019cd2b727d4.png)
		no-repeat;
	background-position: center;
	border-radius: 0;
	width: 24%;
	background-color: #f9f9f7
}

.hpsearch:active {
	background-image:
		url(http://h5.4007060700.com/assets/search_n-cfb777ee19cb1da4896347bce604dbd2.png);
	background-position: center;
	margin: 0px
}

.hpclass1 {
	width: 32%;
	position: relative
}

.hpclass1 p {
	width: 100%;
	text-align: center;
	font-size: 13pt;
	font-weight: bold;
	position: absolute;
	bottom: 5px
}

.homepagebanner {
	width: 100%
}

.homepagebanner img {
	width: 100%
}

.homepageclass {
	padding: 4px 1%
}

.homepagelisttitle {
	height: 50px;
	line-height: 50px;
	background: #f9f9f7
}

.hpproductname {
	text-align: left;
	font-size: 21px;
	color: #575757;
	font-weight: 600;
	padding: 10px 0px 10px 10px
}

.hpprice {
	text-align: left;
	padding-left: 10px;
	padding-bottom: 10px
}

.newhpprice {
	color: red;
	font-size: 24px;
	font-weight: bold
}

.oldhpprice {
	color: #999;
	font-size: 20;
	text-decoration: line-through;
	font-weight: bold
}

.hptitlegrayleft {
	font-size: 18px;
	text-indent: 5px;
	font-weight: 500;
	color: #909090;
	display: block;
	float: left;
	margin-left: 10px
}

.hptitlegrayright {
	font-size: 18px;
	text-indent: 5px;
	font-weight: 500;
	display: block;
	color: #909090;
	float: right;
	margin-right: 15px
}

.hptitlegrayright a {
	color: #909090
}

.hpproductlist {
	list-style-type: none
}

.hpproductlist .hplileft {
	display: block;
	float: left;
	width: 49.5%;
	border-top: 1px #eeeeee solid;
	border-bottom: 1px #eeeeee solid;
	text-align: center
}

.hpproductlist .hplileft:nth-child(2n+1) {
	display: block;
	float: left;
	width: 49.5%;
	border-top: 1px #eeeeee solid;
	border-right: 1px #eeeeee solid;
	border-bottom: 1px #eeeeee solid;
	text-align: center
}

.hpproductlist li img {
	width: 100%
}

.viewmore {
	height: 50px;
	font-size: 24px;
	font-weight: 600;
	line-height: 50px;
	text-align: center
}

.viewmore a {
	color: #ddd
}

.homepagebottom {
	height: 60px;
	line-height: 60px;
	padding-top: 5px
}

.homepagebottom img {
	height: 50px
}

* {
	-webkit-tap-highlight-color: transparent
}

a {
	text-decoration: none
}

body {
	margin-bottom: 30px
}

.wrap {
	min-width: 320px;
	min-height: 320px;
	margin: 0 auto
}

.order-con {
	background-color: #f9f9f7
}

.order-list {
	position: relative;
	top: 0px
}

.order-list li {
	display: list-item;
	text-align: center
}

.order-box {
	margin-top: 10px;
	background: #FFF;
	border-top: 2px solid #e9e8e7;
	border-bottom: 2px solid #e9e8e7;
	display: inline-block;
	width: 96%
}

.order-box .order-msg {
	margin-top: 10px
}

.order-box p {
	text-align: left;
	vertical-align: bottom
}

.order-box .order-msg .price {
	height: 20px;
	color: #7b7b7b
}

.order-box .order-msg .order-data {
	height: 20px;
	color: #7b7b7b
}

.order-box .order-msg .title span {
	float: right;
	margin-right: 5px
}

.order-box .order-msg .title {
	height: 20px;
	overflow: hidden;
	color: #7b7b7b
}

.order-box img {
	float: left;
	border: 1px solid #e4e4e4;
	margin-right: 20px
}

.red {
	color: #c00000
}

#con_more {
	margin-top: 10px;
	height: 20px;
	background-color: #f9f9f7;
	font-size: 20px;
	width: 100%
}

* {
	margin: 0px;
	padding: 0px
}

body {
	font-family: Microsoft YaHei, MicrosoftJhengHei, SimHei, STHeiti, SimSun,
		Hiragino Sans GB
}

div,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,img,ol,ul,li,table,th,td,p,span,a {
	border: none
}

ul,ol {
	list-style-type: none
}

.clear {
	clear: both
}

.a_button {
	text-decoration: none
}

.phbordert {
	border-top: 1px #eee solid
}

.phborderr {
	border-right: 1px #eee solid
}

.phborderb {
	border-bottom: 1px #eee solid
}

.phborderl {
	border-left: 1px #eee solid
}

.phimg {
	display: block;
	border: none
}

.clear {
	clear: both
}

.divleft {
	float: left
}

.divcenter {
	text-align: center
}

.unline {
	text-decoration: none;
	border: none
}

.ordercontent {
	background: #fff
}

.orderhead {
	padding: 20px
}

.orderhead .orderstate {
	color: #ddd
}

.orderlist li {
	padding: 20px;
	border-bottom: 1px #eee solid
}

.orderlist li img {
	width: 30%;
	display: block;
	float: left;
	margin-right: 9%
}

.orderproducttext {
	float: left;
	width: 60%
}

.orderproducttitle {
	font-size: 16px;
	margin-bottom: 2px
}

.orderguige {
	font-size: 12px;
	color: #dddddd;
	margin-bottom: 2px
}

.orderinfo {
	margin-top: 20px;
	font-size: 14px;
	padding-left: 20px
}

.orderinfo p {
	margin-bottom: 20px
}

.orderinfo p .orderinfo_2 {
	color: #ddd
}

.orderuserinfo {
	margin-top: 20px;
	font-size: 14px;
	padding-left: 20px
}

.orderuserinfo p {
	margin-bottom: 20px
}

.orderuserinfo p .orderuserinfo_2 {
	color: #ddd
}

.orderuserinfo p .orderuserinfo_3 {
	display: inline-block;
	float: right;
	margin-right: 10px
}

.ordermsg {
	background: #f9f9f7;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 40px
}

.ordermsgcontent {
	margin-top: 15px;
	color: #ddd
}

* {
	margin: 0px;
	padding: 0px
}

body {
	font-family: Microsoft YaHei, MicrosoftJhengHei, SimHei, STHeiti, SimSun,
		Hiragino Sans GB
}

div,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,img,ol,ul,li,table,th,td,p,span,a {
	border: none
}

ul,ol {
	list-style-type: none
}

.clear {
	clear: both
}

.a_button {
	text-decoration: none
}

.phbordert {
	border-top: 1px #eee solid
}

.phborderr {
	border-right: 1px #eee solid
}

.phborderb {
	border-bottom: 1px #eee solid
}

.phborderl {
	border-left: 1px #eee solid
}

.phimg {
	display: block;
	border: none
}

.clear {
	clear: both
}

.divleft {
	float: left
}

.divcenter {
	text-align: center
}

.unline {
	text-decoration: none;
	border: none
}

.pd_gap10 {
	height: 10px;
	background: #f9f9f9
}

.pd_cartbtn {
	font-weight: normal;
	color: #fff;
	padding: 8px 15px;
	border-radius: 2px;
	font-size: 14px;
	background: #F90
}

.pd_cartbtn:active {
	background: #ffdaa6
}

.pd_buybtn {
	font-weight: normal;
	color: #fff;
	padding: 8px 15px;
	border-radius: 2px;
	font-size: 14px;
	background: #ff4b54
}

.pd_buybtn:active {
	background: #feb1b5
}

.pd_redbtn {
	color: #fff;
	padding: 8px 15px;
	border-radius: 4px;
	font-size: 14px;
	background: #ff4b54
}

.pd_safe {
	width: 100%
}

.pd_productimg {
	width: 100%
}

.pd_textinfo {
	padding: 8px 15px 3px 15px;
	font-size: 13px;
	font-weight: normal;
	color: #575757;
	background: #fff
}

.pd_price {
	padding: 0px 15px 3px 15px
}

.pd_newprice {
	color: #ff4b54;
	font-size: 17px;
	font-weight: bold;
	margin-right: 5px
}

.pd_oldprice {
	color: #909090;
	font-size: 12px;
	text-decoration: line-through;
	font-weight: normal
}

.pd_sku {
	padding: 0px 15px;
	height: 33px;
	line-height: 33px;
	background-size: 14px
}

.pd_skutitle {
	font-size: 14px;
	color: #575757
}

.pd_skudetail {
	font-size: 12px;
	color: #909090
}

.pd_sku:active {
	background: #f9f9f9
}

.pd_tab {
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #fff
}

.pd_tab_1 {
	display: block;
	width: 50%;
	text-align: center;
	color: #00A569;
	font-size: 14px;
	float: left
}

.pd_tab_2 {
	display: block;
	width: 50%;
	text-align: center;
	color: #9b9b9b;
	font-size: 14px;
	float: left
}

.pd_productdetail_text {
	padding: 5px 20px
}

.pd_productdetail {
	margin-bottom: 60px
}

.pd_productdetail img {
	width: 100%
}

.pd_buyrecord {
	background: #f9f9f7;
	display: none;
	width: 100%
}

.pd_buyrecord li {
	display: block;
	height: 50px;
	padding-left: 15px;
	border-bottom: 1px #eeeeee solid;
	color: #9b9b9b;
	font-size: 13px;
	font-weight: normal
}

.pd_buyrecord li span {
	display: inline-block;
	vertical-align: middle;
	text-align: left
}

.pd_buytime {
	width: 20%
}

.hphline1 {
	margin-top: 16px;
	margin-bottom: 16px;
	height: 18px;
	width: 1px;
	background: #eeeeee;
	margin-left: 3%;
	margin-right: 3%
}

.pd_buyarea {
	width: 71%
}

.pd_addcartbuy {
	position: fixed;
	right: 0px;
	bottom: 0px;
	background: #ffffff;
	height: 45px;
	line-height: 45px;
	width: 100%
}

.pd_addcarttext a {
	color: #00A569
}

.pd_addcarttext:active {
	display: block;
	float: left;
	margin-left: 15px;
	background:
		url("/assets/pd_cart_p-f0d534f774eac9c0194325add7a682fe.png")
		no-repeat;
	background-size: 20px;
	background-position: left center;
	padding-left: 30px;
	font-size: 14px;
	color: #ff4b54
}

.pd_buttons {
	display: block;
	float: right
}

.pd_buttons a {
	color: #ffffff;
	margin-right: 5px
}

.pd_skucontent {
	margin-left: 1%;
	margin-right: 1%;
	position: fixed;
	bottom: 0px;
	background: #ffffff;
	width: 98%;
	overflow-x: hidden;
	overflow-y: auto;
	height: 300px;
	max-height: 300px;
	padding-bottom: 45px;
	display: none
}

.pd_sku_c {
	position: relative
}

.pd_sku_title {
	position: relative;
	color: #909090;
	height: 40px;
	line-height: 40px;
	text-align: center
}

.pd_skuclose {
	position: absolute;
	top: 0px;
	right: 0px;
	background: url(http://h5.4007060700.com/assets/close_n-387bf46c8d5c951406057fca73f6a2a0.png)
		no-repeat;
	width: 40px;
	background-size: 40% 40%;
	background-position: center
}

.pd_skuclose:active {
	background: url(http://h5.4007060700.com/assets/close_p-e665fb6f9c58426571a508253c3feb9b.png)
		no-repeat;
	width: 40px;
	background-size: 40% 40%;
	background-position: center
}

.pd_skulist {
	padding: 10px 15px;
	text-align: center;
	width: 100%
}

.pd_skulist li {
	display: block;
	float: left;
	vertical-align: middle;
	text-align: left;
	padding: 10px 20px;
	margin-right: 1%;
	margin-bottom: 10px;
	border: 1px solid #c0c0c0;
	font-size: 12px;
	border-radius: 3px;
	color: silver
}

.pd_skutitletext {
	font-weight: normal;
	font-size: 14px;
	color: #909090
}

.pd_skucartbtn {
	width: 100%;
	position: absolute;
	bottom: 0px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	margin-top: 45px
}

.btn-jgg {
	background-color: #00A569;
	text-decoration: none
}