@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}

body{

}

ul{
	list-style:none;
}

.clear{
	clear:both;
}


.month-container{
	background:#fffbdf;
	width:504px;
	height:auto;
	margin:30px auto 0;
	box-shadow:2px 2px 8px 1px rgba(0,0,0,0.6);
}

.month-head{
	background:#fffbdf;
	width:504px;
	height:50px;
    font:30px "microsoft yahei";
	text-shadow:2px 2px 3px #FFF;
	text-align:center;
}

.month-head span {
    color: #ffb186;
    border-color: #fffbdf;
	line-height:50px;
}


.month-cell {
    float: left;
	width:70px;
	height:70px;
	background:#F5F5F5;
	border:1px solid #FEFEFE;
}

.month-cell:active{
	box-shadow:inset 2px 2px 5px rgba(0,0,0,0.6);
}

.month-cell span {
    display: block;
    color: #cccccc;
    font:30px "microsoft yahei";
    text-align: center;
	line-height:70px;
    cursor:pointer;
}

.month-cell.active span {
    border-color: #cccccc;
}

.month-cell.pink {
    background: #fffbdf;
}

.month-cell.pink span {
    color: #ffb186;
    border-color: #fffbdf;
}

.month-cell.pink.active span {
    border-color: #ffe295;
}

.month-cell.orange {
    background: #fff5b4;
}

.month-cell.orange span {
    color: #ffaf6e;
    border-color: #fff5b4;
}

.month-cell.orange.active span {
    border-color: #ffcf71;
}

.month-cell.red {
    background: #ff6840;
}

.month-cell.red span {
    color: #ffffff;
    border-color: #ff6840;
}


.month-cell.white {
    background: #ffffff;
}

.month-cell.white span {
    color: #ffaf6e;
    border-color: #ff6840;
}



.month-cell.blue {
    background: #5bb5ec;
}

.month-cell.blue span {
    color: #ffffff;
    border-color: #5bb5ec;
}


.flipContainer{
	width:300px;
	height:100px;
	background:#FFF;
	padding:10px;
}

.flip{
	background:url(../images/filmstrip.png);
	float:left;
	width:53px;
	height:103px;
}
.month-body li{
	position:relative;
}
.actioned {
	position:absolute;
	top:70px;
	width:200px;
	min-height:100px;
	background:#aabbcc;
	z-index:99;
	display:none;
}

.month-body .show {
	display:block;
}